// ColorPicker.module.less
//
@import '../styles/colors.less';
@import '../styles/mixins.less';
@import '../styles/variables.less';

.colorPicker {
	.colorsColumn {
		float: left;
	}

	.colorBlock {
		border-color: transparent;
		border-style: solid;
		border-width: 9px;
		height: 99px;
		width: 99px;

		.focus({
			border-color: red;
			// transform: scale(1.5);
			// transition: all 0.375s cubic-bezier(0.4, 0, 0.2, 1);
		})
	}
}


