// DateComponentPicker.module.less
//
@import '../../styles/mixins.less';
@import '../../styles/variables.less';

.dateComponentPickers {
	.padding-start-end(@sand-date-component-pickers-padding, inherit);
	display: inline-block;
}

.dateComponentPicker {
	display: inline-block;
	min-width: 192px;
	text-align: center;
	margin: 24px 0;
	vertical-align: top;

	.label {
		.sand-body-text();
		text-align: center;
		padding: 36px @sand-spotlight-outset;
		white-space: nowrap;
	}
}
