// DateComponentPicker.module.less
//
@import '../../styles/mixins.less';
@import '../../styles/variables.less';

.dateComponentPicker {
	display: inline-block;
	text-align: center;
	margin: @sand-datecomponentpicker-margin;
	vertical-align: inherit;

	.label {
		.sand-body-text();
		text-align: center;
		padding: 36px @sand-spotlight-outset;
		white-space: nowrap;
	}
}
