// TabGroup.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

.tab {
	display: block; // Allow the button to fill the horizontal space and collapse as the parent Cell gets smaller.
	font-weight: normal;

	&.horizontal {
		&.button {
			width: @sand-tablayout-tab-horizontal-width;

			&.selected::after {
				content: '';
				position: absolute;
				.position(auto, 0, 0, 0);
				height: @sand-tablayout-tab-horizontal-selected-border-width;
			}
		}
	}

	&.vertical {
		margin-bottom: @sand-tablayout-tab-margin-bottom;

		.client {
			text-align: start;
		}
	}

	.applySkins({
		&.horizontal {
			&.button {
				&.selected {
					.bg {
						.sand-spotlight-resting-colors(1);
						background-color: transparent;
					}
				}

				&::after {
					background-color: @sand-tablayout-tab-horizontal-selected-border-color;
				}

				.focus({
					&::after {
						background-color: unset;
					}
				});
			}
		}

		&.vertical {
			&.button {
				&.selected {
					.bg {
						.sand-button-spotlight-resting-colors();
						background-color: @sand-tablayout-tab-selected-bg-color;
						opacity: @sand-tablayout-tab-selected-opacity;
					}
				}
			}
		}
	});
}

.applySkins({
	.tabGroup {
		.horizontalLine {
			position: absolute;
			bottom: 0;
			width: 100%;
			margin: 0;
			border: @sand-tablayout-tab-horizontal-border-width solid @sand-tablayout-tab-horizontal-border-color;
		}
	}
});
