// TabLayout.module.less
//
@import "../styles/variables.less";

.tabLayout {
	height: 100%;

	&.collapsed {
		/* We need a placeholder for spotlight default focus rules */
	}

	&.horizontal {
		.tabs {
			margin: @sand-tablayout-horizontal-tabs-margin;
		}

		.content {
			margin-top: @sand-tablayout-horizontal-content-margin-top;
		}
	}

	&.vertical {
		.tabs {
			// === Important Note ===
			//
			// onTabAnimationEnd relies on the opacity property transition to operate correctly. If
			// this transition changes in any way, verify that event is emitted only once when the
			// transition complete. If this breaks, you'll see unit test failures.
			transition: opacity @sand-tablayout-collapse-duration ease-out;
			will-change: opacity;
			opacity: 1;
		}

		.tabsExpanded {
			position: absolute;
			width: var(--cell-size); // References the cell-size, since flex-basis doesn't force-assicn a width, and cell-size normally just applies to max-width
			transition: opacity @sand-tablayout-collapse-duration ease-out, transform @sand-tablayout-collapse-duration ease-in-out;
			will-change: opacity, transform;
			transform: translateX(0); // set an initial value to ensure a smooth transition
		}

		.content {
			margin-top: @sand-tablayout-vertical-content-margin-top;
			transition: transform @sand-tablayout-collapse-duration ease-in-out;
			will-change: transform;
			transform: translateX(0); // set an initial value to ensure a smooth transition
		}

		&:not(.collapsed) {
			.tabs {
				opacity: 0;
			}

			.tabsExpanded {
				opacity: 1;
			}

			.content {
				transform: translateX(var(--tablayout-expand-collapse-diff));
			}
		}

		&.collapsed {
			.tabsExpanded {
				opacity: 0;
				transform: translateX(calc(var(--tablayout-expand-collapse-diff) * -1));
				pointer-events: none;
			}
		}
	}
}
