// TabLayout.module.less
//
@import "../styles/variables.less";

.tabLayout {
	.content {
		margin-top: @sand-tablayout-panels-margin-top;
		margin-left: @sand-tablayout-panels-margin-left;
	}

	&.collapsed {
		.content {
			margin-left: @sand-tablayout-panels-collapsed-margin-left;
		}
	}
}
