// TabbedPanels.module.less
//
@import "../styles/variables.less";

.tabLayout {
	.content {
		margin-top: @sand-tabbedpanels-panels-margin-top;
		margin-left: @sand-tabbedpanels-panels-margin-left;
	}

	&.minimized {
		.content {
			margin-left: @sand-tabbedpanels-panels-minimized-margin-left;
		}
	}

	&.reverse {
		flex-direction: row-reverse;

		&.vertical {
			flex-direction: column-reverse;
		}
	}
}
