// Input.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.input {
	.sand-body-text();

	padding: 0;
	border: 0;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
	text-indent: @sand-input-text-indent;

	&[type=number] {
		-moz-appearance: textfield;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}

		&:hover {
			-moz-appearance: none;
		}
	}

	&[placeholder] {
		text-overflow: ellipsis;
	}

	.focus({
		cursor: text;
	});

	.disabled({
		cursor: default;
	});

	:global(.enact-locale-right-to-left) & {
		text-align: right;
	}
}

.inputField {
	display: inline-flex;
	position: relative;
	padding: @sand-input-padding;
	margin: @sand-input-margin;
	box-sizing: border-box;
	vertical-align: middle;

	.bg {
		position: absolute;
		.position(0);
		border-radius: @sand-input-border-radius;
		transition: transform @sand-input-focus-duration ease-out, filter @sand-input-focus-duration ease-out;
		will-change: transform, filter;
	}

	.input,
	.inputHighlight {
		z-index: 1;
		font-size: @sand-input-font-size;
		font-weight: @sand-input-font-weight;
	}

	.input,
	.inputHighlight,
	.iconBefore,
	.iconAfter {
		line-height: @sand-input-height;
		height: @sand-input-height;
		vertical-align: middle;
	}

	.inputHighlight {
		position: absolute;
		top: 0;
		height: @sand-input-highlight-height;
		max-width: @sand-input-highlight-max-width;
		overflow: hidden;
		letter-spacing: 0.1px;
		pointer-events: none;
		opacity: 0;
		z-index: -1;
	}

	&.small {
		height: @sand-inputfield-small-height;

		.iconBefore,
		.iconAfter {
			line-height: @sand-input-small-height;
			height: @sand-input-small-height;
		}

		.input {
			font-size: @sand-input-small-font-size;
			height: @sand-input-small-height;
		}

		.inputHighlight {
			line-height: @sand-input-small-height;
			height: @sand-inputfield-small-height;
			max-width: @sand-input-highlight-small-max-width;
		}
	}

	.iconBefore,
	.iconAfter {
		flex: 0 0;
	}

	.iconAfter {
		.padding-start-end(@sand-input-icon-spacing, 0);
	}

	.iconBefore {
		.padding-start-end(0, @sand-input-icon-spacing);
	}

	// RIGBY NOTE: multiline is a NOT YET IMPLEMENTED feature that combines <input> and <textarea>
	// into one control, to simplify input handling.
	&.multiline {
		display: block;
		padding: 24px 36px;
		border-radius: 24px;
	}

	// an Input that isn't spottable is behaviorly disabled but not visually
	&:not(:global(.spottable)) .input {
		pointer-events: none;
	}

	.inputFieldIcon,
	&:global(.spottable):focus .inputFieldIcon {
		width: auto;
		margin: 0;
	}

	// Skin colors
	.applySkins({
		color: @sand-input-text-color;

		.bg {
			background-color: @sand-inputfield-bg-color;
		}

		.input {
			background: transparent;
			color: inherit;

			.input-placeholder({
				.vendor-opacity(@sand-input-placeholder-opacity);
				color: @sand-input-placeholder-color;
			});

			&:focus-within {
				color: @sand-input-focus-text-color;

				.input-placeholder({
					color: @sand-input-placeholder-active-color;
				});
			}
		}

		&.invalid input {
			color: @sand-red;
		}

		.inputHighlight {
			color: transparent;
			background-color: transparent;
			// Set `.inputHighlight` background color to make it appear that the text is highlighted
			// when `.input` has transparent background and when `.inputField` has focus, but not `.input`.
			// background-color: @sand-spotlight-color;
		}

		.inputFieldIcon {
			color: @sand-input-text-color;
		}

		.focus({
			color: @sand-input-focus-text-color;

			.bg {
				background-color: @sand-inputfield-focus-bg-color;
				filter: drop-shadow(@sand-inputfield-focus-bg-shadow);
			}

			.input {
				.input-placeholder({
					color: @sand-input-placeholder-focus-color;
				});
			}

			// Set `.inputHighlight` opacity to make it appear that the text is highlighted
			// when `.input` has transparent background and when `.inputField` has focus, but not `.input`.
			// .inputHighlight {
			// 	opacity: 1;
			// }
		});

		&:focus-within {
			.bg {
				background-color: @sand-inputfield-active-bg-color;
				filter: drop-shadow(@sand-inputfield-focus-bg-shadow);
			}

			.inputFieldIcon {
				color: @sand-input-focus-text-color;
			}
		}

		.disabled({
			.vendor-opacity(@sand-input-disabled-opacity);

			.focus({
				background-color: @sand-inputfield-disabled-focus-bg-color;

				.input,
				.inputFieldIcon {
					.vendor-opacity(1);
					color: @sand-input-disabled-focus-text-color;

					.input-placeholder({
						.vendor-opacity(@sand-input-disabled-opacity);
					});
				}
			});

			.input,
			.inputFieldIcon {
				.vendor-opacity(@sand-input-disabled-opacity);
				color: @sand-input-disabled-text-color;
			}

			.input {
				.input-placeholder({
					.vendor-opacity(1);
					color: @sand-input-placeholder-disabled-color;
				});
			}
		});
	});
}

.invalidTooltip {
	top: 50%;
	left: auto;
	right: 0;
	pointer-events: none;
	transform: translate(100%, -100%) translateX(@sand-input-tooltip-offset);

	:global(.enact-locale-right-to-left) & {
		left: 0;
		right: auto;
		transform: translate(-100%, -100%) translateX(-@sand-input-tooltip-offset);
	}
}

.muted({
	.inputField {
		.applySkins({
			.focus({
				.bg {
					background-color: @sand-inputfield-bg-color;
				}
			});
		});
	}
});
