// Input.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.popup {
	.body {
		line-height: 0; // This removes an undesirable layout shift occuring when a number is entered into the numberCells (Popup adds a line-height to all children).
	}

	.numberCell {
		justify-content: center;
		align-items: center;
		border-radius: @sand-input-popup-border-radius;
		display: flex;

		&:not(.password) {
			font-family: @sand-input-number-preview-item-font-family;
		}
	}

	&.fullscreen {
		.body {
			padding: @sand-input-popup-padding;
		}

		.inputArea,
		.previewArea,
		.keypadArea,
		.buttonArea {
			margin-top: @sand-input-popup-component-v-spacing;
		}

		.inputArea {
			text-align: center;
		}

		.numberCell {
			width: @sand-input-number-popup-full-preview-item-width;
			height: @sand-input-number-popup-full-preview-item-height;
			font-size: @sand-input-number-popup-full-preview-font-size;
			margin: @sand-input-number-popup-full-preview-item-margin;
		}

		.combined {
			width: @sand-input-number-popup-full-preview-text-width;
			height: @sand-input-number-popup-full-preview-text-height;
			font-size: @sand-input-number-popup-full-preview-font-size;
		}

		.keypad {
			margin: @sand-input-number-popup-full-keypad-margin;
		}

		.key {
			margin: @sand-input-number-popup-full-keypad-key-margin;
		}
	}

	&.overlay {
		.body {
			padding: @sand-input-number-popup-overlay-padding;
		}

		.previewArea {
			margin-top: @sand-input-number-popup-overlay-preview-area-margin-top;
		}

		.numberCell {
			width: @sand-input-number-popup-overlay-preview-item-width;
			height: @sand-input-number-popup-overlay-preview-item-height;
			font-size: @sand-input-number-popup-overlay-preview-item-font-size;
			margin: @sand-input-number-popup-overlay-preview-item-margin;
		}

		.combined {
			width: @sand-input-number-popup-overlay-preview-text-width;
			height: @sand-input-number-popup-overlay-preview-text-height;
			font-size: @sand-input-number-popup-overlay-preview-text-font-size;
		}

		.keypad {
			margin: @sand-input-number-popup-overlay-keypad-margin;
			width: @sand-input-number-popup-overlay-keypad-width;
		}

		.buttonArea {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
	}

	.applySkins({
		.numberCell {
			background-color: @sand-input-number-popup-preview-item-background-color;
		}

		&.overlay {
			background-color: @sand-input-number-popup-overlay-background-color;
		}
	});
}
