// Input.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

.popup {
	.numberField,
	.number,
	.password,
	.separated {
		/* Available for customization */
	}

	.body {
		line-height: 0; // This removes an undesirable layout shift occurring when a number is entered into the numberCells (Popup adds a line-height to all children).
	}

	.titles {
		max-width: 100%;
	}

	.fieldWrapper {
		display: inline-block;
		position: relative;
	}

	.joined,
	.numberCell {
		position: relative;
		z-index: 0;

		&::before {
			position: absolute;
			.position(0);
			content: '';
			z-index: -1;

			border-radius: @sand-input-numbercell-border-radius;
		}
	}

	.inputArea {
		text-align: center;
	}

	.numberCell {
		justify-content: center;
		align-items: center;
		display: flex;

		&:not(.password) {
			font-family: @sand-input-number-font-family;
		}
	}

	.submitButton {
		display: block;
		margin: @sand-input-overlay-submitbutton-margin;
	}

	.inputArea {
		.tooltip {
			margin-top: @sand-input-invalid-tooltip-margin-top;

			.tooltipLabel {
				font-size: @sand-input-invalid-tooltip-font-size;
				font-weight: @sand-input-invalid-tooltip-font-weight;
			}
		}
	}

	.keypad {
		.enact-locale-rtl({
			direction: ltr;
		});
	}

	&.fullscreen {
		.body {
			padding: @sand-input-fullscreen-padding;
		}

		.title {
			.sand-font-size(@sand-input-fullscreen-title-font-size, @sand-non-latin-input-fullscreen-title-font-size);
		}

		.numberCell {
			width: @sand-input-fullscreen-numbercell-width;
			height: @sand-input-fullscreen-numbercell-height;
			font-size: @sand-input-fullscreen-numbercell-font-size;
			margin: @sand-input-fullscreen-numbercell-margin;
		}

		.joined {
			min-width: @sand-input-fullscreen-numberfield-width;
			width: ~"calc(var(--input-max-number-length) * " @sand-input-fullscreen-numberfield-font-size ~")";
			height: @sand-input-fullscreen-numberfield-height;
			line-height: @sand-input-fullscreen-numberfield-height;
			letter-spacing: @sand-input-fullscreen-numberfield-letter-spacing;
			text-indent: @sand-input-fullscreen-numberfield-letter-spacing; // account for the letter spacing offset
			font-size: @sand-input-fullscreen-numberfield-font-size;
			margin: @sand-input-fullscreen-numberfield-margin;
			padding: @sand-input-fullscreen-numberfield-padding;
		}

		.keypad {
			margin: @sand-input-fullscreen-keypad-margin;
		}

		.key {
			margin: @sand-input-fullscreen-keypad-key-margin;
		}

		.buttonArea {
			margin: @sand-input-fullscreen-buttonarea-margin;
		}

		.inputArea,
		.buttonArea {
			margin-top: @sand-input-popup-component-v-spacing;
		}

		.tooltip {
			.tooltipLabel {
				max-width: @sand-input-fullscreen-invalid-tooltip-width;
			}
		}

		&.text,
		&.password {
			.inputArea {
				margin: @sand-input-fullscreen-inputarea-margin;
			}
		}
	}

	&.overlay {
		.body {
			padding: @sand-input-overlay-padding;
		}

		.title {
			.sand-font-size(@sand-input-overlay-title-font-size, @sand-non-latin-input-overlay-title-font-size);
		}

		.inputArea {
			margin: @sand-input-overlay-inputarea-margin;
		}

		.numberCell {
			width: @sand-input-overlay-numbercell-width;
			height: @sand-input-overlay-numbercell-height;
			font-size: @sand-input-overlay-numbercell-font-size;
			margin: @sand-input-overlay-numbercell-margin;
		}

		.joined {
			min-width: @sand-input-overlay-numberfield-width;
			width: ~"calc(var(--input-max-number-length) * " @sand-input-overlay-numberfield-font-size ~")";
			height: @sand-input-overlay-numberfield-height;
			line-height: @sand-input-overlay-numberfield-height;
			letter-spacing: @sand-input-overlay-numberfield-letter-spacing;
			text-indent: @sand-input-overlay-numberfield-letter-spacing; // account for the letter spacing offset
			font-size: @sand-input-overlay-numberfield-font-size;
			margin: @sand-input-overlay-numberfield-margin;
			padding: @sand-input-overlay-numberfield-padding;
		}

		.keypad {
			margin: @sand-input-overlay-keypad-margin;
			width: @sand-input-overlay-keypad-width;
		}

		.buttonArea {
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin: @sand-input-overlay-buttonarea-margin;
		}

		.tooltip {
			.tooltipLabel {
				max-width: @sand-input-overlay-invalid-tooltip-width;
			}
		}
	}

	.applySkins({
		background-color: @sand-input-fullscreen-background-color;

		.numberCell {
			&::before {
				background-color: @sand-input-numbercell-background-color;
			}
		}

		// Style joined numeric inputs and active cells like a focused input
		.joined,
		.numberCell.active {
			color: @sand-inputfield-focus-text-color;

			&::before {
				.sand-spotlight-focus-bg-colors();
				// Remove drop shadow for this input-like field
				filter: none;
			}

			.sand-disabled({
				color: @sand-input-numberfield-disabled-color;

				&::before {
					opacity: @sand-input-numberfield-disabled-opacity;
				}
			});
		}

		.inputArea {
			.tooltip {
				.tooltipLabel {
					color: @sand-input-invalid-tooltip-color;
				}
			}
		}

		&.overlay {
			background-color: @sand-input-overlay-background-color;
		}
	});
}
