// NumberCell.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.numberField {
	justify-content: center;
	align-items: center;
	border-radius: @sand-input-popup-border-radius;
	display: flex;

	.combined {
		display: inline-flex;
		overflow: hidden;
		border: solid 2px;
	}

	.keypad {
	.separated {
		/* Available for customization */
	}

	// &:not(.password) {
	// 	font-family: @sand-input-number-preview-item-font-family;
	// }

	// &.fullscreen {
	// 	width: @sand-input-number-popup-full-preview-item-width;
	// 	height: @sand-input-number-popup-full-preview-item-height;
	// 	font-size: @sand-input-number-popup-full-preview-font-size;
	// 	margin: @sand-input-number-popup-full-preview-item-margin;
	// }

	// &.overlay {
	// 	width: @sand-input-number-popup-overlay-preview-item-width;
	// 	height: @sand-input-number-popup-overlay-preview-item-height;
	// 	font-size: @sand-input-number-popup-overlay-preview-item-font-size;
	// 	margin: @sand-input-number-popup-overlay-preview-item-margin;
	// }

	// .applySkins({
	// 	background-color: @sand-input-number-popup-preview-item-background-color;
	// });
}
