// Heading.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

.heading {
	border-bottom: @sand-heading-border-width solid transparent;
	margin: 0 @sand-spotlight-outset (1.5 * @sand-spotlight-outset) @sand-spotlight-outset;
	padding: @sand-heading-padding;
	min-height: (1.5 * @sand-spotlight-outset);
	letter-spacing: @sand-heading-letter-spacing;
	line-height: @sand-heading-line-height;
	.sand-font(@sand-heading-large-font-family, @sand-heading-non-latin-font-family, {
		line-height: @sand-heading-non-latin-line-height;
	});

	&.showLine {
		padding: @sand-heading-showline-padding;
	}

	&.large {
		font-family: @sand-heading-large-font-family;
		font-weight: @sand-heading-large-font-weight;
		font-style: @sand-heading-large-font-style;
		font-size: @sand-heading-large-font-size;
	}
	&.medium {
		font-family: @sand-heading-medium-font-family;
		font-weight: @sand-heading-medium-font-weight;
		font-style: @sand-heading-medium-font-style;
		font-size: @sand-heading-medium-font-size;
	}
	&.small,
	&.tiny {
		font-family: @sand-heading-small-font-family;
		font-weight: @sand-heading-small-font-weight;
		font-style: @sand-heading-small-font-style;
		font-size: @sand-heading-small-font-size;
	}

	// Margin-bottom is set up this way so the presence of the line does not affect the height of the Heading.
	// We simply toggle the color from transparent to "colored" below, leaving the height untouched.
	&.largeSpacing {
		margin-bottom: (@sand-heading-spacing-large - @sand-heading-border-width);
		min-height: (@sand-heading-spacing-large - @sand-heading-border-width);
	}
	&.mediumSpacing {
		margin-bottom: (@sand-heading-spacing-medium - @sand-heading-border-width);
		min-height: (@sand-heading-spacing-medium - @sand-heading-border-width);
	}
	&.smallSpacing {
		margin-bottom: (@sand-heading-spacing-small - @sand-heading-border-width);
		min-height: (@sand-heading-spacing-small - @sand-heading-border-width);
	}
	&.noneSpacing {
		margin-bottom: 0;
		min-height: 0;
	}

	// Skin colors
	.applySkins({
		color: @sand-heading-text-color;

		&.showLine {
			border-bottom-color: @sand-heading-border-color;
		}
	});
}
