@import "../styles/variables.less";
@import "../styles/skin.less";

.actionGuide {
    text-align: center;

    .label {
        font-size: @sand-actionguide-label-font-size;
    }

    .icon {
        margin: 0;
    }
}