// TabGroup.module.less
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.tabBar {
	.applySkins({
		.tab {
			margin-left: 24px;
			margin-right: 24px;
		}

		&.horizontal {
			&.positionAfter {
				.tab {
					right: 0;
				}
			}
		}
	});
}
