// TabGroup.module.less
//
@import "../styles/variables.less";

.tabBar {
	.tab {
		margin-left: @sand-tabgroup-tab-margin-left;
		margin-right: @sand-tabgroup-tab-margin-right;
	}

	&.horizontal {
		&.positionAfter {
			.tab {
				right: 0;
			}
		}
	}
}
