// TabGroup.module.less
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.tabBar {
	.applySkins({
		.tabButton {
			margin-left: 24px;
			margin-right: 24px;
		}

		.tabGroup {
			.tab {
				&::before {
					position: absolute;
					content: "";
					display: block;
				}
				&:first-child {
					border-left-width: 0;
				}

				.focus({
					background-color: transparent;
					background-image: none;
				});
			}
		}

		&.horizontal {
			&.positionAfter {
				.tab {
					right: 0;
				}
			}
		}
	});
}
