dist: jammy
language: node_js
node_js:
    - lts
    - node
sudo: false
before_install:
    - curl -fsSL https://www.mongodb.org/static/pgp/server-4.4.asc | sudo gpg -o /usr/share/keyrings/mongodb-server-4.4.gpg --dearmor
    - echo "deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-4.4.gpg ] https://repo.mongodb.org/apt/ubuntu focal/mongodb-org/4.4 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-4.4.list
    - sudo apt-get update
    - sudo apt-get install build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev
install:
    - npm config set prefer-offline false
    - npm install -g codecov
    - git clone --branch=master --depth 1 https://github.com/enactjs/cli ../cli
    - pushd ../cli
    - npm uninstall @enact/ui-test-utils
    - npm install
    - npm link
    - popd
    - git clone --branch=develop --depth 1 https://github.com/enactjs/enact ../enact
    - pushd ../enact
    - npm install
    - npm run lerna exec -- --ignore enact-sampler --concurrency 1 -- npm --no-package-lock install
    - npm run lerna exec -- --ignore enact-sampler --concurrency 1 -- npm --no-package-lock link
    - npm run interlink
    - popd
    - rm -fr node_modules/@enact
    - npm install
    - enact link
    - ls -al node_modules/@enact/docs-utils/
    - ls -al node_modules/.bin/
script:
    - echo -e "\x1b\x5b35;1m*** Starting tests...\x1b\x5b0m"
    - npm test -- --runInBand --coverage
    - codecov
    - echo -e "\x1b\x5b35;1m*** Tests complete\x1b\x5b0m"
    - echo -e "\x1b\x5b35;1m*** Starting eslint...\x1b\x5b0m"
    - npm run lint -- -- --report-unused-disable-directives --max-warnings 0 .
    - echo -e "\x1b\x5b35;1m*** eslint complete\x1b\x5b0m"
    - echo -e "\x1b\x5b35;1m*** Starting docs validation...\x1b\x5b0m"
    - npm run validate-docs
    - echo -e "\x1b\x5b35;1m*** Docs validation complete\x1b\x5b0m"
