dist: jammy
language: node_js
node_js:
    - lts/*
    - "20"
sudo: false
before_install:
    - sudo apt-get update
    - sudo apt-get install build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev
install:
    - npm config set prefer-offline false
    - npm install -g codecov
    - npm install -g @enact/cli@6.0.4
    - git clone --branch=release/4.7.x.develop --depth 1 https://github.com/enactjs/enact ../enact
    - pushd ../enact
    - npm install
    - npm run lerna exec -- --ignore enact-sampler --concurrency 1 -- npm --no-package-lock install
    - npm run lerna exec -- --ignore enact-sampler --concurrency 1 -- npm --no-package-lock link
    - npm run lerna link
    - popd
    - rm -fr node_modules/@enact
    - npm install
    - enact link
script:
    - echo -e "\x1b\x5b35;1m*** Starting tests...\x1b\x5b0m"
    - npm test -- --runInBand --coverage
    - codecov
    - echo -e "\x1b\x5b35;1m*** Tests complete\x1b\x5b0m"
    - echo -e "\x1b\x5b35;1m*** Starting eslint...\x1b\x5b0m"
    - npm run lint -- -- --report-unused-disable-directives --max-warnings 0 .
    - echo -e "\x1b\x5b35;1m*** eslint complete\x1b\x5b0m"
    - echo -e "\x1b\x5b35;1m*** Starting docs validation...\x1b\x5b0m"
    - npm run validate-docs
    - echo -e "\x1b\x5b35;1m*** Docs validation complete\x1b\x5b0m"
