// CollapsingHeaderPanel.module.less
//

.panel {
	height: calc(100% + var(--sand-panels-header-title-height));
	transition: 700ms transform ease-in-out;
	will-change: transform;

	&.collapsed {
		transform: translateY(calc(var(--sand-panels-header-title-height) * -1));
	}
}
