// Header.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.header {
	position: relative;
	max-width: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top left;

	///
	/// Begin states of header configuration
	///

	// Titles-only layout when in minimal-mode (.header and .titlesRow are flattened onto the same element)
	&.titlesRow {
		padding-bottom: @sand-header-subtitle-height;
	}

	&.centered {
		.inputTransition,
		.slotAbove,
		.slotBelow {
			text-align: center;
		}
	}


	///
	/// Begin child node rules configuration, shared across multiple types
	///

	.inputTransition {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	// Cell containing titles in the above/below layout scenario
	.titlesCell {
		margin-top: auto;
		margin-bottom: auto;
	}

	.slotBelow {
		margin-top: auto; // Always push the slotBelow to the bottom
	}


	///
	/// Begin "types" rules configuration
	///

	// Standard Header
	&.standard {
		height: @sand-header-standard-height;
		margin: @sand-header-standard-margin;
		padding: @sand-header-standard-padding;

		&.withNav {
			height: @sand-header-standard-withnav-height;
		}

		// The following updates .subtitle to be removed from the measurement calculations for
		// vertical centering in a "standard" header, so the title can vertically align with the
		// side buttons. When *not* in "standard" type, the side buttons should be vertically
		// aligned with both the title and subtitle.
		.subtitle {
			position: absolute;
			right: 0;
			left: 0;
		}
	}

	// Compact Header
	&.compact {
		height: @sand-header-compact-height;
		margin: @sand-header-compact-margin;
		padding: @sand-header-compact-padding;
	}

	// Walkthrough Header
	&.walkthrough {
		height: @sand-header-walkthrough-height;
		margin: @sand-header-walkthrough-margin;
		padding: @sand-header-walkthrough-padding;
	}
}


// DEV NOTE: Will likely delete later, but retaining at least temporarily in case the close button
// or something like it needs to be added. -BS

// :global(.sand-panels-hasControls) {
// 	.header.compact,
// 	.header.dense .title,
// 	.header.dense .headerInput,
// 	.header.standard .title,
// 	.header.standard .headerInput {
// 		.padding-start-end(0, var(--sand-panels-controls-width));
// 	}

// 	.header.centered.dense .title,
// 	.header.centered.dense .headerInput,
// 	.header.centered.standard .title,
// 	.header.centered.standard .headerInput {
// 		.padding-start-end(var(--sand-panels-controls-width), var(--sand-panels-controls-width));
// 	}

// 	.header.compact {
// 		.headerComponents {
// 			border-right-width: @sand-header-controls-border-width;
// 			border-right-style: solid;
// 			.padding-start-end(initial, @sand-header-components-separation);

// 			:global(.enact-locale-right-to-left) & {
// 				border-right-width: 0;
// 				border-right-style: none;
// 				border-left-width: @sand-header-controls-border-width;
// 				border-left-style: solid;
// 			}
// 		}

// 		.applySkins({
// 			.headerComponents {
// 				border-right-color: @sand-header-controls-border-color;

// 				:global(.enact-locale-right-to-left) & {
// 					border-right-color: transparent;
// 					border-left-color: @sand-header-controls-border-color;
// 				}
// 			}
// 		});
// 	}
// }
