// Header.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.header {
	position: relative;
	max-width: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top left;
	.border-box();

	///
	/// Begin states of header configuration
	///

	// Titles-only layout when in minimal-mode (there are no children in the Nav area)
	&:not(.withChildren) .titlesRow {
		padding-bottom: @sand-header-subtitle-height;

		// The following updates .subtitle to be removed from the measurement calculations for
		// vertical centering in a "standard" header, so the title can vertically align with the
		// side buttons. When *not* in "standard" type, the side buttons should be vertically
		// aligned with both the title and subtitle.
		.subtitle {
			position: absolute;
			right: 0;
			left: 0;
		}
	}

	&.centered {
		.inputTransition,
		.slotAbove,
		.slotBelow {
			text-align: center;
		}
	}


	///
	/// Begin child node rules configuration, shared across multiple types
	///

	.inputTransition {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	.title,
	.subtitle {
		margin: 0;
	}

	.slotAbove {
		margin-bottom: @sand-header-slotabove-margin;
	}

	.slotBelow {
		margin-top: @sand-header-slotbelow-margin;
	}

	.line {
		border: 1px solid transparent; // Generic rule to set the size/positioning, but leave it invisible for later customization
		margin: 0;
	}

	///
	/// Begin "types" rules configuration
	///

	// Standard Header
	&.standard {
		margin: @sand-header-standard-margin;
		padding: @sand-header-standard-padding;
	}

	// Compact Header
	&.compact {
		margin: @sand-header-compact-margin;
		padding: @sand-header-compact-padding;

		.title {
			.sand-font-size(@sand-header-compact-title-font-size, @sand-non-latin-header-compact-title-font-size);
		}

		.line {
			border-bottom-width: @sand-header-compact-border-width;
			margin: @sand-header-compact-line-margin;
		}
	}

	// Wizard Header
	&.wizard {
		margin: @sand-header-wizard-margin;
		padding: @sand-header-wizard-padding;

		.title {
			.sand-font-size(@sand-header-wizard-title-font-size, @sand-non-latin-header-wizard-title-font-size);
		}
	}

	// Mini Header
	&.mini {
		// TODO: Relocate these to their final home.
		@sand-header-mini-margin: 0 @sand-component-spacing 84px @sand-component-spacing;
		@sand-header-mini-padding: 0;
		@sand-header-mini-title-font-size: 84px;
		@sand-non-latin-header-mini-title-font-size: @sand-header-mini-title-font-size;


		margin: @sand-header-mini-margin;
		padding: @sand-header-mini-padding;

		.titlesRow {
			padding: 0;
		}

		.titleCell {
			width: auto;
		}

		.title {
			.sand-font-size(@sand-header-mini-title-font-size, @sand-non-latin-header-mini-title-font-size);
		}

		.slotBefore >:first-child {
			margin-inline-start: 0;
		}

		.slotAfter >:first-child {
			margin-inline-end: 0;
		}
	}

	// Skin colors
	.applySkins({
		&.compact {
			.line {
				border-bottom-color: @sand-header-compact-border-color;
			}
		}
	});
}

// Intentionally low precedence for easier overriding
.input {
	width: 1440px;
}
