// Panels.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.panels {
	pointer-events: none;

	> * {
		pointer-events: auto;
	}

	.viewport {
		/* CSS Overrides */
	}

	:global(.enact-locale-right-to-left) & {
		direction: ltr;
	}
}
