// Panel.module.less
//
@import "../styles/variables.less";
@import "../styles/skin.less";

.panel {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: @sand-panel-padding;
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: column;
	vertical-align: top;
	white-space: initial;  // Restore the viewport-inherited white-space property

	.body {
		position: relative;
		padding: @sand-panel-body-padding;
		flex: 1;
		min-height: 0;
		opacity: 0;
		transition: opacity 200ms ease-out;
		will-change: opacity;

		&.noHeader {
			padding-top: 0;
		}

		&.visible {
			opacity: 1;
		}
	}

	&:global(.enact-fit) {
		height: auto;
	}

	:global(.enact-locale-right-to-left) & {
		direction: rtl;
	}
}
