// Panels.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.panels {
	pointer-events: none;

	> * {
		pointer-events: auto;
	}

	.viewport {
		position: absolute;
		.position(0);
		overflow: hidden;
		white-space: nowrap;  // Avoid awkward positioning when using non-positioned panels

		&.transitioning::before {
			content: "";
			position: absolute;
			.position(0);
			z-index: 10000;
		}
	}

	:global(.enact-locale-right-to-left) & {
		direction: ltr;
	}
}

.panels.fixedPopup {
	width: @sand-panels-fixedpopuppanels-width;

	.body {
		padding: 0;
	}

	// Skin colors
	.applySkins({
		filter: drop-shadow(@sand-panels-fixedpopuppanels-shadow);
	});
}

.panels.flexiblePopup {
	width: @sand-panels-flexiblepopuppanels-width;
	margin-top: @sand-panels-flexiblepopuppanels-margin-top;

	.body {
		position: relative;
		pointer-events: none;
		padding: 0;
	}

	// Skin colors
	.applySkins({
		background-color: transparent;
	});
}
