// Panel.module.less
//
@import "../styles/variables.less";
@import "../styles/skin.less";

.featureContentTransition() {
	transition: @sand-panel-featurecontent-animation-duration transform ease-in-out;
	will-change: transform height;
}

.panel {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: @sand-panel-padding;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	vertical-align: top;

	.body {
		position: relative;
		padding: @sand-panel-body-padding;
		flex: 1;
		min-height: 0;
		opacity: 0;
		transition: opacity 200ms ease-out;
		will-change: opacity;

		&.noHeader {
			padding-top: 0;
		}

		&.visible {
			opacity: 1;
		}
	}

	&.listType {
		padding: @sand-panel-list-padding;

		.body {
			padding: @sand-panel-body-list-padding;
		}
	}

	&.fixedPopupType {
		padding: @sand-panel-fixedpopup-padding;
		display: inline-block;

		.body {
			padding: @sand-panel-body-fixedpopup-padding;
		}
	}

	&.flexiblePopupType {
		padding: 0;
		display: inline-flex;
		pointer-events: none;

		> * {
			pointer-events: auto;
		}

		.body {
			margin: @sand-panel-flexiblepopup-margin;
			padding: @sand-panel-flexiblepopup-padding;
			align-self: start;  // Allow this node to horizontally shrink to fit the content.
			flex: 0 1 auto;  // Allow this node to vertically shrink to fit the content but not extend larger than the container.
		}
	}

	&.wizardType {
		padding: @sand-panel-wizard-padding;

		.body {
			padding: @sand-panel-body-wizard-padding;
		}
	}

	&:global(.enact-fit) {
		height: auto;
	}

	:global(.enact-locale-right-to-left) & {
		direction: rtl;
	}

	&.featureContent {
		height: calc(100% + var(--sand-panels-header-title-height));
		.featureContentTransition();

		&.shouldFeatureContent {
			transform: translateY(calc(var(--sand-panels-header-title-height) * -1));
		}

		.scrollbar {
			.featureContentTransition();
			transform-origin: center top;
		}

		&:not(.shouldFeatureContent) {
			.scrollbar {
				transform: scaleY(var(--scrollbar-scale));
			}
		}
	}

	.applySkins({
		&.flexiblePopupType {
			.body {
				background-color: @sand-panel-flexiblepopup-bg-color;
				border-radius: @sand-panel-flexiblepopup-border-radius;
				filter: drop-shadow(@sand-panel-flexiblepopup-shadow);
			}
		}
	});
}
