// Panel.module.less
//
@import "../styles/variables.less";
@import "../styles/skin.less";

.panel {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: @sand-panel-padding;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	vertical-align: top;

	.body {
		position: relative;
		padding: @sand-panel-body-padding;
		flex: 1;
		min-height: 0;
		opacity: 0;
		transition: opacity 200ms ease-out;
		will-change: opacity;

		&.noHeader {
			padding-top: 0;
		}

		&.visible {
			opacity: 1;
		}
	}

	&.listType {
		padding: @sand-panel-list-padding;

		.body {
			padding: @sand-panel-body-list-padding;
		}
	}

	&.optionType {
		padding: @sand-panel-option-padding;
		display: inline-block;

		.body {
			padding: @sand-panel-body-option-padding;
		}
	}

	&.miniType {
		padding: 0;
		display: inline-flex;
		pointer-events: none;

		> * {
			pointer-events: auto;
		}

		.body {
			margin: @sand-panel-mini-margin;
			padding: @sand-panel-mini-padding;
			align-self: start;  // Allow this node to horizontally shrink to fit the content.
			flex: 0 1 auto;  // Allow this node to vertically shrink to fit the content but not extend larger than the container.
		}
	}

	&.wizardType {
		padding: @sand-panel-wizard-padding;

		.body {
			padding: @sand-panel-body-wizard-padding;
		}
	}

	&:global(.enact-fit) {
		height: auto;
	}

	:global(.enact-locale-right-to-left) & {
		direction: rtl;
	}

	.applySkins({
		&.miniType {
			.body {
				background-color: @sand-panel-mini-bg-color;
				border-radius: @sand-panel-mini-border-radius;
				filter: drop-shadow(@sand-panel-mini-shadow);
			}
		}
	});
}
