// Panels.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.panels {
	pointer-events: none;

	> * {
		pointer-events: auto;
	}

	.breadcrumbs {
		position: absolute;
		.position(0, auto, auto, 0);
		height: 100%;
		z-index: 10;
		overflow: hidden;

		.breadcrumb {
			position: absolute;
			right: 0;
			height: 100%;
			width: @sand-panels-breadcrumb-width;

			.breadcrumbHeader {
				padding-top: 6px;
				margin: @sand-panel-padding;
				font-family: @sand-panels-breadcrumb-font-family;
				font-size: @sand-panels-breadcrumb-text-size;
			}
		}
	}

	.viewport {
		position: absolute;
		.position(0);
		overflow: hidden;

		&.transitioning::before {
			content: "";
			position: absolute;
			.position(0);
			z-index: 10000;
		}
	}

	:global(.enact-locale-right-to-left) & {
		direction: ltr;

		.breadcrumbs,
		.controls {
			direction: rtl;
		}
	}

	// Skin colors
	.applySkins({
		.breadcrumbs {
			.breadcrumb {
				.focus({
					background-color: @sand-spotlight-color;
					color: @sand-spotlight-text-color;

					.breadcrumbHeader {
						border-color: @sand-spotlight-text-color;
					}
				});
			}
		}
	});
}

.panels.activity {
	.breadcrumbs {
		width: @sand-panels-breadcrumb-width;
	}

	.viewport {
		&.transitioning {
			-webkit-clip-path: polygon(@sand-panels-breadcrumb-width 0, 100% 0, 100% 100%, @sand-panels-breadcrumb-width 100%);
			clip-path: polygon(@sand-panels-breadcrumb-width 0, 100% 0, 100% 100%, @sand-panels-breadcrumb-width 100%);
		}

		> :not([data-index="0"]) {
			padding-left: 0;
			width: calc(~"100% - " @sand-panels-breadcrumb-width);
		}
	}

	&[data-index="0"] {
		// prevents breadcrumbs from capturing pointer events when the first panel is visible
		// without any breadcrumbs
		.breadcrumbs {
			z-index: -1;
			pointer-events: none;
		}
	}

	&:not([data-index="0"]) {
		:global(.enact-locale-right-to-left) & .controls {
			// allocate space for breadcrumb + header margin
			left: @sand-panels-breadcrumb-width + @sand-spotlight-outset;
		}
	}
}

.panels.alwaysViewing {
	.viewport {
		left: 50%;
	}

	.breadcrumbs {
		width: 50%;
	}

	// Skin colors
	.applySkins({
		.viewport {
			background-color: @sand-panels-scrim-always-viewing-bg-color;
		}

		.breadcrumbs {
			.breadcrumb {
				.breadcrumbHeader {
					color: white;
					border-top: 12px solid white;
				}
			}
		}
	});
}

.panels.option {
	width: @sand-panels-optionpanels-width;

	// Skin colors
	.applySkins({
		filter: drop-shadow(@sand-panels-optionpanels-shadow);

		.body {
			padding: 0;
		}
	});
}
