// WizardPanel.module.less
//
@import "../styles/variables.less";

.wizardPanel {
	.content {
		margin: @sand-wizard-panel-content-margin;
	}

	.buttonContainer {
		margin: @sand-wizard-panel-button-container-margin;
	}

	.buttonContainer,
	.footer {
		text-align: center;
	}
}
