// WizardPanel.module.less
//
@import "../styles/variables.less";

.wizardPanel {
	// Limit the width of `title` and `subtitle` to avoid overlaps with the previous/next buttons when the title and/or the subtitle are too long.
	.header {
		.title,
		.subtitle {
			max-width: @sand-header-title-max-width;
		}
	}

	.content {
		margin: @sand-wizard-panel-content-margin;
	}

	.buttonContainer {
		margin: @sand-wizard-panel-button-container-margin;
	}

	.buttonContainer,
	.footer {
		text-align: center;
	}
}
