@import '../styles/colors.less';
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

.transitionEffect() {
	transition: transform 200ms ease-in-out;
}

.imageItem {
	width: 100%;

	.icon {
		width: @sand-imageitem-overlay-icon-size;
		height: @sand-imageitem-overlay-icon-size;
		line-height: @sand-imageitem-overlay-icon-size;
		position: relative;
		display: block;
		border-radius: 50%;
		margin: 0;
		.transitionEffect();
	}

	.image {
		transition: transform 200ms ease-in-out, filter 200ms ease-in-out;
		will-change: filter, transform;
		margin-bottom: @sand-imageitem-image-margin-bottom;
	}

	.subComponents {
		height: @sand-imageitem-subcomponents-height;
		.transitionEffect();
	}

	.imageIcon {
		height: @sand-imageitem-image-icon-size;
		width: @sand-imageitem-image-icon-size;
		margin-left: 0;
		margin-right: @sand-imageitem-image-icon-margin-right;
	}

	.caption {
		.sand-text-base(@sand-imageitem-caption-font-size);
	}

	.subCaption {
		.sand-text-base(@sand-imageitem-subcaption-font-size);
	}

	.overlayContainer::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-width: @sand-imageitem-image-border-width;
		border-style: none;
	}

	&.selected {
		.overlayContainer::after {
			border-style: solid;
		}
	}

	// Skin colors
	.applySkins({
		.icon {
			background-color: @sand-imageitem-overlay-icon-bg-color;
			color: @sand-imageitem-overlay-icon-color;
		}

		.subCaption {
			color: @sand-imageitem-subcaption-color;
		}

		&.selected {
			.image::after {
				border-color: @sand-imageitem-selected-image-border-color;
			}

			.icon {
				background-color: @sand-imageitem-selected-overlay-icon-bg-color;
				color: @sand-imageitem-selected-overlay-icon-color;
			}
		}

		.focus({
			.image {
				transform: @sand-imageitem-focus-image-transform;
				filter: drop-shadow(@sand-imageitem-focus-image-bg-shadow);
			}

			.icon {
				background-color: @sand-imageitem-focus-overlay-icon-bg-color;
				color: @sand-imageitem-focus-overlay-icon-color;
			}

			.subComponents {
				transform: @sand-imageitem-focus-subcomponents-transform;
			}

			&.selected {
				.icon {
					background-color: @sand-imageitem-selected-focus-overlay-icon-bg-color;
					color: @sand-imageitem-selected-focus-overlay-icon-color;
				}
			}
		});
	});
}

.muted({
	.imageItem {
		// Skin colors
		.applySkins({
			.focus({
				&:not(.selected) {
					.icon {
						background-color: @sand-imageitem-focus-overlay-icon-bg-color;
						color: @sand-imageitem-focus-overlay-icon-color;
					}
				}
				&.selected {
					.icon {
						background-color: @sand-imageitem-selected-focus-overlay-icon-bg-color;
						color: @sand-imageitem-selected-focus-overlay-icon-color;
					}
				}
			});
		});
	}
}, parent);
