// ImageItem.module.less
//
@import '../styles/colors.less';
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

// common image item
.transitionEffect() {
	transition: transform 200ms ease-in-out;
}

.imageItem {
	width: 100%;
	height: 100%;

	position: relative;

	&.vertical {
		margin: 60px;
	}
}

.image {
	display: block;
	margin: 0;
}

.caption {
	.sand-text-base(@sand-imageitem-caption-font-size);
}

.subCaption {
	.sand-text-base(@sand-imageitem-subcaption-font-size);
}

.selectionComponent {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.selectionContainer {
	background-color: transparent;
	pointer-events: none;
	.position(0);
	position: absolute;
}

.selectionContainer::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-width: @sand-imageitem-image-border-width;
	border-style: none;
}

.selectionIcon {
	position: relative;
	display: block;
	border-radius: 50%;
	margin: 0;
}

// vertical image item
.vertical {
	.image {
		transition: transform 200ms ease-in-out, filter 200ms ease-in-out;
		will-change: filter, transform;
		margin-bottom: @sand-imageitem-vertical-image-margin-bottom;
	}

	.captions {
		height: @sand-imageitem-vertical-captions-height;
		.transitionEffect();
	}

	.imageIcon {
		height: @sand-imageitem-vertical-image-icon-size;
		width: @sand-imageitem-vertical-image-icon-size;
		margin-left: 0;
		margin-right: @sand-imageitem-vertical-image-icon-margin-right;
	}

	.selectionIcon {
		width: @sand-imageitem-vertical-selection-icon-size;
		height: @sand-imageitem-vertical-selection-icon-size;
		line-height: @sand-imageitem-vertical-selection-icon-size;
		.transitionEffect();
	}
}

// horizontal image item
.horizontal {
	&.imageItem::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: @sand-imageitem-horizontal-border-radius;
		.sand-spotlight-resting();
	}

	.image {
		width: 18%;
		height: 75%;
		margin: @sand-imageitem-horizontal-image-margin;
	}

	.selectionIcon {
		width: @sand-imageitem-horizontal-selection-icon-size;
		height: @sand-imageitem-horizontal-selection-icon-size;
		line-height: @sand-imageitem-horizontal-selection-icon-size;
	}
}

&.selected {
	.selectionContainer::after {
		border-style: solid;
	}
}

// Skin colors
.applySkins({
	.caption {
		color: @sand-imageitem-caption-color;
	}

	.subCaption {
		color: @sand-imageitem-subcaption-color;
	}

	.selectionIcon {
		background-color: @sand-imageitem-selection-icon-bg-color;
		color: @sand-imageitem-selection-icon-color;
	}

	&.selected {
		.image::after {
			border-color: @sand-imageitem-selected-image-border-color;
		}

		.selectionIcon {
			background-color: @sand-imageitem-selected-selection-icon-bg-color;
			color: @sand-imageitem-selected-selection-icon-color;
		}
	}

	.focus({
		.disabled ({
			.vendor-opacity(@sand-disabled-opacity);
		});

		.selectionIcon {
			background-color: @sand-imageitem-focus-selection-icon-bg-color;
			color: @sand-imageitem-focus-selection-icon-color;
		}

		&.vertical {
			.image {
				transform: @sand-imageitem-vertical-focus-image-transform;
				filter: drop-shadow(@sand-imageitem-focus-bg-shadow);
			}

			.captions {
				transform: @sand-imageitem-vertical-focus-captions-transform;
			}
		}

		&.horizontal {
			&.imageItem::before {
				.sand-spotlight-focus();
				background-color: @sand-imageitem-horizontal-focus-bg-color;
				filter: drop-shadow(@sand-imageitem-focus-bg-shadow);
			}

			.caption,
			.subCaption {
				color: @sand-imageitem-horizontal-focus-caption-color;
			}
		}

		&.selected {
			.selectionIcon {
				background-color: @sand-imageitem-selected-focus-selection-icon-bg-color;
				color: @sand-imageitem-selected-focus-selection-icon-color;
			}
		}
	});
});

.muted({
	.imageItem {
		// Skin colors
		.applySkins({
			.focus({
				&:not(.selected) {
					.selectionIcon {
						background-color: @sand-imageitem-focus-selection-icon-bg-color;
						color: @sand-imageitem-focus-selection-icon-color;
					}
				}
				&.selected {
					.selectionIcon {
						background-color: @sand-imageitem-selected-focus-selection-icon-bg-color;
						color: @sand-imageitem-selected-focus-selection-icon-color;
					}
				}
			});
		});
	}
}, parent);
