.button {
	&.large .bg {
		background-color: red;
	}
	&.hasIcon {
		background-color: green;
	}
	&.iconAfter .bg {
		background-color: blue;
	}
	&.iconBefore .bg {
		background-color: orange;
	}
	&.small .bg {
		background-color: yellow;
	}
}