@import "../../../../styles/skin.less";

.slider {
	background-color: white;

	.applySkins({
		.fill {
			background-color: orangered;
		}
		.knob::before {
			background-color: orangered;
		}
	});
}
