.spottabletext {
	font-size: 36px;
	width: fit-content;
	height: 70px;
	padding: 0 36px;
	margin: 40px;
	background-color: gray;
	text-align: center;
	&:focus {
		background-color: red;
	}
}

.container {
	width: fit-content;
	height: 140px;
	margin: 36px;
	border: 6px solid green;
}
