@import "~@enact/spotlight/styles/mixins.less";
@import "~@enact/sandstone/styles/skin.less";

.item {
	.applySkins({
		border-left: 50px solid orangered;

		.focus({
			& {
				border-left: 50px solid green;
			}
		});

		.bg {
			border-radius: 60px;
		}

		.itemContent,
		.slotAfter,
		.slotBefore {
			color: orange;
		}

		.content {
			font-size: 120px;
		}

		.label {
			color: white;
		}

		.focus({
			.itemContent,
			.slotAfter,
			.slotBefore {
				color: green;
			}

			.label {
				font-style: italic;
			}
		});
	});
}
