// Marquee.module.scss
//
@use "~@enact/sandstone/styles/colors.scss";
@use "~@enact/sandstone/styles/mixins.scss";
@use "~@enact/sandstone/styles/skin.scss";

.spotlight {
	@include skin.applySkins {
		background-color: transparent;
		color: colors.$sand-text-color;
		@include mixins.focus {
			background-color: colors.$sand-spotlight-bg-color;
			color: colors.$sand-spotlight-text-color;
		}
	}
}

.scaledItem {
	width: 600px;
	height: 600px;
	padding: 48px;
	box-sizing: border-box;
	background-color: #4c5059;

	.textArea {
		width: 450px;
		border-color: transparent #d3b85f;
		border-width: 12px;
		border-style: solid;
		margin: auto;
	}

	&:focus {
		transform: scale(1.2);
		transition: transform 0.3s ease-in-out;
	}
}
