.scrollbarTrack {
	background-color: white;

	.thumb {
		background-color: orangered;
	}
}

.editableWrapper { // public class for EditableWrapper
	padding-left: 24px;
	padding-right: 24px;

	.removeButton {
		visibility: hidden;
	}
	.selected { // public class for EditableWrapper
		.removeButton {
			visibility: visible;
		}

		.arrow {
			font-family: "Sandstone Icons";
			font-size: 108px;
			position: absolute;
			top: 15%;
			background: none;
			opacity: 1;
		}

		&::before {
			content: '\EFFF3';
			.arrow;
			left: -30px;
		}

		&::after {
			content: '\EFFF4';
			.arrow;
			right: -30px;
		}
	}
}
