@import "~@enact/sandstone/styles/skin.less";

.spottableitem {
	.applySkins({
		background-color: transparent;
		color: @sand-text-color;
		.focus({
			background-color: @sand-spotlight-bg-color;
			color: @sand-spotlight-text-color;
		});
	});
}
