@import "~@enact/sandstone/styles/mixins.less";

.spottablediv {
	display: inline-block;
	padding: 24px;
	text-align: center;
	background-color: transparent;
	color: #e6e6e6;
	.focus({
		background-color:  #e6e6e6;
		color: #4c5059;
	});
}
