// VirtualList.module.less
//
.verticalPadding {
    :not(:global(.enact-locale-right-to-left)) & {	
        padding-right: 36px;
    }	
    :global(.enact-locale-right-to-left) & {	
        padding-left: 36px;
    }
}

.horizontalPadding {
    padding-bottom: 36px;
}
