// TransferList.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

.transferList {
    .listCell {
        padding: 40px 12px 10px;
        border: 1px solid white;
        border-radius: 21px;
    }

    .itemsList {
        display: flex;
        flex-direction: column;
    }

    .listButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 630px;
        justify-content: space-evenly;
        margin: 30px 0;
    }

    .draggableItem {
        transition: transform 0.4s ease-out;
        box-sizing: content-box;

        &[disabled] {
            cursor: not-allowed;
        }
    }

    .overAbove {
        transform: translate(0, -50px);
        color: #666565;
    }

    .overBelow {
        transform: translate(0, 50px);
        color: #666565;
    }

    .selectionContainer {
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}
