// TransferList.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

.transferList {
    .itemsList {
        display: flex;
        flex-direction: column;
        padding: 40px 12px 10px;
        border: 1px solid white;
        border-radius: 21px;
    }

    .listButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 630px;
        justify-content: space-evenly;
    }
}
