// ProgressBar.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.radial-bar-styles() {
	border-color: inherit;
	border-style: solid;
	border-width: @sand-progress-bar-height;
	box-sizing: border-box;
}

.progressBar {
	height: @sand-progress-bar-height;
	margin: @sand-spotlight-outset;

	.bar {
		border-radius: @sand-progress-bar-border-radius;
		overflow: hidden;
	}

	&.vertical {
		min-height: @sand-progress-bar-height-large;
		width: @sand-progress-bar-height;
	}

	&.radial {
		min-height: @sand-progress-bar-height-large;
		width: @sand-progress-bar-height-large;

		.bar {
			.radial-bar-styles();
			overflow: visible;
		}

		.fill,
		.load {
			.position(-@sand-progress-bar-height);

			&::before,
			&::after {
				.radial-bar-styles();
			}
		}
	}

	// Skin colors
	.applySkins({
		.bar {
			background-color: @sand-progress-bar-bg-color;
		}

		.fill {
			background-color: @sand-progress-bar-fill-bg-color;
		}

		.load {
			background-color: @sand-progress-bar-loaded-bg-color;
		}

		&.radial {
			.bar,
			.fill,
			.load {
				background-color: transparent;
			}

			.bar {
				border-color: @sand-progress-bar-bg-color;
			}

			.fill {
				border-color: @sand-progress-bar-fill-bg-color;
			}

			.load {
				border-color: #6c6e73;// @sand-progress-bar-loaded-bg-color;
			}
		}

		&.highlighted {
			.fill {
				background-color: @sand-progress-bar-highlighted-fill-bg-color;
			}

			&.radial {
				.fill {
					background-color: transparent;
					border-color: @sand-progress-bar-highlighted-fill-bg-color;
				}
			}
		}
	});
}
