// ProgressBarTooltip.module.less
//
@import '../styles/variables.less';
@import '../styles/mixins.less';

.tooltip {
	--tooltip-progress-proportion: 0;
	--tooltip-progress-percent: ~"calc(var(--tooltip-progress-proportion) * 100%)";
	--tooltip-calculated-offset: ~"var(--sand-tooltip-offset, 0px)";

	@offset-large: 0;

	.before (@ruleset) {
		&.left,
		&.before,
		:global(.enact-locale-right-to-left) &.after {
			@ruleset();
		}
	}

	.after (@ruleset) {
		&.right,
		&.after,
		:global(.enact-locale-right-to-left) &.before {
			@ruleset();
		}
	}

	&.radial,
	&.horizontal {
		left: var(--tooltip-progress-percent);

		&.above {
			top: 0;

			&.center {
				transform: translateY(~"calc(-100% - var(--tooltip-calculated-offset))");
			}

			.before({
				transform: translateY(~"calc(-100% - var(--tooltip-calculated-offset))");
			});

			.after({
				transform: translateX(-100%) translateY(~"calc(-100% - var(--tooltip-calculated-offset))");
			});

			.sand-custom-text({
				bottom: ~"calc(var(--tooltip-calculated-offset) + " @offset-large ~")";
			});
		}

		&.below {
			bottom: 0;

			&.center {
				transform: translateY(~"calc(100% + var(--tooltip-calculated-offset))");
			}

			.before({
				transform: translateY(~"calc(100% + var(--tooltip-calculated-offset))");
			});

			.after({
				transform: translateX(-100%) translateY(~"calc(100% + var(--tooltip-calculated-offset))");
			});

			.sand-custom-text({
				top: ~"calc(var(--tooltip-calculated-offset) + " @offset-large ~")";
			});
		}
	}

	&.radial,
	&.vertical {
		bottom: var(--tooltip-progress-percent);

		// Left side
		.before({
			right: 0;
			transform: translate(~"calc(var(--tooltip-calculated-offset) * -1)", 50%);

			.sand-custom-text({
				transform: translate(~"calc(var(--tooltip-calculated-offset) * -1 - " @offset-large ~")", 50%);
			});
		});

		// Right side
		.after({
			right: auto;
			transform: translate(var(--tooltip-calculated-offset), 50%);

			.sand-custom-text({
				transform: translate(~"calc(var(--tooltip-calculated-offset) + " @offset-large ~")", 50%);
			});
		});
	}

	&.radial {
		left: 50%;
		bottom: 50%;

		&.above,
		&.below {
			.before({
				left: 50%;
			});

			.after({
				left: 50%;
			});

			&.center {
				left: 50%
			}
		}

		.before({
			left: 0;
		});

		.after({
			left: 100%;
		});
	}
}
