// Dropdown.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.dropdown {
	display: inline-block;
	margin: @sand-dropdown-margin;

	&.tinyWidth {
		.title,
		.button {
			width: @sand-dropdown-tiny-width;
		}
	}

	&.smallWidth {
		.title,
		.button {
			width: @sand-dropdown-small-width;
		}
	}

	&.mediumWidth {
		.title,
		.button {
			width: @sand-dropdown-medium-width;
		}
	}

	&.largeWidth {
		.title,
		.button {
			width: @sand-dropdown-large-width;
		}
	}

	&.x-largeWidth {
		.title,
		.button {
			width: @sand-dropdown-x-large-width;
		}
	}

	&.hugeWidth {
		.title,
		.button {
			width: @sand-dropdown-huge-width;
		}
	}

	.title {
		font-style: @sand-dropdown-title-font-style;
	}

	&.hasTitle .button {
		margin-top: 0;
	}

	.button {
		min-width: unset;
		max-width: unset;

		&:not([disabled]) {
			.focus({
				&.pressed,
				&:active {
					.bg {
						animation-name: none;
					}
				}
			});
		}
	}

	// Skin colors
	.applySkins({
		.title {
			color: @sand-dropdown-title-color;
		}
	});
}

.dropdownList {
	border-radius: @sand-dropdown-border-radius;
	max-height: @sand-dropdown-list-max-height;

	&.tiny {
		width: @sand-dropdown-list-tiny-width;
	}

	&.small {
		width: @sand-dropdown-list-small-width;
	}

	&.medium {
		width: @sand-dropdown-list-medium-width;
	}

	&.large {
		width: @sand-dropdown-list-large-width;
	}

	&.x-large {
		width: @sand-dropdown-list-x-large-width
	}

	&.huge {
		width: @sand-dropdown-list-huge-width;
	}

	.sand-custom-text({
		max-height: @sand-dropdown-list-max-height-large;
	});

	// Skin colors
	.applySkins({
		[data-selected="true"] {
			&:not(:focus) {
				color: @sand-dropdown-selected-text-color;
			}
		}
	});
}
