// Dropdown.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.dropdown {
	&.tinyWidth {
		min-width: @sand-dropdown-tiny-width;
		width: @sand-dropdown-tiny-width;
	}

	&.smallWidth {
		width: @sand-dropdown-small-width;
	}

	&.mediumWidth {
		width: @sand-dropdown-medium-width;
	}

	&.largeWidth {
		width: @sand-dropdown-large-width;
	}

	&.x-largeWidth {
		max-width: @sand-dropdown-x-large-width;
		width: @sand-dropdown-x-large-width;
	}

	&.hugeWidth {
		max-width: @sand-dropdown-huge-width;
		width: @sand-dropdown-huge-width;
	}

	&:not([disabled]) {
		.focus({
			&.pressed,
			&:active {
				.bg {
					animation-name: none;
				}
			}
		});
	}
}

.dropDownList {
	border-radius: @sand-dropdown-border-radius;
	max-height: @sand-dropdown-list-max-height;

	&.tiny {
		width: @sand-dropdown-list-tiny-width;
	}

	&.small {
		width: @sand-dropdown-list-small-width;
	}

	&.medium {
		width: @sand-dropdown-list-medium-width;
	}

	&.large {
		width: @sand-dropdown-list-large-width;
	}

	&.x-large {
		width: @sand-dropdown-list-x-large-width
	}

	&.huge {
		width: @sand-dropdown-list-huge-width;
	}

	.sand-custom-text({
		max-height: @sand-dropdown-list-max-height-large;
	});

	// Skin colors
	.applySkins({
		[data-selected="true"] {
			&:not(:focus) {
				color: @sand-dropdown-selected-text-color;
			}
		}
	});
}

.title {
	font-style: @sand-dropdown-title-font-style;
}
