@import '~@enact/sandstone/styles/variables.less';
@import '~@enact/sandstone/styles/skin.less';

.applySkins({
	.deviceItem {
		background-color: green;
		width: 160px;
		height: 220px;
		margin: 3px;

		.deviceItemBackground {
			width: 141px;
			height: 207px;
			background-color: blue;
			background-image: url('http://ngfts.lge.com/fts/gftsDownload.lge?biz_code=IBS&func_code=EPG_PROGRAM_IMG&file_path=/ibs/epg/program_img/pm00012429.jpg');
			background-size: 141px 207px;
		}
	}
});
