// Calendar.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

.calendar {
	width: 1500px;
	height: 1230px;
	border: 1px solid white;
	padding: @sand-calendar-spacing;

	.header {
		align-items: center;
		padding-bottom: @sand-calendar-spacing;

		.dropdown {
			margin: 0;
		}
	}

	.body {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		.day,
		.dayName {
			width: 14.2%;
			display: flex;
			justify-content: center;

			.dayNumber {
				min-width: 48px;
				border-radius: 50%;
			}
		}

		.dayName {
			margin: @sand-calendar-spacing 0;
		}
	}
}

.applySkins({
	.calendar {
		border: 3px solid @sand-focus-text-color;
	}

	.dayNumber {
		.focus({
			.sand-button-focus-bg-colors();
			.sand-spotlight-focus-text-colors();

			.sand-disabled({
				.sand-disabled-focus-bg-colors();
			});

			transform: @sand-button-focusexpand-focus-bg-transform;
			transition-duration: @sand-button-focus-duration;

			&:not([disabled]) {
				&:active {
					transform: none;
				}
			}
		});

		.sand-disabled({
			& {
				.sand-disabled-colors();
			}
		})
	}

	.isToday {
		border: 6px solid @sand-focus-text-color;
	}
});
