@import "../styles/variables.less";
@import "../styles/mixins.less";

.expandableList {
	.listItem {
		font-weight: @sand-expandable-value-font-weight;
		font-size: @sand-expandable-client-item-font-size;
	}

	.sand-custom-text({
		.listItem {
			font-size: @sand-expandable-client-item-font-size-large;
		}
	});
}
