// FeedbackTooltip.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.feedbackTooltip {
	position: absolute;
	bottom: @sand-video-slider-tooltip-position-bottom;

	&.hidden {
		display: none;
	}

	.thumbnail,
	.content {
		pointer-events: none;
		will-change: transform;
	}

	.thumbnail {
		border-width: @sand-video-slider-tooltip-thumbnail-border-width;
		border-style: solid;
		border-radius: 0;
		overflow: hidden;
		transition: opacity 250ms;

		.image {
			margin: 0;
			width: 504px;
			height: 282px;
		}
	}

	&.thumbnailDeactivated {
		.thumbnail {
			opacity: 0.5;
		}
	}

	.content {
		.sand-text-base(@sand-video-slider-tooltip-font-size);
		line-height: @sand-video-slider-tooltip-line-height;
		white-space: nowrap;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
	}

	.alignmentContainer {
		position: relative;
		right:50%;
	}

	.applySkins({
		.thumbnail {
			border-color: @sand-video-slider-tooltip-thumbnail-border-color;
		}

		.content {
			color: @sand-white;
			text-shadow: @sand-video-player-title-text-shadow;
		}
	});
}
