@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

.controlsFrame {
    --actionGuideComponentHeight: 0;

    position: relative;
    display: block;

    &.hidden {
        will-change: opacity;
        opacity: 0;
    }

    .mediaControls {
        text-align: center;
        direction: ltr;
        white-space: nowrap;

        > * {
            .margin-start-end(0, 0);
        }

        > * + * {
            -webkit-margin-start: @sand-mediacontrols-button-margin-start;
        }

        > * {
            vertical-align: top;
        }
    }

    .actionGuide {
        padding-top: @sand-mediacontrols-actionguide-padding-top;
        transition: opacity @sand-mediacontrols-actionguide-time linear;
        &.hidden {
            opacity: 0;
        }
    }

    .moreButtonsComponents {
        > * + * {
            -webkit-margin-start: @sand-mediacontrols-morebuttons-margin-start;
        }
    }

    .moreComponents {
        position: absolute;
        left: 0;
        right: 0;
        height: 0px;
        opacity: 0;

        &.lift {
            opacity: 1;
            transition: transform @sand-mediacontrols-moreComponents-time linear;
            transform: translateY(~"calc(var(--actionGuideComponentHeight) * -1)");
        }

        > :first-child {
            margin-top: @sand-mediacontrols-moreComponents-margin-top;
        }
    }
}