// VideoPlayer.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

.videoPlayer {
	// Set by counting the IconButtons inside the side components.
	--liftDistance: 0px;

	overflow: hidden;

	.video {
		height: 100%;
		width: 100%;
	}

	.preloadVideo {
		display: none;
	}

	.overlay {
		position: absolute;
		.position(0);

		&::after {
			content: "";
			position: absolute;
			.position(auto, 0, 0, 0);
			height: 720px;
			transform-origin: bottom;
			// Fancier gradient for future reference. Keeping linear-gradient as specified from Enyo.
			// background-image: radial-gradient(rgba(0, 0, 0, 0) 50%, #000000 100%);
			// background-size: 170% 200%;
			// background-position: bottom center;
		}
	}

	.fullscreen {
		.miniFeedback {
			position: absolute;
			z-index: 50;  // Value assigned as part of the VideoPlayer API so layers may be inserted in-between
			top: @sand-video-feedback-mini-position-top;
			left: @sand-video-feedback-mini-position-left;
			font-family: @sand-video-feedback-mini-font-family;
			font-weight: @sand-video-feedback-mini-font-weight;
			font-style: @sand-video-feedback-mini-font-style;
			font-size: @sand-video-feedback-mini-font-size;
			padding: 0 @sand-video-feedback-mini-padding-side;
			line-height: @sand-video-feedback-mini-line-height;
			border-radius: (@sand-video-feedback-mini-line-height / 2);
			bottom: auto;
			pointer-events: none;
		}

		.bottom {
			position: absolute;
			z-index: 100;  // Value assigned as part of the VideoPlayer API so layers may be inserted in-between
			bottom: @sand-video-player-padding-bottom;
			left: @sand-video-player-padding-side;
			right: @sand-video-player-padding-side;

			&.lift {
				transform: translateY(~"calc(var(--liftDistance) * -1)");
				transition: transform 0.3s linear;
			}

			&.hidden {
				pointer-events: none;

				.sliderContainer {
					position: absolute;
					width: 100%;
				}
			}

			.infoFrame {
				display: flex;
				margin-bottom: @sand-spotlight-outset;

				// Title Container
				.titleFrame {
					--infoComponentsOffset: 0;

					@badges-present-transition: transform 500ms ease-in-out;

					position: relative;
					flex-grow: 1;
					opacity: 1;
					.margin-start-end(0, @sand-spotlight-outset);

					&.hidden {
						transition: opacity 1000ms ease-in-out;
						opacity: 0;
					}

					// Title
					.title {
						position: absolute;
						bottom: -10px;
						width: 100%;
						.sand-text-base(@sand-video-player-title-size);
						line-height: @sand-heading-title-line-height;
						transition: @badges-present-transition;
						.font-kerning;

						&.infoVisible {
							transform: translateY(~"calc(var(--infoComponentsOffset) * -1)") translateZ(0);
						}

						.sand-locale-non-latin({
							// The font-size .times is the same as .title in non-latin locales so no
							// vertical adjustment is required to align their baselines
							bottom: 0;
						});
					}

					// Badges and title components
					.infoComponents {
						vertical-align: super;
						font-size: 54px;

						&.hidden {
							opacity: 0;
						}
						&.visible {
							transition: opacity 500ms ease-in-out;
						}

						> * {
							display: inline-block;
							margin: 0 12px;
						}

						.badgeTextIcon {
							font-family: @sand-font-family-bold;
							font-size: @sand-video-player-badge-text-size;
							text-align: center;
							white-space: nowrap;
							display: inline-block;
						}

						.fontLgIcons {
							font-family: "LG Icons";
						}
					}
				}
			}

			.sliderContainer {
				display: flex;
				align-items: center;

				:global(.enact-locale-right-to-left) & {
					direction: ltr;
				}
			}
		}
	}

	.controlsHandleAbove {
		pointer-events: none;
		position: absolute;
		.position(0, 0, auto, 0);
	}

	// Skin colors
	.applySkins({
		.fullscreen {
			.miniFeedback {
				background-color: @sand-video-feedback-mini-bg-color;
				color: @sand-video-feedback-mini-text-color;
			}

			.bottom {
				background-color: @sand-video-player-bottom-bg-color;

				.infoFrame {
					text-shadow: @sand-video-player-title-text-shadow;

					// Title Container
					.titleFrame {
						color: @sand-video-player-title-color;

						.redIcon {
							background-color: @sand-video-player-redicon-bg-color;
							color: @sand-video-player-redicon-text-color;
						}
					}
				}
			}
		}

		.overlay {
			&.high-contrast-scrim::after {
				background: @sand-video-player-high-contrast-scrim-gradient-color
			}
		}
	});
}
