// VideoPlayer.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

.videoPlayer {
	// Set by counting the IconButtons inside the side components.
	--liftDistance: 0px;

	overflow: hidden;

	.video {
		height: 100%;
		width: 100%;
	}

	.preloadVideo {
		display: none;
	}

	.overlay {
		position: absolute;
		.position(0);

		&::after {
			content: "";
			position: absolute;
			.position(auto, 0, 0, 0);
			height: 1800px;
			transform-origin: bottom;
			// Fancier gradient for future reference. Keeping linear-gradient as specified from Enyo.
			// background-image: radial-gradient(rgba(0, 0, 0, 0) 50%, #000000 100%);
			// background-size: 170% 200%;
			// background-position: bottom center;
		}
	}

	.fullscreen {
		.miniFeedback {
			position: absolute;
			z-index: 50;  // Value assigned as part of the VideoPlayer API so layers may be inserted in-between
			top: @sand-video-feedback-mini-position-top;
			left: @sand-video-feedback-mini-position-left;
			font-family: @sand-video-feedback-mini-font-family;
			font-weight: @sand-video-feedback-mini-font-weight;
			font-style: @sand-video-feedback-mini-font-style;
			font-size: @sand-video-feedback-mini-font-size;
			padding: 0 @sand-video-feedback-mini-padding-side;
			line-height: @sand-video-feedback-mini-line-height;
			border-radius: (@sand-video-feedback-mini-line-height / 2);
			bottom: auto;
			pointer-events: none;
		}

		.bottom {
			position: absolute;
			z-index: 100;  // Value assigned as part of the VideoPlayer API so layers may be inserted in-between
			bottom: @sand-video-player-padding-bottom;
			left: @sand-video-player-padding-side;
			right: @sand-video-player-padding-side;

			&.lift {
				transform: translateY(~"calc(var(--liftDistance) * -1)");
				transition: transform 0.3s linear;
			}

			&.hidden {
				pointer-events: none;

				.sliderContainer {
					position: absolute;
					width: 100%;
				}
			}

			.infoFrame {
				display: flex;
				margin-bottom: @sand-spotlight-outset;
			}

			.sliderContainer {
				display: flex;
				align-items: center;

				:global(.enact-locale-right-to-left) & {
					direction: ltr;
				}
			}
		}
	}

	.controlsHandleAbove {
		pointer-events: none;
		position: absolute;
		.position(0, 0, auto, 0);
	}

	// Skin colors
	.applySkins({
		.fullscreen {
			.miniFeedback {
				background-color: @sand-video-feedback-mini-bg-color;
				color: @sand-video-feedback-mini-text-color;
			}

			.bottom {
				background-color: @sand-video-player-bottom-bg-color;

				.infoFrame {
					text-shadow: @sand-video-player-title-text-shadow;
				}
			}
		}

		.overlay {
			&.scrim::after {
				background: @sand-video-player-scrim-gradient-color
			}
		}
	});
}
