// Icon.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.icon {
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
	font-family: @sand-icon-font-family;

	&.large {
		width: @sand-icon-large-size;
		height: @sand-icon-large-size;
		font-size: @sand-icon-large-font-size;
		line-height: @sand-icon-large-size;
		margin: @sand-icon-large-margin;
		background-position: center -((@sand-icon-large-sprite-size - @sand-icon-large-size) / 2);
		background-size: @sand-icon-large-sprite-size (@sand-icon-large-sprite-size * 2);

		.sand-custom-text({
			font-size: @sand-icon-large-font-size-large;
			width: @sand-icon-large-size-large;
			height: @sand-icon-large-size-large;
			line-height: @sand-icon-large-size-large;
		});
	}

	&.medium {
		width: @sand-icon-medium-size;
		height: @sand-icon-medium-size;
		font-size: @sand-icon-medium-font-size;
		line-height: @sand-icon-medium-size;
		margin: @sand-icon-medium-margin;
		background-position: center -((@sand-icon-medium-sprite-size - @sand-icon-medium-size) / 2);
		background-size: @sand-icon-medium-sprite-size (@sand-icon-medium-sprite-size * 2);
	}

	&.small {
		width: @sand-icon-small-size;
		height: @sand-icon-small-size;
		font-size: @sand-icon-small-font-size;
		line-height: @sand-icon-small-size;
		margin: @sand-icon-small-margin;
		background-position: center -((@sand-icon-small-sprite-size - @sand-icon-small-size) / 2);
		background-size: @sand-icon-small-sprite-size (@sand-icon-small-sprite-size * 2);

		.sand-custom-text({
			font-size: @sand-icon-small-font-size-large;
			width: @sand-icon-small-size-large;
			height: @sand-icon-small-size-large;
			line-height: @sand-icon-small-size-large;
		});
	}

	&.tiny {
		width: @sand-icon-tiny-size;
		height: @sand-icon-tiny-size;
		font-size: @sand-icon-tiny-font-size;
		line-height: @sand-icon-tiny-size;
		margin: @sand-icon-tiny-margin;
		background-position: center -((@sand-icon-tiny-sprite-size - @sand-icon-tiny-size) / 2);
		background-size: @sand-icon-tiny-sprite-size (@sand-icon-tiny-sprite-size * 2);
	}

	&.dingbat {
		font-family: @sand-icon-other-font-family;

		&.large {
			font-size: @sand-icon-large-size;
		}
		&.medium {
			font-size: @sand-icon-medium-size;
		}
		&.small {
			font-size: @sand-icon-small-size;
		}
		&.tiny {
			font-size: @sand-icon-tiny-size;
		}
	}

	// Skin colors
	.applySkins({
		color: inherit;
	});
}

.focus({
	.icon {
		&.large {
			background-position: center -(@sand-icon-large-sprite-size + ((@sand-icon-large-sprite-size - @sand-icon-large-size) / 2));
		}
		&.medium {
			background-position: center -(@sand-icon-medium-sprite-size + ((@sand-icon-medium-sprite-size - @sand-icon-large-size) / 2));
		}
		&.small {
			background-position: center -(@sand-icon-small-sprite-size + ((@sand-icon-small-sprite-size - @sand-icon-small-size) / 2));
		}
		&.tiny {
			background-position: center -(@sand-icon-tiny-sprite-size + ((@sand-icon-tiny-sprite-size - @sand-icon-small-size) / 2));
		}

		.applySkins({
			color: inherit;
		});
	}
}, parent);

.muted({
	.focus({
		.icon {
			&.large {
				background-position: center -((@sand-icon-large-sprite-size - @sand-icon-large-size) / 2);
			}
			&.medium {
				background-position: center -((@sand-icon-medium-sprite-size - @sand-icon-medium-size) / 2);
			}
			&.small {
				background-position: center -((@sand-icon-small-sprite-size - @sand-icon-small-size) / 2);
			}
			&.tiny {
				background-position: center -((@sand-icon-tiny-sprite-size - @sand-icon-tiny-size) / 2);
			}

			.applySkins({
				color: inherit;
			});
		}
	}, parent);
}, parent);
