@backgroundColor: #abaeb3;
@fontColor: #4c5059;

.mainView {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.inputBoard {
	background-color: #E9E9E9;
	border-radius: 6px;
	color: @fontColor;
	font-size: 36px;
	height: 144px;
	line-height: 36px;
	padding: 6px;
	&:hover {
		background-color: @backgroundColor;
		color: @fontColor;
	}
}
