// OverscrollEffect.module.less
//

.horizontal {
	transform: var(--scroll-overscroll-translate-horizontal);
	transition-timing-function: var(--scroll-overscroll-ease-horizontal);
	transition: transform 200ms;
}

.vertical {
	transform: var(--scroll-overscroll-translate-vertical);
	transition-timing-function: var(--scroll-overscroll-ease-vertical);
	transition: transform 200ms;
}
