// OverscrollEffect.module.less
//

.scroll {
	--scroll-overscroll-translate-horizontal: none;
	--scroll-overscroll-transition-horizontal: transform 0 unset;
	--scroll-overscroll-translate-vertical: none;
	--scroll-overscroll-transition-vertical: transform 0 unset;
}

.horizontal {
	transform: var(--scroll-overscroll-translate-horizontal);
	transition: var(--scroll-overscroll-transition-horizontal);
}

.vertical {
	transform: var(--scroll-overscroll-translate-vertical);
	transition: var(--scroll-overscroll-transition-vertical);
}
