// OverscrollEffect.module.less
//

.scroll {
	--scroll-overscroll-translate-horizontal: none;
	--scroll-overscroll-ease-horizontal: unset;
	--scroll-overscroll-translate-vertical: none;
	--scroll-overscroll-ease-vertical: unset;
}

.horizontal {
	transform: var(--scroll-overscroll-translate-horizontal);
	transition-timing-function: var(--scroll-overscroll-ease-horizontal);
	transition: transform 200ms;
}

.vertical {
	transform: var(--scroll-overscroll-translate-vertical);
	transition-timing-function: var(--scroll-overscroll-ease-vertical);
	transition: transform 200ms;
}
