// ScrollThumb.module.less
//

@import "../styles/colors.less";
@import "../styles/mixins.less";
@import "../styles/variables.less";

.scrollTrack {
	--scrollbar-size-ratio: 1;
	--scrollbar-progress-ratio: 0;
	--scrollbar-size: ~"calc(100% * var(--scrollbar-size-ratio))";
	--scrollbar-progress: ~"calc(((1 - var(--scrollbar-size-ratio)) * var(--scrollbar-progress-ratio)) * 100%)";

	position: relative;
	height: 100%;
	width: 100%;
	background-color: @sand-scrolltrack-bg-color;
	border-radius: @sand-scrolltrack-border-radius;
	opacity: 0;
	transition: opacity 100ms linear;
	-webkit-transition: opacity 100ms linear;

	&:hover {
		opacity: 1;
	}

	&.focusableScrollbar {
		// Always show the scrollbar
		opacity: 1;
	}

	.thumb {
		background: @sand-scrollthumb-bg-color;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: @sand-scrollthumb-border-radius;

		.focus({
			position: absolute;
			background-color: @sand-scrollthumb-focus-bg-color;
			filter: drop-shadow(@sand-scrollthumb-focus-box-shadow @sand-scrollthumb-focus-box-shadow-color);
			border-radius: @sand-scrollthumb-focus-border-radius;

			.directionIndicator {
				position: absolute;
				width: 0;
				height: 0;
				border-top: @sand-scrollthumb-focus-direction-indicator-height solid transparent;
				border-bottom: @sand-scrollthumb-focus-direction-indicator-height solid @sand-scrollthumb-focus-direction-indicator-color;
				border-right: @sand-scrollthumb-focus-direction-indicator-width/2 solid transparent;
				border-left: @sand-scrollthumb-focus-direction-indicator-width/2 solid transparent;
			}
		})
	}

	&.vertical {
		margin: 0 var(--scrollbar-thumb-margin);
		width: @sand-scrolltrack-width;

		.thumb {
			height: var(--scrollbar-size);
			top: var(--scrollbar-progress);
			will-change: top;

			&:focus {
				width: @sand-scrollthumb-focus-width;
				left: @sand-scrollthumb-focus-left;

				.directionIndicator.backward {
					top: calc(@sand-scrollthumb-focus-direction-indicator-top - @sand-scrollthumb-focus-direction-indicator-height);
					left: @sand-scrollthumb-focus-direction-indicator-left;
				}

				.directionIndicator.forward {
					transform: rotate(180deg);
					bottom: calc(@sand-scrollthumb-focus-direction-indicator-top - @sand-scrollthumb-focus-direction-indicator-height);
					left: @sand-scrollthumb-focus-direction-indicator-left;
				}
			}
		}
	}

	&:not(.vertical) {
		margin: var(--scrollbar-thumb-margin) 0;
		height: @sand-scrolltrack-width;

		.thumb {
			width: var(--scrollbar-size);
			left: var(--scrollbar-progress);
			will-change: left;
			top: 50%;
			transform: translateY(-50%);

			.focus({
				height: @sand-scrollthumb-focus-width;

				.directionIndicator.backward {
					transform: rotate(-90deg);
					left: calc(@sand-scrollthumb-focus-direction-indicator-top - @sand-scrollthumb-focus-direction-indicator-height);
					top: calc(@sand-scrollthumb-focus-direction-indicator-left/2);
				}

				.directionIndicator.forward {
					transform: rotate(90deg);
					right: calc(@sand-scrollthumb-focus-direction-indicator-top - @sand-scrollthumb-focus-direction-indicator-height);
					top: calc(@sand-scrollthumb-focus-direction-indicator-left/2);
				}
			})
		}
	}
}
