// ScrollToTopButton.module.less
//
@import '../styles/variables.less';

.scrollToTopButton {
	transition: opacity @sand-scroll-scrolltotop-animation-duration;
	opacity: 0;
	position: absolute;
	right: 0;
	bottom: 0;

	&.showing {
		opacity: 1;
	}

	&.horizontalScrollbar {
		bottom: @sand-scroll-scrolltotop-scrollbar-offset;
	}

	&.verticalScrollbar {
		right: @sand-scroll-scrolltotop-scrollbar-offset;
	}

	&.rtl {
		left: 0;
		right: auto;

		&.verticalScrollbar {
			left: @sand-scroll-scrolltotop-scrollbar-offset;
		}
	}
}
