// Scrollbar.module.less
//
@import "../styles/skin.less";
@import "../styles/mixins.less";
@import "../styles/variables.less";

.scrollbar {
	background: none;
	border-color: transparent;

	&.horizontal {
		.enact-locale-rtl({
			// Flip the entire bar horizontally in RTL mode, and force it to remain in LTR.
			direction: ltr;
			transform: scaleX(-1);
		});
	}
}

