@import "../styles/colors.less";
@import "../styles/mixins.less";
@import "../styles/variables.less";

.focusableBody {
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: @sand-scroll-focusablebody-focus-border-radius;

	.focus({
		background-color: @sand-scroll-focusablebody-focus-bg-color;
	})
}

.scroll {
	--scroll-scrollbar-size: 60px;
	--scroll-fadeout-size: 48px;
	--scroll-padding-size: calc(var(--scroll-scrollbar-size) + var(--scroll-fadeout-size));

	box-sizing: border-box;
	overflow: hidden;

	&.verticalPadding {
		padding-left: var(--scroll-scrollbar-size);
		padding-right: var(--scroll-scrollbar-size);
	}

	&.horizontalPadding {
		padding-bottom: var(--scroll-scrollbar-size);
	}

	.scrollContent {
		box-sizing: border-box;
		padding: var(--scroll-fadeout-size);

		&.verticalFadeout {
			-webkit-mask-image: linear-gradient(transparent, @sand-black var(--scroll-fadeout-size), @sand-black calc(100% - var(--scroll-fadeout-size)), transparent 100%);
			mask-image: linear-gradient(transparent, @sand-black var(--scroll-fadeout-size), @sand-black calc(100% - var(--scroll-fadeout-size)), transparent 100%);
		}

		&.horizontalFadeout {
			-webkit-mask-image: linear-gradient(to right, transparent, @sand-black var(--scroll-fadeout-size), @sand-black calc(100% - var(--scroll-fadeout-size)), transparent 100%);
			mask-image: linear-gradient(to right, transparent, @sand-black var(--scroll-fadeout-size), @sand-black calc(100% - var(--scroll-fadeout-size)), transparent 100%);
		}
	}

	.verticalScrollbar {
		position: absolute;
		width: var(--scroll-scrollbar-size);
		height: calc(100% - var(--scroll-padding-size));
		right: 0;
		top: var(--scroll-fadeout-size);
	}

	&.rtl {
		.verticalScrollbar {
			left: 0;
			right: initial;
		}
	}

	.horizontalScrollbar {
		position: absolute;
		width: calc(100% - 2 * var(--scroll-padding-size));
		height: var(--scroll-scrollbar-size);
		left: var(--scroll-padding-size);
		bottom: 0;
	}
}
