// useScroll.module.less
//
@import "../styles/colors.less";
@import "../styles/variables.less";

.scroll {
	--scroll-scrollbar-size: @sand-scrollbar-size;

	box-sizing: border-box;
	overflow: hidden;

	&.focusableScrollbar {
		--scroll-scrollbar-size: @sand-scrollbar-focusable-size;
	}

	&.verticalPadding {
		.verticalScrollbar {
			position: absolute;
			width: var(--scroll-scrollbar-size);
			height: calc(100% - 2 * @sand-scroll-affordance-size);
			right: 0;
			top: @sand-scroll-affordance-size;
		}

		:global(.enact-locale-right-to-left) & .verticalScrollbar {
			left: 0;
			right: initial;
		}
	}

	&.horizontalPadding {
		padding-bottom: var(--scroll-scrollbar-size);

		.horizontalScrollbar {
			position: absolute;
			width: calc(100% - 2 * @sand-scroll-affordance-size);
			height: var(--scroll-scrollbar-size);
			left: @sand-scroll-affordance-size;
			bottom: 0;
		}
	}

	&.verticalPadding.horizontalPadding {
		.verticalScrollbar {
			height: calc(100% - 2 * @sand-scroll-affordance-size - var(--scroll-scrollbar-size));
		}

		.horizontalScrollbar {
			width: calc(100% - 2 * @sand-scroll-affordance-size - 2 * var(--scroll-scrollbar-size));
			left: calc(@sand-scroll-affordance-size + var(--scroll-scrollbar-size));
		}
	}

	.scrollContentWrapper {
		width: 100%;
		height: 100%;
	}

	.scrollContent {
		box-sizing: border-box;
	}
}
