// Picker.module.less
//
@import "../../styles/variables.less";
@import "../../styles/mixins.less";
@import "../../styles/skin.less";

.picker {
	display: inline-block;
	border-radius: @sand-picker-border-radius;
	vertical-align: bottom;
	position: relative;
	text-align: center;
	margin-left: @sand-spotlight-outset;
	margin-right: @sand-spotlight-outset;

	.sizingPlaceholder,
	.valueWrapper {
		.sand-text-base();
		.sand-locale-non-latin({line-height: @sand-button-small-height;});
		max-width: 960px;
	}

	.sizingPlaceholder {
		height: 0;
		visibility: hidden;
	}

	.valueWrapper {
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		vertical-align: bottom;
		line-height: @sand-picker-value-line-height;
		height: @sand-picker-value-height;
	}

	.incrementer,
	.decrementer {
		cursor: pointer;
		margin: 0;
		position: relative;
		transition: transform 100ms;

		.disabled({
			cursor: default;
		});
	}

	&.horizontal {
		display: inline-flex;

		:global(.enact-locale-right-to-left) & {
			flex-direction: row-reverse;
		}

		.incrementer {
			order: 3;
			flex-shrink: 0;
			margin-left: @sand-spotlight-outset;
		}
		.decrementer {
			order: 1;
			flex-shrink: 0;
			margin-right: @sand-spotlight-outset;
		}
		.valueWrapper {
			order: 2;
		}
	}

	&.joined {
		@joined-arrow-transform-resting: scale(0.7);
		@joined-arrow-transform-focus: scale(0.95);
		@joined-arrow-transform-active: @joined-arrow-transform-resting;

		&::before {
			.position(0);

			content: "";
			display: block;
			position: absolute;
			border-width: 0;
			border-style: solid;
			border-radius: inherit;
			pointer-events: none;
		}

		.icon {
			vertical-align: top;
			margin: 0;
			width: @sand-button-small-height;
			height: @sand-button-small-height;
			line-height: @sand-button-small-height;
		}

		.indicatorContainer {
			position: absolute;
			bottom: @sand-picker-indicator-bottom;
    		width: 100%;
			margin: 0 auto;
			line-height: 0;
			.indicator {
				display: inline-block;
				width: @sand-picker-indicator-width;
				height: @sand-picker-indicator-height;
				margin-right: @sand-picker-indicator-margin-right;
				border-radius: @sand-picker-indicator-border-radius;
				vertical-align: middle;
				cursor: pointer;
				&.active {
					width: @sand-picker-indicator-active-width;
					height: @sand-picker-indicator-active-height;
				}
			}
		}

		.incrementer,
		.decrementer {
			will-change: transform;
			transform: @joined-arrow-transform-resting;

			&.hidden {
				visibility: hidden;
			}
		}

		.focus({
			.incrementer,
			.decrementer {
				transform: @joined-arrow-transform-focus;
			}

			&.incrementing .incrementer,
			&.decrementing .decrementer {
				transform: @joined-arrow-transform-active;
			}

			.disabled({
				.incrementer,
				.decrementer {
					transform: @joined-arrow-transform-resting;
				}
			});
		});

		&.horizontal {
			border-radius: @sand-picker-horizontal-button-border-radius;
			.valueWrapper {
				line-height: @sand-picker-joined-value-line-height;
			}

			&.incrementing::before {
				border-right-width: @sand-integer-picker-shadow-width;
			}

			&.decrementing::before {
				border-left-width: @sand-integer-picker-shadow-width;
			}

			.incrementer,
			.decrementer {
				margin: 0;
				height: @sand-picker-value-height;
				line-height: @sand-picker-value-height;

				.icon {
					visibility: hidden;
				}
			}
		}

		&.vertical {
			&.incrementing::before {
				border-top-width: @sand-integer-picker-shadow-width;
			}
			&.decrementing::before {
				border-bottom-width: @sand-integer-picker-shadow-width;
			}
			.incrementer,
			.decrementer {
				display: block;
			}
		}
	}

	&.small .valueWrapper {
		width: (@sand-icon-large-size + @sand-spotlight-outset*3);
	}
	&.medium .valueWrapper {
		width: @sand-picker-medium-value-width;
	}
	&.large .valueWrapper {
		width: @sand-picker-large-value-width;
	}

	&.horizontal {
		&.small,
		&.medium,
		&.large {
			.valueWrapper {
				position: relative;

				.item {
					position: absolute;
					.position(0);
					transform: translateX(100%);
				}
			}
		}
	}

	&.vertical .valueWrapper {
		display: block;
		position: relative;
		line-height: @sand-picker-joined-value-line-height;

		.sizingPlaceholder,
		.item {
			margin: 0 @sand-spotlight-outset;
		}

		.item {
			position: absolute;
			.position(0);
			transform: translateY(100%);
		}
	}

	// Skin colors
	.applySkins({
		.sizingPlaceholder,
		.valueWrapper {
			color: @sand-picker-text-color;
		}

		.valueWrapper {
			color: inherit;
		}

		&.joined {
			color: @sand-picker-joined-text-color;
			background-color: @sand-picker-joined-bg-color;

			&::before {
				border-color: @sand-picker-joined-fingernail-border-color;
			}

			&.horizontal {
				background-color: @sand-picker-joined-horizontal-bg-color;

				.indicator {
					background-color: @sand-picker-indicators-inactive-bg-color;

					&.active {
						background-color: @sand-picker-indicators-active-bg-color;
					};
				}
			}

			.focus({
				background-color: @sand-picker-joined-focused-bg-color;
				color: @sand-picker-focus-text-color;

				.disabled({
					color: @sand-spotlight-disabled-text-color;
				});

				.indicator {
					background-color: @sand-picker-indicators-inactive-focus-bg-color;

					&.active {
						background-color: @sand-picker-indicators-active-focus-bg-color;
					}
				}
			})
		}
	});

	// Large-text mode rules
	.sand-custom-text({
		border-radius: @sand-button-small-height-large;

		.sizingPlaceholder,
		.valueWrapper {
			font-size: @sand-item-font-size-large;
		}
		.valueWrapper {
			line-height: @sand-button-small-height-large;
			height: @sand-button-small-height-large;
		}

		&.joined {
			&.horizontal {
				font-size: @sand-item-font-size-large;
				height: @sand-button-small-height-large;
				line-height: @sand-button-small-height-large;

				.incrementer,
				.decrementer {
					&,
					.icon {
						height: @sand-button-small-height-large;
						line-height: @sand-button-small-height-large;
					}
				}
			}
		}

		&.small,
		&.medium,
		&.large {
			&.vertical {
				.valueWrapper {
					.sizingPlaceholder,
					.item {
						margin: 0 @sand-spotlight-outset;
					}
				}
			}
		}

		&.vertical {
			.valueWrapper {
				padding: 0 @sand-spotlight-outset;

				.sizingPlaceholder,
				.item {
					margin: 0;
				}
			}
		}
	});
}

.muted({
	.picker {
		.applySkins({
			&.joined {
				.focus({
					background-color: transparent;
					color: @sand-picker-text-color;

					.incrementer,
					.decrementer {
						transform: scale(0.7);
					}
				});
			}
		});
	}
});
