// Picker.module.less
//
@import "../../styles/variables.less";
@import "../../styles/mixins.less";
@import "../../styles/skin.less";

.picker {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	text-align: center;
	margin-left: @sand-spotlight-outset;
	margin-right: @sand-spotlight-outset;

	.sizingPlaceholder,
	.valueWrapper {
		.sand-text-base(@sand-picker-font-size);
		.sand-locale-non-latin({line-height: @sand-button-small-height;});
		max-width: 960px;

		.item {
			&.numeric {
				.sand-font-number();
			}
		}
	}

	.sizingPlaceholder {
		height: 0;
		visibility: hidden;
	}

	.valueWrapper {
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		vertical-align: bottom;
		height: @sand-picker-value-height;
		line-height: @sand-picker-value-height;
	}

	.incrementer,
	.decrementer {
		cursor: pointer;
		margin: 0;
		position: relative;
		transition: transform 100ms;

		.disabled({
			cursor: default;
		});
	}

	&.horizontal {
		display: inline-flex;

		:global(.enact-locale-right-to-left) & {
			flex-direction: row-reverse;
		}

		.incrementer {
			order: 3;
			flex-shrink: 0;
			margin-left: @sand-spotlight-outset;
		}
		.decrementer {
			order: 1;
			flex-shrink: 0;
			margin-right: @sand-spotlight-outset;
		}
		.valueWrapper {
			order: 2;
			position: relative;

			.item {
				transform: translateX(100%);
			}
		}

		&.small,
		&.medium,
		&.large {
			.valueWrapper {
				.item {
					position: absolute;
					.position(0);
					transform: translateX(100%);
				}
			}
		}
	}

	&.vertical {
		height: @sand-picker-joined-vertical-height;

		.valueWrapper {
			display: block;
			position: relative;

			.sizingPlaceholder,
			.item {
				margin: 0 @sand-spotlight-outset;
			}

			.item {
				position: absolute;
				.position(0);
				transform: translateY(100%);
			}
		}
	}

	&.joined {
		&::before,
		&::after {
			content: "";
			position: absolute;
			.position(0);
		}

		&::after {
			border-width: 0;
			border-style: solid;
			border-radius: inherit;
			pointer-events: none;
		}

		.icon {
			vertical-align: top;
			margin: 0;
			width: @sand-button-small-height;
			height: @sand-button-small-height;
			line-height: @sand-button-small-height;
		}

		.valueWrapper {
			height: @sand-picker-value-height;
		}

		.incrementer,
		.decrementer {
			&.hidden {
				visibility: hidden;
			}
		}

		&.horizontal {
			height: @sand-picker-joined-horizontal-height;
			padding: @sand-picker-joined-horizontal-padding;

			&::before,
			&::after {
				border-radius: @sand-picker-joined-horizontal-border-radius;
			}

			.sizingPlaceholder,
			.valueWrapper {
				font-size: @sand-picker-joined-font-size;
			}

			.valueWrapper {
				height: @sand-picker-joined-horizontal-value-line-height;
				line-height: @sand-picker-joined-horizontal-value-line-height;
			}

			.incrementer,
			.decrementer {
				margin: 0;
				height: @sand-picker-joined-horizontal-height;
				line-height: @sand-picker-joined-horizontal-height;

				.icon {
					visibility: hidden;
				}
			}

			.indicatorContainer {
				position: absolute;
				bottom: @sand-picker-indicator-bottom;
				left: 50%;
				transform: translateX(-50%);
				margin: 0 auto;
				line-height: 0;
				white-space: nowrap;

				.indicator {
					display: inline-block;
					width: @sand-picker-indicator-width;
					height: @sand-picker-indicator-height;
					margin: @sand-picker-indicator-margin;
					border-radius: @sand-picker-indicator-border-radius;
					transform: scale(@sand-picker-indicator-inactive-scale);
					vertical-align: middle;
					will-change: transform;
					transition: transform @sand-picker-focus-duration ease-out;

					&.active {
						transform: scale(@sand-picker-indicator-active-scale);
					}
				}
			}
		}

		&.vertical {
			&::before,
			&::after {
				border-radius: @sand-picker-joined-vertical-border-radius;
			}

			.incrementer,
			.decrementer {
				visibility: hidden;
			}

			.focus({
				.incrementer,
				.decrementer {
					visibility: visible;
				}
			});
		}
	}

	&.small .valueWrapper {
		width: (@sand-icon-large-size + @sand-spotlight-outset*3);
	}
	&.medium .valueWrapper {
		width: @sand-picker-medium-value-width;
	}
	&.large .valueWrapper {
		width: @sand-picker-large-value-width;
	}

	// Skin colors
	.applySkins({
		.sizingPlaceholder,
		.valueWrapper {
			color: @sand-picker-text-color;
		}

		.valueWrapper {
			color: inherit;
		}

		&.joined {
			color: @sand-picker-joined-text-color;


			&::after {
				border-color: @sand-picker-joined-fingernail-border-color;
			}

			&.horizontal {
				&::before {
					.sand-spotlight-resting-bg-colors(1);
					background-color: @sand-picker-joined-horizontal-bg-color;
				}

				.indicator {
					background-color: @sand-picker-indicators-inactive-bg-color;

					&.active {
						background-color: @sand-picker-indicators-active-bg-color;
					}
				}
			}

			&.vertical {
				&::before {
					.sand-spotlight-resting-bg-colors();
				}
			}

			.focus({
				color: @sand-picker-focus-text-color;

				&.horizontal {
					&::before {
						.sand-spotlight-focus-bg-colors();
						background-color: @sand-picker-joined-horizontal-bg-color; // We use the resting colors here and augment the color using a filter so it can be animated smoothly
						filter+_: saturate(0) brightness(1.89);
					}
				}

				&.vertical {
					&::before {
						.sand-spotlight-focus-bg-colors();
					}
				}

				.sand-disabled({
					color: @sand-picker-joined-focus-disabled-text-color;

					&::before {
						.sand-disabled-focus-bg-colors();
					}

					.valueWrapper {
						.sand-disabled-focus-content-colors();
					}

					.indicator {
						background-color: @sand-picker-joined-focus-disabled-indicator-bg-color;
						opacity: @sand-picker-joined-focus-disabled-indicator-opacity;

						&.active {
							opacity: @sand-picker-joined-focus-disabled-indicator-active-opacity;
						}
					}
				});

				.indicator {
					background-color: @sand-picker-indicators-inactive-focus-bg-color;

					&.active {
						background-color: @sand-picker-indicators-active-focus-bg-color;
					}
				}
			})
		}
	});

	// Large-text mode rules
	.sand-custom-text({
		.sizingPlaceholder,
		.valueWrapper {
			font-size: @sand-item-font-size-large;
		}
		.valueWrapper {
			line-height: @sand-button-small-height-large;
			height: @sand-button-small-height-large;
		}

		&.joined {
			&.horizontal {
				font-size: @sand-item-font-size-large;
				height: @sand-picker-joined-horizontal-height;
				line-height: @sand-button-small-height-large;

				.incrementer,
				.decrementer {
					&,
					.icon {
						height: @sand-button-small-height-large;
						line-height: @sand-button-small-height-large;
					}
				}
			}
		}

		&.small,
		&.medium,
		&.large {
			&.vertical {
				.valueWrapper {
					.sizingPlaceholder,
					.item {
						margin: 0 @sand-spotlight-outset;
					}
				}
			}
		}

		&.vertical {
			.valueWrapper {
				padding: 0 @sand-spotlight-outset;

				.sizingPlaceholder,
				.item {
					margin: 0;
				}
			}
		}
	});
}

.muted({
	.picker {
		.applySkins({
			&.joined {
				.focus({
					color: @sand-picker-joined-text-color;

					&.horizontal {
						&::before {
							background-color: @sand-picker-joined-horizontal-bg-color;
						}
					}
				});
			}
		});
	}
});
