@import "../styles/variables.less";

.pageViews {
	height: 100%;
	width: 100%;
	display: inline-flex;
	flex-direction: column;

    .navButton {
		text-align: center;
		display: flex;
		align-items: center;
		width: 216px;
		justify-content: center;
	}

	.steps {
		align-items: center;
		justify-content: center;
		text-align: center;
		&.hidden {
			min-height: 132px;
			visibility: hidden;
		}
	}

	&.number .steps {
		min-height: 252px;
		.pageNumber {
			width: 126px;
		}
		.separator {
			width: 60px;
		}
	}

	&.dot .steps {
		min-height: 132px;
	}

	&.fullContents .steps {
		position: absolute;
		align-self: center;
		bottom: 0px;
		min-height: 132px;
	}

	.contentsArea {
		position: relative;
		overflow: hidden;
	}

	.viewManager {
		overflow: hidden;
	}

	.horizontalLayout {
		height: 100%;
	}
}

.navButtonContainer {
	overflow: hidden;
	z-index: 10;
	top: ~"calc(50% - " (@sand-button-height + 12) / 2 ~")";
	position: absolute;
	width: 100%;
}
