@import "../styles/variables.less";

.pageViews {
	height: 100%;
	width: 100%;
	display: inline-flex;
	flex-direction: column;

    .navButton {
		text-align: center;
		display: flex;
		align-items: center;
		width: 2*@sand-button-small-height;
	}

	&.list {
		.stepsArea {
			height: 96px;
		}
		.steps {
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}
	&.default {
		.stepsArea {
			height: 72px;
		}
	}
}
