// PageViews.module.scss
//
@use "sass:math";
@use "../styles/variables";

.pageViews {
	height: 100%;
	width: 100%;
	display: inline-flex;
	flex-direction: column;

    .navButton {
		text-align: center;
		display: flex;
		align-items: center;
		width: 216px;
		justify-content: center;
	}

	.steps {
		align-items: center;
		justify-content: center;
		text-align: center;

		&.hidden {
			min-height: 132px;
			visibility: hidden;
		}
	}

	&.number .steps {
		min-height: 252px;
		.pageNumber {
			width: 126px;
		}
		.separator {
			width: 60px;
		}
	}

	&.dot .steps {
		min-height: 132px;
	}

	&.fullContents .steps {
		position: absolute;
		align-self: center;
		bottom: 0;
		min-height: 132px;
	}

	.contentsArea {
		position: relative;
		overflow: hidden;
	}

	.viewManager {
		overflow: hidden;
	}

	.horizontalLayout {
		height: 100%;
	}
}

.navButtonContainer {
	$button-height: #{variables.$sand-button-height + 12};
	overflow: hidden;
	z-index: 10;
	top: calc(50% - math.div(#{$button-height}, 2));
	position: absolute;
	width: 100%;
}
