@import "../styles/variables.less";

.pageViews {
	height: 100%;
	width: 100%;
	display: inline-flex;
	flex-direction: column;

	.page {
		background-color: #4c5059
	}

    .navButton {
		text-align: center;
		display: flex;
		align-items: center;
		width: 2*@sand-button-small-height;
	}

	.steps {
		text-align: center;
	}
}
