body {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
}

h2 {
	font-style: italic;
	font-weight: bold;
}

.jumpToView {
	height: 60px;
	font-size: 36px;
}

.layout {
	height: 100%;
}

.navItem {
	height: 42px;
	margin: 0;

	& > div {
		font-size: 36px;
	}

	& > div:nth-child(2) {
		color: #e6e6e6;
	}
}

.marginTop {
	margin-top: 90px;
}

.headerMarginTop {
	margin-top: 180px;
}

.controls {
	position: absolute;
	display: flex;
	top: 0;
	right: 100%;
}
