// DaySelector.module.less
//

@import '../styles/variables.less';
@import '../styles/skin.less';


.daySelector {
	border-radius: @sand-day-selector-border-radius;
	display: inline-flex;
	white-space: nowrap;

	.daySelectorItem {
		padding: @sand-day-selector-padding;
		border-left: inherit;

		> :first-child {
			-webkit-margin-start: @sand-day-selector-horizontal-margin;
		}

		> :last-child {
			margin: @sand-day-selector-vertical-margin 0;
			-webkit-margin-end: @sand-day-selector-horizontal-margin;
		}
	}

	> :first-child {
		border-left: initial;
		border-radius: @sand-day-selector-border-radius 0 0 @sand-day-selector-border-radius;
	}

	> :last-child {
		border-radius: 0 @sand-day-selector-border-radius @sand-day-selector-border-radius 0;
		padding-right: @sand-day-selector-item-padding;
	}

	:global(.enact-locale-right-to-left) & {
		> :first-child {
			border-left: inherit;
			border-radius: 0 @sand-day-selector-border-radius @sand-day-selector-border-radius 0;
		}

		> :last-child {
			border-left: initial;
			border-radius: @sand-day-selector-border-radius 0 0 @sand-day-selector-border-radius;
			padding-left: @sand-day-selector-item-padding;
			padding-right: @sand-day-selector-padding;
		}
	}

	.applySkins({
		border: @sand-day-selector-border-width solid @sand-day-selector-border-color;
	});
}
