// CustomStoryDecorator styles

@import '~@enact/sandstone/styles/mixins.less';

.colorPickersBlock {
  	width: 30%;
	height: 65%;
	position: absolute;
	right: 51px;
	bottom: 51px;
	background: #2e3239;
	border-radius: 30px;
	padding: 12px;
}

.colorPicker {
	color: #e6e6e6;

	.focus({
		--sand-focus-bg-color-rgb: 230, 230, 230;
	})
}

.colorPopup {
	--sand-overlay-bg-color-rgb: 87, 94, 102;
	--sand-text-color-rgb: 230, 230, 230;
}

.colorPickerSliders {
	.colorSlider {
		--sand-focus-bg-color-rgb: 230, 230, 230;
	}
}

.scrollerColors {
	--sand-progress-color-rgb: 230, 230, 230;
}

.resetButtonBlock {
	border-top: 3px solid #e6e6e6;
	padding-top: 9px;
}

.resetButton {
	--sand-component-bg-color: #7D848C;
	--sand-component-text-color-rgb: 230, 230, 230;

	.focus({
		--sand-focus-bg-color-rgb: 230, 230, 230;
	})
}
