// CustomStoryDecorator styles

@import '~@enact/sandstone/styles/colors.less';
@import '~@enact/sandstone/styles/mixins.less';
@import '~@enact/sandstone/styles/variables.less';
@import '~@enact/sandstone/styles/skin.less';

.colorPickersBlock {
  	width: 30%;
	height: 65%;
	position: absolute;
	right: 51px;
	bottom: 51px;
	background: #2e3239;
	border-radius: 30px;
	padding: 6px;
}

.colorPicker {
	color: #e6e6e6;
	.focus {
		background: green;
	}
	//&.colorPopup {
	//	background-color: red;
	//}
	//.applySkins({
	//	.focus({
	//		.bg {
	//			//.sand-spotlight-focus-bg-colors();
	//			background: green;
	//		}
	//	});
	//})

	//.popup {
	//	--sand-overlay-bg-color-rgb: 87, 94, 102;
	//	background: red;
	//}
}
&.colorPopup {
	color: black !important;
	background-color: red;
}

//.applySkins({
//	&.popup {
//		--sand-overlay-bg-color-rgb: 87, 94, 102;
//		background: red;
//	}
//});

.scrollerColors {
	--sand-progress-color-rgb: 230, 230, 230;
}
