// IconButton.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.iconButton {
	.sand-taparea(@sand-icon-button-size);

	width: @sand-icon-button-size;
	height: @sand-icon-button-size;
	padding: 0;
	background-size: @sand-icon-large-sprite-size @sand-icon-large-sprite-size * 2;
	line-height: @sand-icon-large-size;
	border-radius: @sand-icon-button-border-radius;

	.bg {
		border-radius: @sand-icon-button-border-radius;
	}

	&.small {
		padding: 0;
		width: @sand-icon-button-small-size;
		height: @sand-icon-button-small-size;
		background-size: @sand-icon-small-sprite-size @sand-icon-small-sprite-size * 2;
		line-height: @sand-icon-small-size;

		.sand-taparea(@sand-icon-button-small-size);
	}

	.sand-custom-text({
		height: @sand-icon-button-size-large;
		width: @sand-icon-button-size-large;
		line-height: @sand-icon-large-size-large;

		&.small {
			height: @sand-icon-button-small-size-large;
			width: @sand-icon-button-small-size-large;
			line-height: @sand-icon-small-size-large;
		}
	});

	&.red,
	&.green,
	&.yellow,
	&.blue {
		line-height: 84px;

		.client::before {
			height: @sand-icon-button-colordot-height;
		}

		&.small {
			line-height: 60px;


			.client::before {
				height: @sand-icon-button-small-colordot-height;
			}
		}
	}

	// Assign the parent's line-height to the internal Icon component so it can be adjusted externally
	.icon,
	.icon.small {
		line-height: inherit;
	}

	// Include the classes that we explicitly said are customizable in the publicClassNames
	.selected {
		/* Exported for customization */
	}

	.applySkins({
		&.transparent {
			.bg {
				background-color: transparent;
			}
		}
	});
}
