// FormCheckboxItem.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.formCheckboxItem {
	&.hasSlotBefore {
		.checkbox {
			margin-inline-end: @sand-formcheckboxitem-checkbox-margin-end;
		}
	}

	// Skin colors
	.focus({
		.applySkins({
			.disabled({
				.checkbox {
					.bg {
						background-color: @sand-formcheckboxitem-checkbox-disabled-focus-bg-color;
					}
				}
			});
		});
	});

	// FormCheckboxItem should not increase in size when in `largeText` mode
	.sand-custom-text({
		font-size: @sand-item-font-size;
		line-height: @sand-item-line-height;

		.sand-locale-non-latin({
			line-height: @sand-item-line-height;
		});
	});
}

.item {
	.applySkins({
		.focus({
			color: @sand-formcheckboxitem-focus-text-color;
			font-weight: @sand-formcheckboxitem-focus-font-weight;

			> .bg {
				background-color: transparent;
				opacity: 0;
			}

			.disabled({
				> .bg {
					opacity: 0;
				}
			});
		});
	});
}
