// FormCheckboxItem.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.formCheckboxItem {
	&.hasSlotBefore {
		.checkbox {
			margin-inline-end: @sand-formcheckboxitem-checkbox-margin-end;
		}
	}

	// FormCheckboxItem should not increase in size when in `largeText` mode
	.sand-custom-text({
		font-size: @sand-item-font-size;

		.enact-locale-line-height(@sand-item-line-height, @sand-item-line-height);
	});
}

.item {
	.applySkins({
		.focus({
			color: @sand-formcheckboxitem-focus-text-color;

			.bg {
				background-color: transparent;
				opacity: 0;
			}

			.disabled({
				color: @sand-formcheckboxitem-disabled-focus-text-color;

				.bg {
					opacity: 0;
				}

				.slotBefore {
					// Overrides Item's rule, setting all content fields to the content opacity.
					// Standalone Checkbox handles this coloration on its own, so that rule isn't
					// needed, so we reset it back to default here.
					opacity: initial;
				}
			});
		});

		.disabled({
			color: @sand-formcheckboxitem-disabled-text-color;
		})
	});
}
