// WizardPanels.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.wizardPanels {
	&.noSteps {
		.steps {
			visibility: hidden;
		}
	}

	.content {
		margin: @sand-wizardpanels-content-margin;
	}

	.footer {
		text-align: center;
		margin: @sand-wizardpanels-footer-margin;
	}

	.buttonLabel {
		position: absolute;
		height: 100%;
		padding-top: @sand-wizardpanels-button-label-padding-top;
		top: 0;
		content: attr(data-label);
	}

	.prevButtonLabel::after {
		.buttonLabel;
		.position-start-end(@sand-wizardpanels-button-label-position-left-right, auto);
	}

	.nextButtonLabel::after {
		.buttonLabel;
		.position-start-end(auto, @sand-wizardpanels-button-label-position-left-right);
	}
}

.applySkins({
	.prevButtonLabel::after,
	.nextButtonLabel::after {
		color: @sand-button-text-color;
	}
});
