// WizardPanels.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";

.wizardPanels {
	.content {
		margin: @sand-wizardpanels-content-margin;
	}

	.bottom {
		text-align: center;

		.buttonContainer {
			margin: @sand-wizardpanels-button-container-margin;
		}
		
		.footer {
			height: @sand-wizardpanels-footer-height;
		}
	}
}
