// WizardPanels.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";

.wizardPanels {
	&.noSteps {
		.steps {
			visibility: hidden;
		}
	}

	.content {
		margin: @sand-wizardpanels-content-margin;
	}

	.footer {
		text-align: center;
		margin: @sand-wizardpanels-footer-margin;
	}
}
