// Dialog.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.dialog {
	position: relative;
	padding: @sand-dialog-padding-top @sand-dialog-padding-right @sand-dialog-padding-bottom @sand-dialog-padding-left;
	.padding-start-end(@sand-dialog-padding-left, @sand-dialog-padding-right);

	&.showDivider {
		.titleWrapper {
			padding-bottom: 36px;
			margin-bottom: 36px;
		}
	}

	&.reserveClose {
		.body {
			margin: 0;
			.margin-start-end(0, 0);
		}
	}

	// Override Popup .body so our rules here are simpler
	.body {
		margin: 0;
		.margin-start-end(0, 0);
	}

	.closeContainer {
		.margin-start-end(@sand-dialog-closecontainer-separation, auto);
	}

	.title {
		.padding-start-end(0, @sand-dialog-title-padding-right);
		margin: 0;
	}

	.titleBelow {
		margin: 0;
	}

	.dialogBody {
		margin: 0;
		position: relative;
	}


	.buttons > :last-child {
		-webkit-margin-end: 0;
	}

	// Skin colors
	.applySkins({
		&.showDivider {
			.titleWrapper {
				border-bottom-color: @sand-header-border-color;
			}
		}
	});
}
