@import '../styles/colors.less';

.scrollThumb {
	--scrollbar-size-ratio: 1;
	--scrollbar-progress-ratio: 0;
	--scrollbar-size: ~"calc(100% * var(--scrollbar-size-ratio))";
	--scrollbar-progress: ~"calc(((1 - var(--scrollbar-size-ratio)) * var(--scrollbar-progress-ratio)) * 100%)";

	@sand-scroll-thumb-focus-width: 30px;
	@sand-scroll-thumb-focus-left-margin: -9px; // TODO: Re-apply 4K GUI.
	@sand-scroll-thumb-focus-direction-indicator-width: 18px;
	@sand-scroll-thumb-focus-direction-indicator-height: 12px;
	@sand-scroll-thumb-focus-direction-indicator-top-margin: 9px; // TODO: Re-apply 4K GUI.
	@sand-scroll-thumb-focus-direction-indicator-left-margin: 6px;

	position: relative;
	height: 100%;
	width: 100%;
	background-color: @sand-scroll-track-bg-color;
	border-radius: 6px;

	.thumb {
		background: @sand-scroll-thumb-bg-color;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 6px;

		&:focus {
			position: absolute;
			background-color: @sand-scroll-thumb-focus-bg-color;
			box-shadow: 0 40px 24px #0000004D;
			border-radius: 15px;

			.directionIndicator {
				position: absolute;
				width: 0;
				height: 0;
				border-top: @sand-scroll-thumb-focus-direction-indicator-height solid transparent;
				border-bottom: @sand-scroll-thumb-focus-direction-indicator-height solid @sand-scroll-thumb-focus-direction-indicator-color;
				border-right: @sand-scroll-thumb-focus-direction-indicator-width/2 solid transparent;
				border-left: @sand-scroll-thumb-focus-direction-indicator-width/2 solid transparent;
			}
		}
	}

	&.vertical {
		margin: 0 24px;
		width: 12px;

		.thumb {
			height: var(--scrollbar-size);
			top: var(--scrollbar-progress);
			will-change: top;

			&:focus {

				width: @sand-scroll-thumb-focus-width;
				left: @sand-scroll-thumb-focus-left-margin;

				.directionIndicator.backward {
					top: calc(@sand-scroll-thumb-focus-direction-indicator-top-margin - @sand-scroll-thumb-focus-direction-indicator-height);
					left: @sand-scroll-thumb-focus-direction-indicator-left-margin;
				}

				.directionIndicator.forward {
					transform: rotate(180deg);
					bottom: calc(@sand-scroll-thumb-focus-direction-indicator-top-margin - @sand-scroll-thumb-focus-direction-indicator-height);
					left: @sand-scroll-thumb-focus-direction-indicator-left-margin;
				}
			}
		}
	}

	&:not(.vertical) {
		margin: 24px 0;
		height: 12px;

		.thumb {
			width: var(--scrollbar-size);
			left: var(--scrollbar-progress);
			will-change: left;
			top: 50%;
			transform: translateY(-50%);

			&:focus {
				height: @sand-scroll-thumb-focus-width;

				.directionIndicator.backward {
					transform: rotate(-90deg);
					left: calc(@sand-scroll-thumb-focus-direction-indicator-top-margin - @sand-scroll-thumb-focus-direction-indicator-height);
					top: calc(@sand-scroll-thumb-focus-direction-indicator-left-margin/2);
				}

				.directionIndicator.forward {
					transform: rotate(90deg);
					right: calc(@sand-scroll-thumb-focus-direction-indicator-top-margin - @sand-scroll-thumb-focus-direction-indicator-height);
					top: calc(@sand-scroll-thumb-focus-direction-indicator-left-margin/2);
				}
			}
		}
	}
}
