@import "../styles/skin.less";
@import "../styles/variables.less";

.fixedPopupPanels {
	width: @sand-fixedpopuppanels-width;

	> .body {
		padding: 0;
	}

	// Skin colors
	.applySkins({
		filter: drop-shadow(@sand-fixedpopuppanels-shadow);
	});
}

// Overrides for Panel
.panel {
	padding: @sand-fixedpopuppanels-panel-padding;
	display: inline-block;

	> .body {
		padding: @sand-fixedpopuppanels-panel-body-padding;
	}
}
