.colorPicker {
	align-items: center;

	.colorBodyText{
		font-size: 36px;
		margin: 0;
	}

	.coloredButton {
		transform: none;
		border-radius: 999px;
		border: 3px solid pink;
		height: 71px;
		min-width: 71px;
		padding: 0;
	}

	.sliderContextualButton {
		justify-content: center;
	}
}

.coloredDiv {
	border-radius: 24px;
	height: 48px;
	width: 576px;
}

