// ColorPicker.module.less
//
@import "../styles/colors.less";
@import "../styles/mixins.less";
@import "../styles/variables.less";

.colorPicker {
	align-items: center;
	justify-content: space-between;

	.colorBodyText {
		font-size: @sand-drawing-colorpicker-font-size;
		margin: 0;
		padding-left: @sand-drawing-colorpicker-padding;
		text-transform: capitalize;
	}

	.colorsRow {
		width: @sand-drawing-colorpicker-width;
		padding-top: @sand-drawing-colorpicker-colors-padding;
	}

	.coloredButton {
		transform: none;
		border-radius: @sand-drawing-colorpicker-button-size;
		border: @sand-drawing-colorpicker-button-border-width solid white;
		height: @sand-drawing-colorpicker-button-size;
		min-width: @sand-drawing-colorpicker-button-size;
		padding: 0;

		.focus({
			transform: @sand-drawing-colorpicker-button-focus-transform;
		});

		.disabled({
			opacity: @sand-disabled-opacity;
		})
	}

	.coloredDiv,
	.coloredInput {
		border-radius: @sand-drawing-colorpicker-input-border-radius;

	}

	.coloredDiv {
		display: block;
		height: @sand-drawing-colorpicker-input-height;
		border: @sand-drawing-colorpicker-input-border-radius solid white;

		&.button, &.focusExpand {
			margin: @sand-drawing-margin;
		}

		.focus({
			transform: @sand-drawing-colorpicker-button-focus-transform;
		});
	}

	.coloredInput {
		opacity: 0;

		&:hover {
			cursor: pointer;
		}
	}
}

.colorPopup {
	height: max-content;

	.colorPopupHeader {
		font-size: @sand-drawing-colorpicker-heading;
		text-transform: capitalize;
		margin: @sand-drawing-colorpicker-heading-margin;
	}

	.closeButton {
		.icon {
			font-size: @sand-drawing-font-size;
		}
	}

	.colorPickerSliders {
		padding: @sand-drawing-colorpicker-slider-padding;

		.colorSliderText {
			font-size: @sand-drawing-font-size;
			margin: 0 @sand-drawing-margin;
		}
	}
}
