@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.colorPicker {
	align-items: center;
	justify-content: space-between;

	.colorBodyText {
		font-size: 24px;
		margin: 0;
		padding-left: 21px;
	}

	.coloredButton {
		transform: none;
		border-radius: 999px;
		border: 3px solid white;
		height: 72px;
		min-width: 72px;
		padding: 0;

		.focus({
			transform: scale(1.1);
		});

		.disabled({
			opacity: 0.28;
		})
	}
}

.coloredDiv {
	display: block;
	height: 81px;
	border: 3px solid white;
	border-radius: 24px;

	&.button, &.focusExpand {
		margin: 24px;
	}

	.focus({
		transform: scale(1.05);
	});
}

.coloredInput {
	border-radius: 24px;
	opacity: 0;
	height: 81px;
	margin: 24px;

	&:hover {
		cursor: pointer;
	}
}

.colorPickerSliders {
	padding-top: 60px;

	.bodyText {
		font-size: 36px;
		margin: 0 24px;
	}
}

.colorPopup {
	height: max-content;

	.popupHeader {
		margin-bottom: 21px;
	}

	.body {
		padding: 24px;
	}

	.bodyText {
		font-size: 42px;
		margin: 0 0 0 64px;
	}

	.closeButton {
		.icon {
			font-size: 36px;
		}
	}
}

