@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.drawing {
	font-size: 36px;

	.applySkins({
		.disabled {
			cursor: not-allowed;
		}
	});

	.toolbar, .canvasOptions {
		padding: 24px;
	}
}
