// DrawingControls.module.less
//
@import "../styles/variables.less";

.drawingControls {
	.bodyText {
		font-size: @sand-drawing-font-size;
		margin: 0;
	}

	.drawingTools {
		margin: 0;

		& > * {
			font-size: @sand-drawing-font-size;
		}
	}

	.slider {
		margin: 0;
		padding: @sand-drawing-padding 0;
	}

	.toolbar {
		.colors {
			padding: @sand-drawing-padding 0;
		}
	}
}
