// DrawingUtils.module.less
//
@import "../styles/variables.less";

.drawingUtils {
	.button {
		min-width: @sand-drawing-utils-button-size;
		font-size: @sand-drawing-font-size;
	}

	.inputFile {
		display: none;
	}
}

