@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.drawing {
	font-size: 36px;

	.applySkins({
		.disabled {
			cursor: not-allowed;
		}
	});

	.toolbar {
		padding-right: 21px;
	}

	.bodyText {
		font-size: 36px;
		margin: 0;
	}

	.slider {
		margin: 0;
		padding: 24px 0;
	}

	.drawingTools {
		margin: 0;

		& > * {
			font-size: 36px;
		}

		.colors {
			align-items: flex-end;
		}
	}

	.button {
		min-width: 3rem;
		font-size: 36px;
	}

	.inputFile {
		display: none;
	}
}
