// ColorPicker.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";

@keyframes shakeColor {
	0% { transform: translateX(0) }
	25% { transform: translateX(3px) }
	50% { transform: translateX(-3px) }
	75% { transform: translateX(3px) }
	100% { transform: translateX(0) }
}

.pickerTabGroup {
	min-width: @sand-colorpicker-tabgroup-width;
	padding-bottom: @sand-colorpicker-padding;
}

.colorPicker {
	display: flex;
	height: @sand-colorpicker-height;
	justify-content: center;
	padding: @sand-colorpicker-padding;
}

.selectedColorColumn {
	margin-top: @sand-colorpicker-favoritecolors-margin;

	.selectedColor {
		border-radius: @sand-colorpicker-favoritecolors-border-radius;
		border: @sand-colorpicker-favoritecolors-border solid;
		height: @sand-colorpicker-favoritecolors-height;
		margin-inline: 0;
		transition: transform .2s;

		.selectedColorIcon {
			transition: transform .2s;
		}

		.focus({
			box-shadow: 0 0 12px 6px inset;

			.selectedColorIcon {
				transform: scale(1.2);
			}
		});
	}
}

.favoriteColorsRow {
	text-align: center;

	.favoriteColor {
		border-radius: 50%;
		border: @sand-colorpicker-favoritecolor-border solid;
		transition: transform .2s;

		.deleteButton {
			position: absolute;
			z-index: -2;
		}

		.focus({
			box-shadow: 0 0 12px 3px inset;
			transform: scale(1.1);
		});
	}

	.shakeFavoriteColor {
		animation: shakeColor 0.2s;
		animation-iteration-count: infinite;
	}
}
