// ColorPickerSlider.module.less
//
@import "../styles/colors.less";
@import "../styles/mixins.less";
@import "../styles/variables.less";

.sliderPickerContainer {
	.pickerSelect {
		margin: 0;
		height: @sand-colorpicker-dropdown-height;
		width: @sand-colorpicker-input-width;

		[role*=button] {
			height: @sand-colorpicker-dropdown-height;
		}
	}

	.hexInput {
		width: @sand-colorpicker-input-width;

		input {
			width: calc(@sand-colorpicker-input-width - @sand-colorpicker-margin-large);
		}
	}

	.slidersContainer {
		margin: @sand-colorpicker-margin-medium 0 0 @sand-colorpicker-margin-large;

		.labelText {
			font-size: @sand-colorpicker-slider-label-font-size;
			margin: @sand-colorpicker-margin-small 0;
		}

		.sliderRow {
			justify-content: space-between;

			.sliderCell {
				border-radius: @sand-colorpicker-circle-border-radius;
			}

			.slider {
				--sand-progress-bg-color-opacity: 0;
				border-radius: @sand-colorpicker-circle-border-radius;
				margin: 0 @sand-colorpicker-margin-medium;
				height: @sand-colorpicker-slider-height;

				.focus({
					.knob {
						transform: scale(1.1);

						&::before {
							background-color: var(--sand-progress-slider-color);
						}
					}
				});

				.knob {
					&::before {
						--sand-slider-disabled-knob-bg-color: var(--sand-progress-slider-color);
						border-radius: @sand-colorpicker-circle-border-radius;
						height: @sand-colorpicker-slider-knob-size;
						width: @sand-colorpicker-slider-knob-size;
					}
				}
			}

			.outputText {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: @sand-colorpicker-output-bg-color;
				color: @sand-colorpicker-output-color;
				border-radius: @sand-colorpicker-output-border-radius;
				margin-left: @sand-colorpicker-margin-large;
			}
		}
	}
}
