// ColorPickerGrid.module.less
//
@import "../styles/colors.less";
@import "../styles/mixins.less";
@import "../styles/variables.less";

.colorPicker {
	display: flex;

	.colorBlock {
		border: @sand-colorpicker-grid-border solid transparent;
		height: @sand-colorpicker-grid-height;
		width: @sand-colorpicker-grid-width;

		.focus({
			border-color: var(--sand-colorpicker-grid-focus-border-color);
			box-shadow: 0 0 12px 3px inset;
		})
	}
}
