// ColorPickerGrid.module.less
//
@import "../styles/colors.less";
@import "../styles/mixins.less";
@import "../styles/variables.less";

.colorPicker {
	display: flex;

	.colorBlock {
		border: 9px solid transparent;
		height: 48px;
		width: 48px;

		.focus({
			border-color: var(--sand-colorpicker-grid-focus-border-color);
			box-shadow: 0 0 12px 3px inset;
		})
	}
}
