// ColorPickerSpectrum.module.less
//
@import "../styles/colors.less";
@import "../styles/mixins.less";
@import "../styles/variables.less";

.colorPicker {
	position: relative;

	.gradientCanvas {
		height: 100%;
		touch-action: none;
		width: 100%;
	}
}

.circleIndicator {
	border: @sand-colorpicker-spectrum-circleindicator-border solid #808080;
	height:@sand-colorpicker-spectrum-circleindicator-height;
	border-radius: @sand-colorpicker-spectrum-circleindicator-border-radius;
	pointer-events: none;
	position: absolute;
	width: @sand-colorpicker-spectrum-circleindicator-width;

	.focus({
		border: @sand-colorpicker-spectrum-circleindicator-focus-border solid #000;
	})
}
