// ColorPickerSlider.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";

.sliderPickerContainer {
	.containerRow {
		padding-bottom: @sand-colorpicker-sliders-padding;
	}
}

.slidersContainer {
	padding: 0 @sand-colorpicker-sliders-padding;

	.labelText {
		font-size: @sand-colorpicker-sliders-label-font-size;
		margin: @sand-colorpicker-sliders-label-margin 0;
	}

	.sliderCell {
		border-radius: @sand-colorpicker-sliders-slider-border-radius;
	}

	.slider {
		--sand-progress-bg-color-opacity: 0;
		border-radius: @sand-colorpicker-sliders-slider-border-radius;
		margin: 0 @sand-colorpicker-sliders-slider-margin;
		height: @sand-colorpicker-sliders-slider-height;

		.focus({
			.knob {
				transform: scale(1.1);

				&::before {
					background-color: var(--sand-progress-slider-color);
				}
			}
		});

		.knob {
			&::before {
				--sand-slider-disabled-knob-bg-color: var(--sand-progress-slider-color);
				border-radius: @sand-colorpicker-sliders-slider-border-radius;
				height: @sand-colorpicker-sliders-knob-height;
				width: @sand-colorpicker-sliders-knob-width;
			}
		}
	}

	.outputText {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #eeeeee;
		color: rgb(76, 80, 89);
		border-radius: @sand-colorpicker-sliders-output-text-border-radius;
		margin-left: @sand-colorpicker-sliders-output-text-margin-left;
	}
}

.pickerSelect {
	margin: 0;
	height: @sand-colorpicker-sliders-dropdown-height;
	width: @sand-colorpicker-sliders-dropdown-width;

	[role*=button] {
		height: @sand-colorpicker-sliders-dropdown-height;
		width: @sand-colorpicker-sliders-dropdown-width;
	}
}

.hexInput {
	width: @sand-colorpicker-sliders-hex-input-width;
}
