// ColorPickerSlider.module.less
//
@import "../styles/mixins.less";

.sliderPickerContainer {
	.containerRow {
		padding-bottom: 30px;
	}
}

.slidersContainer {
	padding: 0 30px;

	.labelText {
		font-size: 42px;
		margin: 9px 0;
	}

	.sliderCell {
		border-radius: 99px;
	}

	.slider {
		--sand-progress-bg-color-opacity: 0;
		border-radius: 99px;
		margin: 0 18px;

		.focus({
			.knob {
				transform: scale(1.1);

				&::before {
					background-color: transparent;
				}
			}
		});

		.knob {
			&::before {
				--sand-slider-disabled-knob-bg-color: transparent;
				border-radius: 99px;
				height: 102px;
				width: 102px;
			}
		}
	}

	.outputText {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #eeeeee;
		color: rgb(76, 80, 89);
		border-radius: 12px;
		margin-left: 30px;
	}
}

.pickerSelect {
	margin: 0;
	height: 129px;

	[role*=button] {
		height: 129px;
	}
}

.hexInput {
	width: 402px;

	input {
		width: 372px;
	}
}
