// Notification.module.less
//
@import '../styles/variables.less';
@import '../styles/mixins.less';
@import '../styles/skin.less';

.notification {
	position: relative;
	left: 50%;
	min-width: @sand-notification-min-width;
	max-width: @sand-notification-max-width;
	width: fit-content;  // Notification should shrink to the size of the content
	text-align: center;
	border-radius: @sand-notification-border-radius;
	border-style: solid;
	border-width: @sand-notification-border-width;
	margin-bottom: @sand-notification-margin-bottom;
	transform: translate3d(-50%, 50%, 0);
	padding: @sand-notification-padding-top-bottom @sand-notification-padding-left-right;

	&.wide {
		max-width: @sand-notification-wide-width; // 4 button case
	}

	.body {
		width: fit-content;
		margin: 0;
	}

	.notificationBody {
		.sand-notification-content();

		:global(.enact-locale-ja) &,
		:global(.enact-locale-zh) & {
			overflow-wrap: normal;
			word-break: normal;
		}
	}

	.buttons {
		box-sizing: border-box;

		& > * {
			// Applying the margin to the children allows for the case of no children without needing removing the margin
			margin-top: 48px;
		}
	}

	:global(.enact-locale-right-to-left) & {
		right: 50%;
		transform: translate3d(50%, 50%, 0);
	}

	// Skin colors
	.applySkins({
		border-color: @sand-notification-border-color;
		box-shadow: 0 24px 32px @sand-notification-box-shadow-color;
	});
}
