// TimePicker.module.less
//
@import "../styles/variables.less";

.timePicker {
	.timeSeparator {
		vertical-align: inherit;
		display: inline-block;
		margin: @sand-timepicker-colon-margin;
	}

	.pickers {
		display: flex;
		align-items: center;

		:global(.enact-locale-right-to-left) & {
			// RTL uses a special order:
			// Reading from right to left, the sequence is "minute : hour meridiem"
			.hourPicker {
				order: 3;
				margin-inline-start: .extract(@sand-datecomponentpicker-margin, left)[];
			}
			.timeSeparator {
				order: 2;
			}
			.minutePicker {
				order: 1;
				margin-inline-start: 0;
			}
			.meridiemPicker {
				order: 4;
			}
		}
	}
}
