// TimePicker.module.less
//
@import "../styles/variables.less";

.timePicker {
	.hourPicker,
	.minutePicker,
	.meridiemPicker {
		/* Available for export - Necessary for UI test component selection */
	}

	.colonMark {
		vertical-align: inherit;
		display: inline-block;
		margin: 0 6px;
	}
}
