.log {
	line-height: 36px;
	& > div {
		display: inline-block;
		padding:0 12px;
		margin: 0 12px;
		line-height: initial;
		font-size: 36px;
	}
	div.name {
		width: 210px;
	}
	div.elementKind {
		width: 72px;
	}
	div.eventCapturing {
		width: 150px;
	}
	div.eventInfo {
		padding-left: 12px;
	}
}

.content {
	width: 100%;
	margin-top: 12px;
	overflow: hidden;
}
