.log {
	border: 1px yellow;
	line-height: 24px;
	& > div {
		display: inline-block;
		line-height: initial;
		font-size: 18px;
		padding:0 12px;
	}
	div.name {
		width: 120px;
	}
	div.elementKind {
		width: 51px;
	}
	div.eventCapturing {
		width: 72px;
	}
	div.eventInfo {
		overflow: hidden;
	}
}

.content {
	width: 100%;
	overflow: hidden;
	flex: 1;
}
