// RadioItem.module.less
//
@import "../styles/variables.less";
@import "../styles/skin.less";
@import "../styles/mixins.less";

// Public
.radioItem {
	/* Available for customization */
	.applySkins({
		.icon {
			border-color: @sand-radioitem-icon-border-color;
			border-style: solid;
			border-width: @sand-radioitem-icon-border-width;
			background-color: transparent;
			border-radius: @sand-radioitem-icon-border-radius;
			color: transparent;
		}

		.focus({
			color: @sand-radioitem-focus-color;

			.icon {
				border-color: @sand-radioitem-icon-focus-border-color;
				color: @sand-radioitem-icon-focus-color;
				background-color: @sand-radioitem-icon-focus-bg-color;
			}
		});

		&.selected {
			.icon {
				color: @sand-radio-item-selected-indicator-color;
				background-color: @sand-radio-item-selected-indicator-bg-color;
			}

			&::before {
					background-color: @sand-radio-item-selected-indicator-color;
			}
		}
	});
}
