// QuickGuidePanels.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";

.quickGuidePanels {
	.contentHeader {
		z-index: 10;
		flex-direction: row-reverse;

		.steps {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin-top: @sand-quickguidepanels-steps-margin-top;
			min-height: @sand-quickguidepanels-steps-min-height;
		}

		.close {
			position: absolute;
			top: @sand-quickguidepanels-close-button-margin-top;
			margin-inline-end: @sand-quickguidepanels-close-button-margin-end;
		}
	}

	.navigationButtonContainer {
		z-index: 10;
		margin-top: @sand-quickguidepanels-container-margin-top;

		.navigationButton {
			margin: @sand-quickguidepanels-navigation-button-margin;
		}
	}
}
