// Scroller.module.less
//
@import "../styles/colors.less";
@import "../styles/mixins.less";
@import "../styles/variables.less";

.contentWrapper {
	position: relative; // The content could be fittable to the Scroller without paddgins.
}

.focusableBody {
	width: 100%;
	height: 100%;
	position: relative;

	&.verticalExpand {
		:not(:global(.enact-locale-right-to-left)) & {
			margin-left: calc(var(--scroll-scrollbar-size) * (-1));
		}
		:global(.enact-locale-right-to-left) & {
			margin-right: calc(var(--scroll-scrollbar-size) * (-1));
		}
	}

	padding: inherit;

	&::before {
		content: '';
		position: absolute;
		.position(0);
		border-radius: @sand-scroll-focusablebody-focus-border-radius;
		opacity: 0;
	}

	.focus({
		&::before {
			background-color: @sand-scroll-focusablebody-focus-bg-color;
			opacity: 1;
		}
	})
}

.verticalFadeout {
	padding: @sand-scroll-fade-out-size 0;
	-webkit-mask-image: linear-gradient(transparent, @sand-black @sand-scroll-fade-out-size, @sand-black calc(100% - @sand-scroll-fade-out-size), transparent 100%);
	mask-image: linear-gradient(transparent, @sand-black @sand-scroll-fade-out-size, @sand-black calc(100% - @sand-scroll-fade-out-size), transparent 100%);
}

.horizontalFadeout {
	padding: 0 @sand-scroll-fade-out-size;
	-webkit-mask-image: linear-gradient(to right, transparent, @sand-black @sand-scroll-fade-out-size, @sand-black calc(100% - @sand-scroll-fade-out-size), transparent 100%);
	mask-image: linear-gradient(to right, transparent, @sand-black @sand-scroll-fade-out-size, @sand-black calc(100% - @sand-scroll-fade-out-size), transparent 100%);
}
