// MediaOverlay.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.mediaOverlay {
	display: block;
	position: relative;
	width: @sand-mediaoverlay-width;
	height: auto;
	padding: @sand-mediaoverlay-padding;

	.bg {
		position: absolute;
		.position(0);
		opacity: 0;
		transition: filter 300ms ease-out, opacity 300ms ease-out;
		will-change: filter, opacity;
		border-radius: @sand-mediaoverlay-border-radius;
	}

	.mediaContainer {
		position: relative;
	}

	.media {
		display: block;
		position: relative; // it is for z-index;
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.image,
	.textLayout {
		position: absolute;
		.position(0);
	}

	.textLayout {
		margin: @sand-mediaoverlay-textlayout-margin;
	}

	.image {
		margin: 0;
		height: auto;
		width: auto;
	}

	.text {
		.sand-font({
			font-size: @sand-mediaoverlay-font-size;
			line-height: @sand-mediaoverlay-line-height;
		});
		font-size: @sand-mediaoverlay-font-size;
		line-height: @sand-mediaoverlay-line-height;
		font-weight: @sand-mediaoverlay-font-weight;
	}

	.progressBar {
		position: absolute;
		.position(auto, 0, 0);
		margin: @sand-mediaoverlay-progressbar-margin;
	}

	.captionContainer {
		> :first-child {
			margin-top: @sand-mediaoverlay-caption-margin-top;
		}

		> :last-child {
			margin-bottom: @sand-mediaoverlay-caption-margin-bottom;
		}
    }

	.caption,
	.subtitle {
		.sand-font({
			font-size: @sand-mediaoverlay-caption-font-size;
			line-height: @sand-mediaoverlay-line-height;
		});
		font-size: @sand-mediaoverlay-caption-font-size;
		line-height: @sand-mediaoverlay-line-height;
	}

	.title {
		.sand-font({
			font-size: @sand-mediaoverlay-title-font-size;
			line-height: @sand-mediaoverlay-line-height;
		});
		font-size: @sand-mediaoverlay-title-font-size;
		line-height: @sand-mediaoverlay-line-height;
	}

	.applySkins({
		.bg {
			.sand-spotlight-resting-bg-colors();
		}

		.caption,
		.title {
			color: @sand-mediaoverlay-caption-color;
		}

		.subtitle {
			color: @sand-mediaoverlay-subtitle-color;
		}

		.focus({
			.sand-spotlight-focus-text-colors();

			.caption,
			.title,
			.subtitle {
				color: inherit;
			}

			.bg {
				.sand-spotlight-focus-bg-colors();
			}
		});
	});
}
