// ToggleButton.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.toggleButton {
	.padding-start-end(@sand-button-h-padding, @sand-toggle-button-text-switch-gutter + @sand-button-h-padding + @sand-toggle-button-switch-width + @sand-toggle-button-switch-border-width);

	text-align: center;
	position: relative;

	.toggleIndicator {
		.position-start-end(auto, @sand-button-h-padding);

		position: absolute;
		top: 50%;
		border-radius: @sand-toggle-button-switch-border-radius;
		width: @sand-toggle-button-switch-width;
		height: @sand-toggle-button-switch-width;
		border-width: @sand-toggle-button-switch-border-width;
		border-style: solid;
		transform: translateY(-50%);
		font-family: @sand-toggle-button-switch-icon-font-family;
		font-size: @sand-toggle-button-switch-icon-font-size;
		line-height: @sand-toggle-button-switch-icon-line-height;
	}

	&.selected {
		.toggleIndicator::after {
			content: @sand-toggle-button-selected-glyph-highcontrast;
		}
	}

	&.small {
		.padding-start-end(@sand-button-small-h-padding, @sand-toggle-button-small-text-switch-gutter + @sand-button-small-h-padding + @sand-toggle-button-switch-width + @sand-toggle-button-switch-border-width);

		.toggleIndicator {
			.position-start-end(auto, @sand-button-small-h-padding);

			top: 50%;
		}
	}

	// Skin colors
	.applySkins({
		.toggleIndicator {
			background-color: @sand-toggle-button-switch-off-bg-color;
			border-color: @sand-toggle-button-switch-off-border-color;
		}

		&.selected {
			border-color: @sand-accent;

			.toggleIndicator {
				background-color: @sand-toggle-button-switch-on-bg-color;
				border-color: @sand-toggle-button-switch-on-border-color;
				color:  @sand-toggle-button-switch-dot-on-color;
			}
		}

		.disabled({
			.toggleIndicator {
				color: @sand-toggle-button-switch-disabled-color;
				border-color: @sand-toggle-button-switch-disabled-border-color;
			}

			&.selected {
				.toggleIndicator {
					background-color: @sand-toggle-button-switch-dot-disabled-border-color;
				}
			}
		});
	});

	.focus({
		.applySkins({
			.toggleIndicator {
				background-color: @sand-toggle-button-switch-off-spotlight-bg-color;
				border-color: @sand-toggle-button-switch-off-spotlight-border-color;
			}

			&.selected {
				.toggleIndicator {
					background-color: @sand-toggle-button-switch-on-spotlight-bg-color;
					border-color: @sand-toggle-button-switch-on-spotlight-border-color;
					color: @sand-toggle-button-switch-dot-on-spotlight-color;
				}
			}

			.disabled({
				.toggleIndicator {
					opacity: @sand-disabled-opacity;
				}
			});
		});
	});
}
