// Button.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.button {
	.sand-large-button-text();
	height: @sand-button-height;
	line-height: (@sand-button-height - (2 * @sand-button-border-width));
	border-radius: @sand-button-border-radius;
	min-width: @sand-button-height;
	max-width: @sand-button-max-width;
	padding: 0 @sand-button-h-padding;
	margin: 0 @sand-button-h-margin;
	text-align: center;
	vertical-align: middle;
	.sand-taparea(@sand-button-height);

	.sand-custom-text({
		font-size: @sand-button-font-size-large;
		height: @sand-button-height-large;
		min-width: @sand-button-height-large;
		line-height: (@sand-button-height-large - (2 * @sand-button-border-width));
	});

	.bg {
		background-color: inherit;
		border-width: @sand-button-border-width;
		border-style: solid;
		border-radius: @sand-button-border-radius;

		transform: translateZ(0);
		will-change: transform;
		transition: transform 0.2s ease-out;
	}

	.client {
		padding: @sand-button-border-width 0;	// We account for the button border-width here, since that is applied to .bg, not .client. Having these match means the text doesn't overlap the border
		border-radius: inherit;
	}

	.icon {
		flex-shrink: 0;
		-webkit-margin-start: @sand-button-icon-margin-start;
		-webkit-margin-end: @sand-button-icon-margin-end;
	}

	&.iconOnly {
		&.iconAfter,
		&.iconBefore,
		&.large,
		&.small {
			.icon {
				margin: 0;
			}
		}
	}

	&.iconAfter {
		.client {
			flex-direction: row-reverse;
		}

		.icon {
			-webkit-margin-start: @sand-button-icon-position-after-margin-start;
			-webkit-margin-end: @sand-button-icon-position-after-margin-end;
		}
	}

	//**
	//* The marquee container of the client area. Added by {@link sandstone/MarqueeDecorator}.
	//* @public
	//*/
	.marquee {
		flex-grow: 1;
	}

	// Only center the text if there is no icon. Otherwise, the default is to just leave its
	// alignment alone, since we don't want to try to override marquee's directionality alignment.
	&:not(.hasIcon):not(.hasColor) {
		.marquee {
			text-align: center;
		}
	}

	&.minWidth {
		min-width: @sand-button-min-width;
	}

	&.small {
		.sand-small-button-text();
		height: @sand-button-small-height;
		min-width: @sand-button-small-height;
		max-width: @sand-button-small-max-width;
		line-height: (@sand-button-small-height - (2 * @sand-button-border-width));
		margin: 0 @sand-button-small-h-margin;
		padding-left: @sand-button-small-h-padding;
		padding-right: @sand-button-small-h-padding;
		margin-left: @sand-button-small-h-margin;
		margin-right: @sand-button-small-h-margin;
		.sand-taparea(@sand-button-small-height);

		// Standard Button Scenario
		&.minWidth {
			min-width: @sand-button-small-min-width;
		}

		.icon {
			-webkit-margin-start: @sand-button-icon-small-margin-start;
			-webkit-margin-end: @sand-button-icon-small-margin-end;
		}

		&.iconAfter {
			.icon {
				-webkit-margin-start: @sand-button-icon-position-after-small-margin-start;
				-webkit-margin-end: @sand-button-icon-position-after-small-margin-end;
			}
		}

		.sand-custom-text({
			font-size: @sand-button-small-font-size-large;
			height: @sand-button-small-height-large;
			min-width: @sand-button-small-height-large;
			line-height: (@sand-button-small-height-large - (2 * @sand-button-border-width));

			&.minWidth {
				min-width: @sand-button-small-min-width;
			}
		});
	}

	// Skin colors
	.applySkins({
		&,
		:global(.enact-a11y-high-contrast) & {
			color: @sand-button-text-color;
		}

		.bg {
			background-color: @sand-button-bg-color;
			border-color: transparent;
		}

		&.transparent {
			color: @sand-text-color;

			.bg {
				background-color: @sand-button-transparent-bg-color;
			}
		}

		.focus({
			// The complexity below overrides the default high-contrast rules and applies
			// non-high-contrast rules. The precedence for the general rule is too high for the
			// basic button override rule to take effect, so we must overcome it by stacking more
			// classes here.
			&,
			:global(.enact-a11y-high-contrast) &:not(:global(.highContrast)) {
				color: @sand-button-focus-text-color;
				background-color: transparent;
			}

			.bg {
				background-color: @sand-button-focus-bg-color;
			}
		});

		// Button-non-disabled rules
		&:not([disabled]) {
			.focus({
				z-index: 1;

				.bg {
					transform: @sand-button-focused-bg-scale;
					box-shadow: @sand-button-focused-bg-box-shadow;
				}

				&.small .bg {
					transform: @sand-button-small-focused-bg-scale;
				}
			});
		}
	});
}
