// Tooltip.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

.tail (@edge, @point) {
	background-image:
		linear-gradient(to @point @edge, @sand-tooltip-bg-color 47%, transparent 50%); // Diagonal line + fill
}
.centerTail (@edge, @point) {
	.tail (@edge, @point);
}

.tooltip {
	position: absolute;
	z-index: 1;

	// You'll notice tiny adjustments to the position: 0.5px, 1px, 8px, etc. in the following code.
	// These are to account for sub-pixel rendering on scaled or "imperfect" rendering scenarios
	// where hairline gaps can be seen between the tail and the body.

	.tooltipArrow {
		position: absolute;
		width: @sand-tooltip-point-width;
		height: @sand-tooltip-point-height;
		z-index: 1;
	}
	&.rightArrow,
	&.leftArrow {
		.tooltipArrow {
			width: @sand-tooltip-point-height;
			height: @sand-tooltip-point-width;
		}
	}
	&.centerArrow,
	&.middleArrow {
		.tooltipArrow::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
	&.centerArrow .tooltipArrow {
		width: @sand-tooltip-point-height;
		height: @sand-tooltip-point-width;
		left: 50%;

		&::after {
			right: ~"calc(" @sand-tooltip-point-height ~"- 0.5px)";
		}
	}
	&.middleArrow .tooltipArrow {
		width: @sand-tooltip-point-width;
		height: @sand-tooltip-point-height;
		top: 50%;

		&::after {
			bottom: 100%;
			left: 0;
		}
	}

	.tooltipLabel {
		.sand-small-button-text();
		font-size: @sand-tooltip-label-font-size;
		font-weight: @sand-tooltip-font-weight;
		line-height: @sand-tooltip-label-height;
		white-space: nowrap;
		padding: @sand-tooltip-padding;
		border-radius: @sand-tooltip-border-radius;

		:global(.enact-locale-right-to-left) & {
			text-align: right;
		}

		&.multi {
			white-space: normal;
			.locale-japanese-line-break();
		}
	}

	&.transparent {
		.tooltipArrow {
			visibility: hidden;
		}
		&.below {
			.tooltipLabel {
				transform: translate(-50%, 0%);
			}
			&.centerArrow {
				.tooltipLabel {
					transform: translate(0%, 50%);
				}
			}
			&.rightArrow {
				.tooltipLabel {
					transform: translate(50%, 0%);
				}
			}
			&.leftArrow {
				.tooltipLabel {
					transform: translate(-50%, 0%);
				}
			}
		}
		&.above {
			.tooltipLabel {
				transform: translate(-50%, -100%);
			}
			&.centerArrow {
				.tooltipLabel {
					transform: translate(0%, 0%);
				}
			}
			&.rightArrow {
				.tooltipLabel {
					transform: translate(50%, 0%);
				}
			}
			&.leftArrow {
				.tooltipLabel {
					transform: translate(-50%, 0%);
				}
			}
		}
		&.left, &.right {
			.tooltipLabel {
				transform: translate(0%, 0%);
			}
		}
	}

	// Positioning for the arrow and label
	&.below {
		.tooltipArrow {
			top: @sand-tooltip-arrow-offset;
		}

		.tooltipLabel {
			margin-top: @sand-tooltip-margin-offset;
		}

		&.leftArrow {
			.tooltipArrow {
				right: 0;
			}

			.tooltipLabel {
				text-align: right;
				border-top-right-radius: 0;
			}
		}

		&.centerArrow {
			.tooltipArrow {
				left: 50%;
			}
		}

		&.rightArrow {
			.tooltipArrow {
				left: 0;
			}

			.tooltipLabel {
				border-top-left-radius: 0;
			}
		}
	}

	&.above {
		.tooltipArrow {
			bottom: @sand-tooltip-arrow-offset;
		}

		.tooltipLabel {
			margin-bottom: @sand-tooltip-margin-offset;
		}

		&.leftArrow {
			.tooltipArrow {
				right: 0;
			}

			.tooltipLabel {
				text-align: right;
				border-bottom-right-radius: 0;
			}
		}

		// Commented out because it isn't necessary to specify anything for this case at this time
		// but kept in the code here in case we need to in the future.
		// &.centerArrow {
		// 	.tooltipArrow {
		// 	}
		// }

		&.rightArrow {
			.tooltipArrow {
				left: 0;
			}

			.tooltipLabel {
				border-bottom-left-radius: 0;
			}
		}
	}

	&.left {
		.tooltipArrow {
			right: @sand-tooltip-arrow-offset;
		}

		.tooltipLabel {
			margin-right: ~"calc(" @sand-tooltip-margin-offset ~"- 1px)";
		}

		&.topArrow {
			.tooltipArrow {
				bottom: 0;
			}

			.tooltipLabel {
				border-bottom-right-radius: 0;
			}
		}

		&.middleArrow {
			.tooltipArrow {
				right: @sand-tooltip-arrow-offset;
			}
		}

		&.bottomArrow {
			.tooltipLabel {
				border-top-right-radius: 0;
			}
		}
	}

	&.right {
		.tooltipArrow {
			left: @sand-tooltip-arrow-offset;
		}

		.tooltipLabel {
			margin-left: @sand-tooltip-margin-offset;
		}

		&.topArrow {
			.tooltipArrow {
				bottom: 0;
			}

			.tooltipLabel {
				border-bottom-left-radius: 0;
			}
		}

		&.middleArrow {
			.tooltipArrow {
				left: @sand-tooltip-arrow-offset;
			}
		}

		&.bottomArrow {
			.tooltipLabel {
				border-top-left-radius: 0;
			}
		}
	}

	// Absolute positioning mode - anchor position rules
	&.absolute {
		width: 0;
		height: 0;
		top: var(--tooltip-position-top);
		left: var(--tooltip-position-left);

		.tooltipAnchor {
			position: absolute;
		}

		&.below {
			top: ~"calc(var(--tooltip-position-top) + " @sand-tooltip-offset ~")";

			&.leftArrow .tooltipAnchor {	transform: translateX(-100%);	}
			&.centerArrow .tooltipAnchor {	transform: translateX(-50%);	}
			&.rightArrow .tooltipAnchor {	/* transform: translate(0, 0); */	}
		}

		&.above {
			top: ~"calc(var(--tooltip-position-top) - " @sand-tooltip-offset ~")";

			&.leftArrow .tooltipAnchor {	transform: translate(-100%, -100%);	}
			&.centerArrow .tooltipAnchor {	transform: translate(-50%, -100%);	}
			&.rightArrow .tooltipAnchor {	transform: translate(0, -100%);	}
		}

		&.left {
			left: ~"calc(var(--tooltip-position-left) - " @sand-tooltip-offset ~")";

			&.topArrow .tooltipAnchor {	transform: translate(-100%, -100%);	}
			&.middleArrow .tooltipAnchor {	transform: translate(-100%, -50%);	}
			&.bottomArrow .tooltipAnchor {	transform: translate(-100%, 0);	}
		}

		&.right {
			left: ~"calc(var(--tooltip-position-left) + " @sand-tooltip-offset ~")";

			&.topArrow .tooltipAnchor {	transform: translate(0, -100%);	}
			&.middleArrow .tooltipAnchor {	transform: translate(0, -50%);	}
			&.bottomArrow .tooltipAnchor {	/* transform: translate(0, 0); */	}
		}
	}

	// Relative positioning mode - position rules
	&.relative {
		&.below {
			top: ~"calc(100% + " @sand-tooltip-offset ~")";

			&.leftArrow {	right: 50%;	}
			&.centerArrow,
			&.rightArrow {	left: 50%;	}

			&.centerArrow {	transform: translateX(-50%);	}
		}

		&.above {
			bottom: ~"calc(100% + " @sand-tooltip-offset ~")";

			&.leftArrow {	right: 50%;	}
			&.centerArrow,
			&.rightArrow {	left: 50%;	}

			&.centerArrow {	transform: translateX(-50%);	}
		}

		&.left {
			right: ~"calc(100% + " @sand-tooltip-offset ~")";

			&.topArrow {	bottom: 50%;	}
			&.middleArrow,
			&.bottomArrow {	top: 50%;	}

			&.middleArrow {	transform: translateY(-50%);	}
		}

		&.right {
			left: ~"calc(100% + " @sand-tooltip-offset ~")";

			&.topArrow {	bottom: 50%;	}
			&.middleArrow,
			&.bottomArrow {	top: 50%;	}

			&.middleArrow {	transform: translateY(-50%);	}
		}
	}

	:global(.enact-locale-right-to-left) & {
		direction: ltr;

		.tooltipAnchor {
			direction: rtl;
		}
	}

	// Skin colors
	.applySkins({
		filter: drop-shadow(@sand-tooltip-shadow);

		&.transparent {
			filter: none;
			.tooltipLabel {
				color: #fff;
				background-color: transparent;
			}
		}

		// Drawing the arc/arrow shape using the mixin from above
		&.below {
			&.leftArrow {
				.tooltipArrow {	.tail(left; top);	}
			}
			&.centerArrow {
				.tooltipArrow {	.centerTail(right; top);	}
				.tooltipArrow::after {	.centerTail(left; top);	}
			}
			&.rightArrow {
				.tooltipArrow {	.tail(right; top);	}
			}
		}

		&.above {
			&.leftArrow {
				.tooltipArrow {	.tail(left; bottom);	}
			}
			&.centerArrow {
				.tooltipArrow {	.centerTail(right; bottom);	}
				.tooltipArrow::after {	.centerTail(left; bottom);	}
			}
			&.rightArrow {
				.tooltipArrow {	.tail(right; bottom);	}
			}
		}

		&.left {
			&.topArrow {
				.tooltipArrow {	.tail(top; right);	}
			}
			&.middleArrow {
				.tooltipArrow {	.centerTail(right; bottom);	}
				.tooltipArrow::after {	.centerTail(right; top);	}
			}
			&.bottomArrow {
				.tooltipArrow {	.tail(bottom; right);	}
			}
		}

		&.right {
			&.topArrow {
				.tooltipArrow {	.tail(top; left);	}
			}
			&.middleArrow {
				.tooltipArrow {	.centerTail(left; bottom);	}
				.tooltipArrow::after {	.centerTail(left; top);	}
			}
			&.bottomArrow {
				.tooltipArrow {	.tail(bottom; left);	}
			}
		}

		.tooltipLabel {
			color: @sand-tooltip-text-color;
			background-color: @sand-tooltip-bg-color;
		}
	});
}
