// EditableIntegerPicker.module.less
//
@import '../styles/mixins.less';
@import '../styles/skin.less';
@import '../styles/variables.less';

.editableIntegerPicker {
	vertical-align: middle;
	padding: @sand-editable-integer-picker-border-size;

	.input {
		width: 100%;
		text-align: center;
		border-style: none;
		border-width: 0;
		font-family: inherit;
		font-size: inherit;
		box-sizing: border-box;
	}

	// Skin colors
	.applySkins({
		&.editMode {
			background-color: @sand-editable-integer-picker-input-bg-color;
			color: @sand-editable-integer-picker-input-text-color;
			box-shadow: @sand-editable-integer-picker-shadow;
		}

		.input {
			background-color: transparent;
			color: @sand-editable-integer-picker-input-color;
		}

	});
}
