// TileItem.module.less
//
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

.tileItem {
	position: relative;
	box-sizing: border-box;

	&.bordered {
		border-width: @sand-tileitem-border-width;
		border-style: @sand-tileitem-border-style;
		border-radius: @sand-tileitem-border-radius;
	}

	.image {
		display: block;
		margin: 0;
	}

	.label {
	}

	// Skin colors
	.applySkins({
		.bordered {
			border-color: @sand-tileitem-border-color;
		}

		.label {
		}

		.focus({
			.disabled ({
				.vendor-opacity(@sand-disabled-opacity);
			});
		});
	});
}
