// TileItem.module.less
//
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

.tileItem {
	position: relative;
	box-sizing: border-box;
	background-size: contain;
	border-radius: @sand-tileitem-border-radius;
	font-weight: @sand-tileitem-font-weight;

	&.bordered {
		border-width: @sand-tileitem-border-width;
		border-style: @sand-tileitem-border-style;
	}

	.icon {
		margin: @sand-tileitem-icon-margin;
	}

	.image {
		display: block;
		margin: 0;
	}

	.label {
		font-size: @sand-tileitem-label-font-size;
		line-height: @sand-tileitem-label-line-height;
	}

	// Skin colors
	.applySkins({
		.bordered {
			border-color: @sand-tileitem-border-color;
		}

		.label {
			color: @sand-tileitem-label-color;
		}

		.focus({
			.disabled ({
				.vendor-opacity(@sand-disabled-opacity);
			});
		});
	});
}
