// TileItem.module.less
//
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

.tileItem {
	position: relative;

	transition: transform 200ms ease-in-out;
	will-change: transform;

	.content {
		box-sizing: border-box;
		background-size: contain;
		border-radius: @sand-tileitem-border-radius;
		font-weight: @sand-tileitem-font-weight;
	}

	&.bordered .content {
		border-width: @sand-tileitem-border-width;
		border-style: @sand-tileitem-border-style;
	}

	.icon {
		margin: @sand-tileitem-icon-margin;
	}

	.image {
		display: block;
		margin: 0;
	}

	.labelContainer {
		width: 100%;
	}

	.label {
		font-size: @sand-tileitem-label-font-size;
		line-height: @sand-tileitem-label-line-height;
		padding: @sand-tileitem-label-padding;
	}

	.title {
		font-size: @sand-tileitem-title-font-size;
		line-height: @sand-tileitem-title-line-height;
		margin: @sand-tileitem-title-margin;
	}

	&.labelOnFocus {
		.label, .labelContainer {
			display: none;
		}
	}

	.focus({
		transform: @sand-tileitem-focus-transform;

		&.labelOnFocus {
			.label, .labelContainer {
				display: block;
			}

			.icon {
				margin: @sand-tileitem-icon-label-on-focus-margin;
			}
		}
	});

	// Skin colors
	.applySkins({
		&.bordered {
			border-color: @sand-tileitem-border-color;
		}

		.label {
			color: @sand-tileitem-label-color;
		}

		.focus({
			.disabled ({
				.vendor-opacity(@sand-disabled-opacity);
			});
		});
	});
}
