// BodyText.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";

.bodyText {
	.sand-body-text();
	margin: @sand-bodytext-margin;
	padding: @sand-bodytext-padding;
	white-space: normal;

	&.large { /* Needed to prevent global class being added in the DOM */ }

	&.small {
		font-size: @sand-body-small-font-size;

		.sand-locale-non-latin({
			font-size: @sand-non-latin-body-small-font-size;
		});
	}

	:global(.enact-locale-right-to-left) & {
		text-align: right;

		&.centered {
			text-align: center;
		}
	}

	&.noWrap {
		/* Support for single-line, provided for extensibility */
		white-space: nowrap;
	}

	.locale-japanese-line-break();
}
