// FormCheckbox.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

// Internally theme our implementation using published classes from ToggleIcon
.toggleIcon {
	width: @sand-formcheckbox-size;
	height: @sand-formcheckbox-size;
	border-radius: @sand-formcheckbox-border-radius;

	.icon {
		width: @sand-formcheckbox-size;
		height: @sand-formcheckbox-size;
		line-height: @sand-formcheckbox-size;
		font-size: @sand-formcheckbox-check-icon-size;
		margin: 0;
		visibility: hidden;
	}

	&.selected {
		.icon {
			visibility: visible;
		}
	}

	.sand-custom-text({
		.icon {
			width: @sand-formcheckbox-size;
			height: @sand-formcheckbox-size;
			line-height: @sand-formcheckbox-size;
			font-size: @sand-formcheckbox-check-icon-size;
		}
	});

	// Skin colors
	.applySkins({
		box-shadow: inset 0 0 0 @sand-formcheckbox-border-size @sand-formcheckbox-border-color;
		background-color: @sand-formcheckbox-bg-color;

		.icon {
			color: @sand-formcheckbox-text-color;
		}
	});
}

.focus({
	.toggleIcon {
		// Skin colors
		.applySkins({
			box-shadow: none;
			background-color: @sand-formcheckbox-focus-bg-color;

			.icon {
				color: @sand-formcheckbox-focus-text-color;
			}

			.disabled({
				.icon {
					opacity: @sand-disabled-opacity;
				}
			});
		});
	}
}, parent);

.muted({
	.focus({
		.toggleIcon {
			.applySkins({
				&:not([disabled]) {
					box-shadow: inset 0 0 0 @sand-formcheckbox-border-size @sand-formcheckbox-border-color;
					background-color: @sand-formcheckbox-bg-color;

					.icon {
						color: @sand-formcheckbox-text-color;
					}
				}
			});
		}
	}, parent);
}, parent);
