// FormCheckbox.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";


.formCheckbox {
	.sand-custom-text({
		.checkbox {
			width: @sand-formcheckbox-size;
			height: @sand-formcheckbox-size;
			line-height: @sand-formcheckbox-size;
			font-size: @sand-formcheckbox-check-icon-size;
		}
	});

	.spottable({
		&::after {
			content: "";
			position: absolute;
			.position(@sand-formcheckbox-spottable-position);
			border-radius: @sand-formcheckbox-spottable-border-radius;
			z-index: -1;
			.sand-spotlight-resting();
		}
	});

	.focus({
		&::after {
			.sand-spotlight-focus();
		}
	});

	// Skin colors
	.applySkins({
		.spottable({
			&::after {
				background-color: @sand-switch-container-focus-bg-color;
				filter: drop-shadow(@sand-formcheckboxitem-resting-shadow);
			}
		});

		.focus({
			&::after {
				background-color: @sand-switch-container-focus-bg-color;
				filter: drop-shadow(@sand-formcheckboxitem-focus-shadow);
			}
		});
	});
}

.focus({
	.formCheckbox {
		&::after {
			opacity: 1;
		}

		.applySkins({
			&::after {
				filter: drop-shadow(@sand-formcheckboxitem-focus-shadow);
			}
		});
	}
}, parent);
