// FormCheckbox.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

// This component is deprecated, and so are these LESS variables it uses:
@sand-formcheckbox-check-icon-size-large: 144px;
@sand-formcheckbox-border-size: 4px;
@sand-formcheckbox-border-radius: 1920px; // Generic, sufficiently large value that converts to a nice amount of rem

// Internally theme our implementation using published classes from ToggleIcon
.toggleIcon {
	width: @sand-formcheckbox-size;
	height: @sand-formcheckbox-size;
	border-radius: @sand-formcheckbox-border-radius;

	.icon {
		width: @sand-formcheckbox-size;
		height: @sand-formcheckbox-size;
		line-height: @sand-formcheckbox-size;
		font-size: @sand-formcheckbox-check-icon-size;
		margin: 0;
		visibility: hidden;
	}

	&.selected {
		.icon {
			visibility: visible;
		}
	}

	.sand-custom-text({
		.icon {
			width: @sand-formcheckbox-size;
			height: @sand-formcheckbox-size;
			line-height: @sand-formcheckbox-size;
			font-size: @sand-formcheckbox-check-icon-size;
		}
	});

	// Skin colors
	.applySkins({
		// This component is deprecated, and so are these LESS variables it uses:
		@sand-formcheckbox-bg-color: fade(@sand-white, 22%);
		@sand-formcheckbox-text-color: @sand-white;
		@sand-formcheckbox-border-color: fade(@sand-white, 15%);


		box-shadow: inset 0 0 0 @sand-formcheckbox-border-size @sand-formcheckbox-border-color;
		background-color: @sand-formcheckbox-bg-color;

		.icon {
			color: @sand-formcheckbox-text-color;
		}
	});
}

.focus({
	.toggleIcon {
		// Skin colors
		.applySkins({
			// This component is deprecated, and so are these LESS variables it uses:
			@sand-formcheckbox-focus-bg-color: @sand-spotlight-color;
			@sand-formcheckbox-focus-text-color: @sand-spotlight-text-color;

			box-shadow: none;
			background-color: @sand-formcheckbox-focus-bg-color;

			.icon {
				color: @sand-formcheckbox-focus-text-color;
			}

			.disabled({
				.icon {
					opacity: @sand-disabled-opacity;
				}
			});
		});
	}
}, parent);

.muted({
	.focus({
		.toggleIcon {
			.applySkins({
				// This component is deprecated, and so are these LESS variables it uses:
				@sand-formcheckbox-bg-color: fade(@sand-white, 22%);
				@sand-formcheckbox-text-color: @sand-white;
				@sand-formcheckbox-border-color: fade(@sand-white, 15%);

				&:not([disabled]) {
					box-shadow: inset 0 0 0 @sand-formcheckbox-border-size @sand-formcheckbox-border-color;
					background-color: @sand-formcheckbox-bg-color;

					.icon {
						color: @sand-formcheckbox-text-color;
					}
				}
			});
		}
	}, parent);
}, parent);
