// Alert.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.alert {
	position: relative;
	height: fill-available;
	height: -webkit-fill-available;

	.title {
		.sand-alert-title();
		text-align: center;
		margin-top: @sand-alert-title-margin-top;
	}

	.titleBelow {
		.sand-alert-title-below();
		text-align: center;
		margin-top: @sand-alert-title-below-margin-top;
	}

	.buttons {
		box-sizing: border-box;
		width: @sand-alert-buttons-width;
		margin-top: @sand-alert-buttons-small-margin-top;
		& > * {
			min-width: 100%;
			width: 100%;
			margin: 60px 0 0 0;
		}
	}

	&.noImage {
		.buttons {
			margin-top: @sand-alert-buttons-margin-top;
		}
	}

	// Skin colors
	.applySkins({
		background: @sand-alert-bg-color 0% 0% no-repeat padding-box;

		.titleBelow {
			color: @sand-alert-title-below-color;
		}
	});
}
