// Alert.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.alert {
	.title {
		.sand-alert-title();
		margin-top: @sand-alert-title-margin-top;
	}

	.titleBelow {
		.sand-alert-title-below();
		margin-top: @sand-alert-title-below-margin-top;
	}

	&.fullscreen {
		.alertImage {
			align-self: center;
		}

		.innerContainer {
			height: fit-content;
		}

		&.noImage, &.maxButtons {
			.buttonContainer {
				margin-top: @sand-alert-max-buttons-margin-top;
			}
		}

		.buttonContainer {
			margin-top: @sand-alert-buttons-margin-top;
			height: fit-content;

			.button > * {
				margin: 0;
				width: @sand-alert-buttons-width;
			}

			.button:not(:last-child) {
				margin-bottom: @sand-alert-overlay-fullscreen-button-margin;
			}
		}
	}

	&.overlay {
		.alertImage {
			align-self: baseline;
		}

		.buttonContainer {
			box-sizing: border-box;
			width: @sand-alert-overlay-buttons-width;

			.button > * {
				margin: 0;
				min-width: @sand-alert-overlay-buttons-width;
			}

			.button:not(:last-child) {
				margin-bottom: @sand-alert-overlay-button-margin;
			}
		}

		.content {
			width: @sand-alert-overlay-content-width;
			margin-right: @sand-alert-overlay-content-margin-right;
			margin-left: @sand-alert-overlay-content-margin-left;

			.sand-alert-overlay-content();

			:global(.enact-locale-ja) &,
			:global(.enact-locale-zh) & {
				overflow-wrap: normal;
				word-break: normal;
			}
		}
	}

	:global(.enact-locale-right-to-left) & {
		&.overlay {
			.content {
				margin-right: @sand-alert-overlay-content-margin-left;
				margin-left: @sand-alert-overlay-content-margin-right;
			}
		}
	}

	// Skin colors
	.applySkins({
		.titleBelow {
			color: @sand-alert-title-below-color;
		}
	});
}

.popup {
	&.overlay {
		width: fit-content;
		top: unset;
		bottom: 0;
		margin-bottom: @sand-alert-overlay-margin-bottom;
		transform: translate3d(-50%, 0, 0);

		.body{
			border-radius: @sand-alert-overlay-border-radius;
			padding: @sand-alert-overlay-padding-top-bottom @sand-alert-overlay-padding-left-right;
		}
	}

	.applySkins({
		&.overlay {
			background-color: @sand-alert-overlay-bg-color;
			color: @sand-alert-overlay-text-color;
		}

		background-color: @sand-alert-bg-color;
	});
}
