@import '../styles/skin.less';

.alertImage {
	margin: 0;

	&.thumbnail {
		width: 450px;
		height: 252px;
	}

	&.icon {
		width: 240px;
		height: 240px;
		border-radius: 12px;
	}

	.applySkins({
		// Skin colors
	});
}
