// AlertOverlay.module.less
//
@import '../styles/variables.less';
@import '../styles/mixins.less';
@import '../styles/skin.less';

.alertOverlay {
	position: relative;
	left: 50%;
	width: fit-content;
	border-radius: @sand-alert-overlay-border-radius;
	margin-bottom: @sand-alert-overlay-margin-bottom;
	transform: translate3d(-50%, 0, 0);
	padding: @sand-alert-overlay-padding-top-bottom @sand-alert-overlay-padding-left-right;

	.body {
		width: fit-content;
		margin: 0;
	}

	.alertOverlayBody {
		margin: @sand-alert-overlay-body-margin;
		.sand-alert-overlay-content();

		:global(.enact-locale-ja) &,
		:global(.enact-locale-zh) & {
			overflow-wrap: normal;
			word-break: normal;
		}
	}

	.image {
		align-self: baseline;
		margin-right: @sand-alert-overlay-image-margin;
	}

	.content {
		width: @sand-alert-overlay-content-width;
		align-self: center;
	}

	.buttons {
		box-sizing: border-box;
		width: @sand-alert-overlay-buttons-width;
		margin-left: @sand-alert-overlay-buttons-margin;

		& > * {
			width: 100%;
			margin: 15px 0;
		}
	}

	:global(.enact-locale-right-to-left) & {
		right: 50%;
		transform: translate3d(50%, 0%, 0);

		.image {
			margin-left: @sand-alert-overlay-image-margin;
			margin-right: auto;
		}

		.buttons {
			margin-right: @sand-alert-overlay-buttons-margin;
			margin-left: auto;
		}
	}

	// Skin colors
	.applySkins({
		background: @sand-alert-overlay-background-color 0% 0% no-repeat padding-box;
		box-shadow: 0 40px 24px @sand-alert-overlay-box-shadow-color;
		color: @sand-alert-overlay-text-color;
	});
}
