@import '../styles/skin.less';
@import '../styles/variables.less';

.alertImage {
	margin: 0;

	&.thumbnail {
		width: @sand-alert-image-thumbnail-width;
		height: @sand-alert-image-thumbnail-height;
	}

	&.icon {
		width: @sand-alert-image-icon-size;
		height: @sand-alert-image-icon-size;
		border-radius: @sand-alert-image-icon-border-radius;
	}

	.applySkins({
		// Skin colors
	});
}
