@use "./colors";

// colors-highcontrast.scss (neutral skin + high-contrast variant)
//

@mixin applyColorsHighContrast {
	// ---------------------------------------
	// Universal Color Definitions
	// ---------------------------------------

	// UI Conceptual Colors
	// ---------------------------------------

	--sand-overlay-bg-color-rgb-base: 0, 0, 0;
	--sand-overlay-bg-color-rgb: rgb(var(--sand-overlay-bg-color-rgb-base));
	--sand-overlay-outline-color: #7c848b;
	--sand-overlay-outline-style: solid;

	// ---------------------------------------
	// Component Colors
	// ---------------------------------------

	// Alert
	// ---------------------------------------
	--sand-fullscreen-bg-color: #000000; // different from neutral

	// KeyGuide
	// ---------------------------------------
	--sand-keyguide-bg-color-rgb: rgb(55, 58, 65); // no alpha

	// Popup
	// ---------------------------------------
	--sand-popup-bg-color-rgb: 0, 0, 0;

	// PopupTabLayout
	// ---------------------------------------
	--sand-popup-scrimtransparent-bg-color: var(--sand-overlay-bg-color-rgb-base);
}
