// colors-light.scss (light skin)
//
@use "colors";

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------


// UI Conceptual Colors
// ---------------------------------------

@mixin applyColorsLight {
	// common colors
	--sand-bg-color: #cacbcc;
	--sand-text-color-rgb-base: 46, 50, 57; // #2e3239
	--sand-text-color-rgb: rgb(var(--sand-text-color-rgb-base)); // #2e3239
	--sand-text-sub-color: #2e3239;
	--sand-focus-text-color: #575e66;
	--sand-disabled-selected-color: #ffffff;
	--sand-disabled-selected-bg-color: #788688;
	--sand-disabled-selected-focus-color: #e6e6e6;
	--sand-disabled-selected-focus-bg-color: #4c5059;
	--sand-overlay-bg-color-rgb-base: 187, 187, 187; // #bbbbbb
	--sand-overlay-bg-color-rgb: rgb(var(--sand-overlay-bg-color-rgb-base)); // #bbbbbb
	--sand-popup-bg-color-rgb: 187, 187, 187, 0.9;
	--sand-popup-scrimtransparent-bg-color: 187, 187, 187, 0.95;
	--sand-progress-color-rgb-base: 55, 58, 65; // #373a41
	--sand-progress-color-rgb: rgb(var(--sand-progress-color-rgb-base)); // #373a41
	--sand-progress-bg-color-rgb-base: 161, 161, 161; // #a1a1a1
	--sand-progress-bg-color-rgb: rgb(var(--sand-progress-bg-color-rgb-base)); // #a1a1a1
	--sand-progress-bg-color-alpha: 40%;
	--sand-progress-highlighted-color: #000000;

	// component colors
	--sand-checkbox-color: #858b92;
	--sand-item-disabled-focus-bg-color: #989ca2;
	--sand-keyguide-bg-color-rgb: rgba(187, 187, 187, 90%);

	// Overlay Alert
	// --------------------------------------

	// FixedPopupPanles
	// ---------------------------------------
	--sand-fixed-popup-panles-bg-color-rgb: 187, 187, 187, 90%;
	--sand-fixed-popup-panles-scrimtransparent-bg-color-rgb: 187, 187, 187, 95%;

	// common colors
	--sand-alert-overlay-bg-color-rgb: 0, 0, 0;
	--sand-alert-overlay-text-color-rgb: rgb(230, 230, 230);
	--sand-alert-overlay-text-sub-color: #abaeb3;
	--sand-alert-overlay-focus-text-color: #ffffff;

	// component colors
	--sand-alert-overlay-progress-color-rgb-base: 230, 230, 230;
	--sand-alert-overlay-progress-color-rgb: rgb(var(--sand-alert-overlay-progress-color-rgb-base));
	--sand-alert-overlay-progress-bg-color-rgb-base: 55, 58, 65;
	--sand-alert-overlay-progress-bg-color-rgb: rgb(var(--sand-alert-overlay-progress-bg-color-rgb-base));
	--sand-alert-overlay-progress-bg-color-alpha: 100%;
	--sand-alert-overlay-checkbox-color: #e6e6e6;
	--sand-alert-overlay-checkbox-disabled-selected-text-color: #4c5059;
	--sand-alert-overlay-item-disabled-focus-bg-color: #e6e6e6;
}
