// colors-game-green.less (game skin)
// (green)

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------

// colors
@sand-game-skin-color-01: #00ffc2;
@sand-game-skin-color-02: #45c194;

@sand-game-skin-heading-border-color: #3e6354;
@sand-game-skin-item-focus-bg-gradient-1: fade(#00ffbc, 0%);
@sand-game-skin-item-focus-bg-gradient-2: fade(#00ffc2, 47%);


// UI Conceptual Colors
// ---------------------------------------

// common colors

@sand-component-bg-color: var(--sand-component-bg-color, #1F2C24);
@sand-focus-bg-color: var(--sand-focus-bg-color, #3ea07d);
