// colors-game-orange.less (game skin)
// (orange)

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------

// colors
@sand-game-skin-color-01: #eb5e00;
@sand-game-skin-color-02: #d75431;

@sand-game-skin-heading-border-color: #ea5e00;
@sand-game-skin-item-focus-bg-gradient-1: fade(#562907, 0%);
@sand-game-skin-item-focus-bg-gradient-2: #a85c37;


// UI Conceptual Colors
// ---------------------------------------

// common colors

@sand-component-bg-color: var(--sand-component-bg-color, #422923);
@sand-focus-bg-color: var(--sand-focus-bg-color, #b85f23);
