// colors-game-green.less (game skin)
// (green)

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------

@mixin applyColorsGameGreen {
  // colors
  --sand-game-skin-color-01: #00ffc2;
  --sand-game-skin-color-02: #45c194;

  --sand-game-skin-heading-border-color: #3e6354;
  --sand-game-skin-item-focus-bg-gradient-1: fade-out(#00ffbc, 0);
  --sand-game-skin-item-focus-bg-gradient-2: fade-out(#00ffc2, 0.53);


  // UI Conceptual Colors
  // ---------------------------------------

  // common colors

  --sand-component-bg-color: #1F2C24;
  --sand-focus-bg-color: #3ea07d;
}


