// colors-highcontast.less (neutral skin + high-contrast variant)
//

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------

// UI Conceptual Colors
// ---------------------------------------
@sand-bg-color:      @sand-black;


// ---------------------------------------
// Component Colors
// ---------------------------------------

// Alert
// ---------------------------------------
@sand-alert-overlay-bg-color: @sand-alert-bg-color;

// ContextualPopup
// ---------------------------------------
@sand-contextualpopup-bg-color: #575e66;

// KeyGuide
// ---------------------------------------
@sand-keyguide-bg-color: #373A41;

// Popup
// ---------------------------------------
@sand-popup-bg-color: #575e66;
