// color-animationoff.less (neutral skin + animation-off variant)
//

// Remove shadow
// ---------------------------------------
@sand-overlay-text-shadow: none;
@sand-overlay-bg-shadow: none;
@sand-spotlight-shadow-color: none;
@sand-spotlight-resting-shadow: none;
@sand-spotlight-focus-shadow: none;
@sand-alert-overlay-shadow: none;
@sand-contextualpopup-shadow: none;
@sand-fixedpopuppanels-shadow: none;
@sand-flexiblepopuppanels-panel-shadow: none;
@sand-imageitem-focus-bg-shadow: none;
@sand-mediaplayer-slider-tooltip-text-shadow: none;
@sand-popuptablayout-shadow: none;
@sand-scrollbar-thumb-focus-box-shadow-color: none;
@sand-slider-focus-knob-shadow: none;
@sand-spinner-text-shadow-color: none;
@sand-tooltip-shadow: none;
@sand-video-player-title-text-shadow: none;
