// colors-highcontast.less (neutral skin + high-contrast variant)
//

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------

// UI Conceptual Colors
// ---------------------------------------
@sand-bg-color:      @sand-black;
@sand-highcontrast-overlay-bg-color: @sand-overlay-bg-color;


// ---------------------------------------
// Component Colors
// ---------------------------------------

// Alert
// ---------------------------------------
@sand-alert-overlay-bg-color: @sand-alert-bg-color;

// ContextualPopup
// ---------------------------------------
@sand-contextualpopup-bg-color: @sand-highcontrast-overlay-bg-color;

// Input
// ---------------------------------------
@sand-input-fullscreen-background-color: @sand-highcontrast-overlay-bg-color;

// KeyGuide
// ---------------------------------------
@sand-keyguide-bg-color: #373A41;

// Popup
// ---------------------------------------
@sand-popup-bg-color: @sand-highcontrast-overlay-bg-color;
@sand-popup-scrimtransparent-bg-color: @sand-popup-bg-color;
