// colors-highcontast.less (neutral skin + high-contrast variant)
//

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------


// ---------------------------------------
// Component Colors
// ---------------------------------------

// Alert
// ---------------------------------------
@sand-alert-overlay-bg-color: @sand-alert-bg-color;

// Input
// ---------------------------------------
@sand-input-fullscreen-background-color: rgb(@sand-overlay-bg-color-rgb);

// KeyGuide
// ---------------------------------------
@sand-keyguide-bg-color: rgb(@sand-keyguide-bg-color-rgb);

// Popup
// ---------------------------------------
@sand-popup-bg-color: rgb(@sand-overlay-bg-color-rgb);
@sand-popup-scrimtransparent-bg-color: rgb(@sand-overlay-bg-color-rgb);
