// colors-light.less (light skin)
//

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------
@sand-darker-gray: #3e454d;
@sand-gray: #cacbcc;
@sand-black: #2e3239;


// UI Conceptual Colors
// ---------------------------------------
@sand-bg-color:      @sand-gray;
@sand-text-color:    @sand-black;
@sand-border-color:  @sand-black;


// ---------------------------------------
// Component Colors
// ---------------------------------------

// Alert
// ---------------------------------------
@sand-alert-bg-color: @sand-bg-color;
@sand-alert-overlay-bg-color: fade(@sand-alert-bg-color, 95%);

// Checkbox
// ---------------------------------------
@sand-checkbox-border-color: #858b92;
@sand-checkbox-indeterminate-color: #858b92;
@sand-checkbox-indeterminate-focus-color: #4c5059;

// FormCheckboxItem
// ---------------------------------------
@sand-formcheckboxitem-focus-text-color: #575e66;

// Heading
// ---------------------------------------
@sand-heading-subtitle-text-color: @sand-text-color;

// ProgressBar
// ---------------------------------------
@sand-progressbar-bar-bg-color: #a1a1a1;
@sand-progressbar-load-bg-color: fade(#373a41, 30%);
@sand-progressbar-fill-bg-color: #373a41;
