// utils.scss
// utility functions
@use "sass:math";

// Function that converts HEX color to RGBA color
@function hex-to-rgb-values($hex) {
	$red: red($hex);
	$green: green($hex);
	$blue: blue($hex);

	@return $red, $green, $blue;
}

// Function to check if a value is a number
@function is-number($value) {
	@return type-of($value) == number;
}

// Function to check if a value is in 'em' units
@function is-em($value) {
	@return is-number($value) and unit($value) == "em";
}

// Function to check if a value is in percentage
@function is-percentage($value) {
	@return is-number($value) and unit($value) == "%";
}

// Function to remove the unit of a length
// @param {Number} $number - Number to remove unit from
// @return {Number} - Unitless number
@function strip-unit($number) {
	@if type-of($number) == number and not unitless($number) {
		@return math.div($number, $number * 0 + 1);
	}

	@return $number;
}
