// Alert
// ---------------------------------------
@sand-alert-overlay-border-radius: @sand-popup-border-radius;

// Button
// ---------------------------------------
@sand-button-border-radius: 12px;
@sand-button-bg-border-width: '';
@sand-button-bg-border-style: none;
@sand-button-icononly-border-radius: '';
@sand-button-icononly-bg-border: '';

// ContextualPopup
// ---------------------------------------
@sand-contextualpopup-border-radius: (@sand-button-border-radius * 2);

// Dropdown
// ---------------------------------------
@sand-dropdown-border-radius: @sand-button-border-radius;

// Heading
@sand-heading-font-style: normal;
@sand-heading-padding: 0 0 18px 0;

// HolePunchScrim
// ---------------------------------------
@sand-holepunchscrim-border-radius: @sand-button-border-radius;

// Item
// ---------------------------------------
@sand-item-font-weight: 600;
@sand-item-border-radius: 12px;

// Scroller
// ---------------------------------------
// @sand-scrollbar-track-border-radius:
