// Button
@sand-button-border-radius: 0px;
@sand-button-bg-border: 6px solid;

// Heading
@sand-heading-font-style: italic;
@sand-heading-padding: 18px 48px;

// Item
@sand-item-font-weight: normal;
@sand-item-border-radius: 0;

// Scroller
@sand-scrollbar-track-border-radius: 6px;