// Alert
@sand-alert-overlay-border-radius: 0;

// Button
@sand-button-border-radius: 0;
@sand-button-bg-border-style: solid;

// Heading
@sand-heading-font-style: italic;
@sand-heading-padding: 18px 48px;

// Item
@sand-item-font-weight: normal;
@sand-item-border-radius: 0;

// Scroller
@sand-scrollbar-track-border-radius: 6px;