@use './utils';

// Variables
//

// App
// ---------------------------------------
$sand-app-keepout: 48px;

// Generic/Common/Shared
// ---------------------------------------
$sand-component-spacing: 36px;
$sand-component-spacing-bottom: 30px;
$sand-smallest-tappable-size: 168px;
$sand-translate-center: translate(-50%, -50%);
$sand-common-circular-corners: 9000px; // A value large enough that when applied to any node via border-radius produces a completely round corner

// Locale
// ---------------------------------------
// Cambodian(km), Sinhala(si), Thai(th), Vietnamse(vi)
$locale-tallglyph-languages: km, si, th, vi;

// Spotlight
// ---------------------------------------
$sand-spotlight-font-weight: 600;
$sand-spotlight-outset: 48px;
$sand-spotlight-focus-animation-duration: 200ms;
$sand-spotlight-focus-shadow-height: 36px;

// ---------------------------------------
// Font Rules
// ---------------------------------------

// Font Sizes
// ---------------------------------------
$sand-button-font-size-large:       96px;
$sand-button-font-size:             78px;
$sand-button-small-font-size-large: 72px;
$sand-button-small-font-size:       60px;
$sand-item-font-size:               60px;
$sand-item-font-size-large:         72px;
$sand-item-label-font-size:         48px;
$sand-item-label-font-size-large:   54px;
$sand-item-small-font-size:         60px;
$sand-item-small-label-font-size:   48px;
$sand-keyguide-font-size:           60px;

$sand-non-latin-button-large-font-size: 72px;
$sand-non-latin-button-small-font-size: 54px;

// Other Font Properties
// ---------------------------------------
$sand-font-family: "Sandstone";        // Formerly weight: 700
$sand-font-family-bold: "Sandstone";   // Formerly weight: 900
$sand-alt-font-family: "Sandstone";
$sand-number-font-family: "Sandstone Number";
$sand-non-latin-font-family: "Sandstone";
$sand-non-latin-font-family-light: "Sandstone";  // Formerly weight: Light
$sand-non-latin-font-family-bold: "Sandstone";   // Formerly weight: Bold
$sand-non-latin-font-weight: normal;
$sand-non-latin-font-weight-light: 300;
$sand-non-latin-font-weight-bold: 700;
$sand-spottable-font-weight: 600;
$sand-common-line-height: 1.3em;
$sand-tallglyph-line-height: 1.5em;

// Button
$sand-button-font-family: $sand-alt-font-family;
$sand-button-font-style: normal;
$sand-button-font-weight: $sand-spottable-font-weight;
$sand-button-small-font-family: $sand-button-font-family;
$sand-button-small-font-style: $sand-button-font-style;
$sand-button-small-font-weight: $sand-button-font-weight;
$sand-non-latin-button-font-family: $sand-non-latin-font-family-bold;
$sand-non-latin-button-font-style: $sand-button-font-style;
$sand-non-latin-button-font-weight: $sand-non-latin-font-weight-bold;
$sand-non-latin-button-small-font-style: $sand-button-small-font-style;
$sand-non-latin-button-small-font-weight: $sand-non-latin-font-weight-bold;

// ---------------------------------------
// Component Rules
// ---------------------------------------

// Icon
// ---------------------------------------
$sand-icon-font-family: "Sandstone Icons";
$sand-icon-large-size: 108px;
$sand-icon-other-font-family: "LG Icons";
$sand-icon-medium-size: 90px;
$sand-icon-small-size: 78px;
$sand-icon-size: var(--icon-size, $sand-icon-small-size);
$sand-icon-tiny-size: 60px;
$sand-icon-margin: 24px;
$sand-icon-large-size-large: ($sand-icon-large-size * 1.2);
$sand-icon-small-size-large: ($sand-icon-small-size * 1.2);

// Button
// ---------------------------------------
$sand-button-border-width: 6px;
$sand-button-bg-opacity: 1;
$sand-button-transparent-bg-opacity: 0;
$sand-button-transparent-selected-bg-opacity: 1;
$sand-button-margin: 0 $sand-component-spacing;
$sand-button-focusexpand-margin: 6px utils.get-right-value($sand-button-margin); // 6px provides enough space for the expanded focus state
$sand-button-h-padding: 60px;
$sand-button-with-icon-h-padding: $sand-spotlight-outset;
$sand-button-height-large: 192px;
$sand-button-height: 144px;
$sand-button-icon-h-margin: 30px;
$sand-button-icon-margin-end: $sand-button-icon-h-margin;
$sand-button-icon-margin-start: 0;
$sand-button-icon-padding: 0 (($sand-button-height - $sand-icon-large-size) / 2);
$sand-button-icon-position-after-margin-end: $sand-button-icon-margin-start;
$sand-button-icon-position-after-margin-start: $sand-button-icon-margin-end;
$sand-button-icon-position-after-small-margin-end: 0;
$sand-button-icon-small-h-margin: $sand-button-icon-h-margin;
$sand-button-icon-small-margin-end: $sand-button-icon-small-h-margin;
$sand-button-icon-position-after-small-margin-start: $sand-button-icon-small-margin-end;
$sand-button-icon-small-margin-start: 0;
$sand-button-small-height-large: 144px;
$sand-button-small-height: 108px;
$sand-button-icon-small-padding: 0 (($sand-button-small-height - $sand-icon-small-size) / 2);
$sand-button-max-width: 900px;
$sand-button-min-width: 540px; // If this changes, update `overflow` computed value from Alert.js
$sand-button-focusexpand-focus-bg-transform: scale(1.05);
$sand-button-focusexpand-pressed-bg-transform: scale(1.02);
$sand-button-focus-duration: $sand-spotlight-focus-animation-duration;
$sand-button-small-margin: $sand-button-margin;
$sand-button-small-focusexpand-margin: $sand-button-focusexpand-margin;
$sand-button-small-h-padding: 48px;
$sand-button-small-max-width: $sand-button-max-width;
$sand-button-small-min-width: 300px;
$sand-button-small-focusexpand-focus-bg-transform: scale(1.1);
$sand-button-small-focusexpand-pressed-bg-transform: scale(1.04);
$sand-button-colordot-bottom: 18px;
$sand-button-colordot-border-radius: 6px;
$sand-button-colordot-width: 60px;
$sand-button-colordot-height: 12px;
$sand-button-colordot-h-margin: 24px;
$sand-button-colordot-padding-start: ($sand-button-h-padding / 2);
$sand-button-small-colordot-bottom: 12px;
$sand-button-small-colordot-width: 48px;
$sand-button-small-colordot-padding-start: 30px;
$sand-button-icon-only-colordot-width: 66px;
$sand-button-icon-only-colordot-height: 9px;
$sand-button-collapse-duration: 300ms;
$sand-button-collapsable-icon-margin: 0 24px;

// Item
// ---------------------------------------
$sand-item-font-weight: $sand-spottable-font-weight;
$sand-item-line-height: $sand-common-line-height;
$sand-item-height: 156px;
$sand-item-height-large: $sand-item-height;
$sand-item-shadow-height: $sand-spotlight-focus-shadow-height;
$sand-item-small-font-size-large:   72px;
$sand-item-small-font-weight: $sand-item-font-weight;
$sand-item-small-line-height: $sand-common-line-height;
$sand-item-small-label-line-height: $sand-item-small-line-height;
$sand-item-withlabel-height: 240px;
$sand-item-vertical-padding: 6px;
$sand-item-inline-max-width: 480px;
$sand-item-border-radius: 12px;
$sand-item-slotafter-spacing: 54px;
$sand-item-slotbefore-spacing: 54px;
$sand-item-margin: 0 $sand-component-spacing $sand-component-spacing-bottom $sand-component-spacing;
$sand-item-small-height: 126px;
$sand-item-small-height-large: $sand-item-small-height;
$sand-item-small-withlabel-height: 210px;
$sand-tallglyph-item-line-height: $sand-tallglyph-line-height;

// Checkbox
// ---------------------------------------
$sand-checkbox-border-radius: $sand-common-circular-corners;
$sand-checkbox-border-width: 4px;
$sand-checkbox-container-position: calc(($sand-icon-tiny-size - 120px) / 2);  // Container's total dimensions should be `120px` defined in the GUI spec
$sand-checkbox-container-border-radius: $sand-item-border-radius;

// Keyguide
// ---------------------------------------
$sand-keyguide-colordot-height: 12px;
$sand-keyguide-colordot-width: 60px;
$sand-keyguide-colordot-margin: 0 calc(($sand-icon-small-size - $sand-keyguide-colordot-width) / 2); // Keep this centered by adapting its margins
$sand-keyguide-colordot-border-radius: 6px;
$sand-keyguide-icon-margin-right: 48px;
$sand-keyguide-padding: 24px 0;
$sand-keyguide-position-bottom: 120px;
$sand-keyguide-position-right: 150px;
$sand-keyguide-width: 750px;
$sand-keyguide-item-height: 120px;

// Popup
// ---------------------------------------
$sand-popup-padding: 48px 72px;
$sand-popup-border-radius: 24px;
// Remove the margin on the leading edge so we're not wasting some of our transition frames on animating empty space, but also account for the shadow.
$sand-popup-position-top-margin: 150px 120px 78px 120px; // 78px is the amount of space the shadow renders onto, so it's not clipped.
$sand-popup-position-right-margin: 120px 60px 120px $sand-component-spacing;
$sand-popup-position-bottom-margin: 0 120px 150px 120px;
$sand-popup-position-left-margin: 120px $sand-component-spacing 120px 60px;
