// ContextualPopup.module.less
//
@import '../styles/variables.less';
@import '../styles/mixins.less';
@import '../styles/skin.less';

.contextualPopup {
	.sand-body-text();
	position: absolute;

	.container {
		position: absolute;
		min-height: 192px;
		min-width: 192px;
		border-width: @sand-contextual-popup-border-width;
		border-style: solid;
		border-radius: @sand-contextual-popup-border-radius;
		padding: @sand-contextual-popup-padding;
		background-clip: padding-box;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;

		.closeButton {
			position: absolute;
			right: @sand-spotlight-outset;
			top: @sand-spotlight-outset;
			margin: 0;
		}

		&.reserveClose {
			.padding-start-end(@sand-contextual-popup-padding, @sand-icon-button-small-size + @sand-spotlight-outset);
		}
	}

	.sand-custom-text({
		.container {
			&.reserveClose {
				.padding-start-end(@sand-contextual-popup-padding, @sand-icon-button-small-size-large + @sand-spotlight-outset);
			}
		}
	});

	:global(.enact-locale-right-to-left) & {
		.container {
			direction: rtl;

			.closeButton {
				right: auto;
				left: @sand-spotlight-outset;
			}
		}
	}

	.arrow {
		position: absolute;
		height: @sand-contextual-popup-arrow-height;
		width: @sand-contextual-popup-arrow-width;

		// PLAT-84596: Coax the arrow onto a GPU layer to work around a rendering issue in Chromium
		will-change: transform;

		&.up {
			transform: rotate(180deg);
		}
		&.left {
			transform: rotate(90deg);
		}
		&.right {
			transform: rotate(-90deg);
		}
	}

	// Skin colors
	.applySkins({
		filter: drop-shadow(0 24px 32px @sand-contextual-popup-box-shadow-color);

		.container {
			background-color: @sand-contextual-popup-bg-color;
			border-color: @sand-contextual-popup-border-color;
		}

		.arrow {
			.arrowBorder {
				fill: @sand-contextual-popup-border-color;
			}

			.arrowFill {
				fill: @sand-contextual-popup-bg-color;
			}
		}
	});
}
