// ContextualPopup.module.less
//
@import '../styles/variables.less';
@import '../styles/mixins.less';
@import '../styles/skin.less';

.contextualPopup {
	.sand-body-text();
	position: absolute;

	.container {
		position: absolute;
		min-height: 192px;
		min-width: 192px;
		border-radius: @sand-contextualpopup-border-radius;
		padding: @sand-contextualpopup-padding;
		background-clip: padding-box;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
		box-sizing: border-box;

		&.above {
			&.overlap {	margin-top: @sand-contextualpopup-offset-overlap; }
			&.small { margin-top: -@sand-contextualpopup-offset-small; }
			&.none { /* Need one 'none' to prevent global class into the DOM */ }
		}
		&.below {
			&.overlap {	margin-top: -@sand-contextualpopup-offset-overlap; }
			&.small { margin-top: @sand-contextualpopup-offset-small; }
		}
		&.right {
			&.top,
			&.middle,
			&.bottom {
				&.overlap { margin-left: -@sand-contextualpopup-offset-overlap; }
				&.small { margin-left: @sand-contextualpopup-offset-small; }
			}
		}
		&.left  {
			&.top,
			&.middle,
			&.bottom {
				&.overlap { margin-left: @sand-contextualpopup-offset-overlap; }
				&.small { margin-left: -@sand-contextualpopup-offset-small; }
			}
		}

		&.fixedSize {
			overflow: hidden;
		}
	}

	:global(.enact-locale-right-to-left) & {
		.container {
			direction: rtl;
		}
	}

	.arrow {
		position: absolute;
		height: @sand-contextualpopup-arrow-height;
		width: @sand-contextualpopup-arrow-width;

		// PLAT-84596: Coax the arrow onto a GPU layer to work around a rendering issue in Chromium
		will-change: transform;

		&.above {
			transform: rotate(180deg);
		}
		&.left {
			transform: rotate(90deg);
		}
		&.right {
			transform: rotate(-90deg);
		}
	}

	// Skin colors
	.applySkins({
		filter: drop-shadow(0 24px 32px @sand-contextualpopup-box-shadow-color);

		.container {
			background-color: @sand-contextualpopup-bg-color;
			border-color: @sand-contextualpopup-border-color;
		}

		.arrow {
			.arrowFill {
				fill: @sand-contextualpopup-bg-color;
			}
		}
	});
}
