// Steps.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.steps {
	margin: @sand-steps-margin;

	.step {
		margin: @sand-steps-step-margin;

		&.numbers {
			.sand-font-number();
			font-size: @sand-steps-step-number-font-size;
			font-weight: @sand-steps-step-number-font-weight;
		}

		&.highlightCurrentOnly {
			margin: @sand-steps-step-highlight-current-only-margin;

			&.current {
				width: @sand-steps-step-highlight-current-font-size;
				height: @sand-steps-step-highlight-current-font-size;
				font-size: @sand-steps-step-highlight-current-font-size;
				line-height: @sand-steps-step-highlight-current-font-size;
			}

			&.future {
				opacity: @sand-steps-step-highlight-current-only-future-opacity;
			}
		}

		&.past {
			opacity:  @sand-steps-step-past-opacity;
		}

		&.current {
			opacity: @sand-steps-step-current-opacity;
		}

		&.future {
			opacity: @sand-steps-step-future-opacity;
		}
	}
}

.applySkins({
	.step {
		&.highlightCurrentOnly {
			color: @sand-steps-step-highlight-current-only-color;
			&.current {
				color: @sand-steps-step-highlight-current-only-current-color;
			}
		}
	}
});
