// Steps.module.scss
//
@use "../styles/colors";
@use "../styles/mixins";
@use "../styles/skin";
@use "../styles/variables";

.steps {
	margin: variables.$sand-steps-margin;

	.step {
		margin: variables.$sand-steps-step-margin;

		&.numbers {
			@include mixins.sand-font-number();

			& {
				font-size: variables.$sand-steps-step-number-font-size;
				font-weight: variables.$sand-steps-step-number-font-weight;
			}
		}

		&.highlightCurrentOnly {
			font-size: variables.$sand-steps-step-highlight-current-only-font-size;
			margin: variables.$sand-steps-step-highlight-current-only-margin;

			&.current {
				font-size: variables.$sand-steps-step-highlight-current-only-current-font-size;
			}

			&.future {
				opacity:  variables.$sand-steps-step-highlight-current-only-future-opacity;
			}
		}

		&.past {
			opacity:  variables.$sand-steps-step-past-opacity;
		}

		&.current {
			opacity: variables.$sand-steps-step-current-opacity;
		}

		&.future {
			opacity: variables.$sand-steps-step-future-opacity;
		}
	}
}

@include skin.applySkins(true) {
	.step {
		&.highlightCurrentOnly {
			color: colors.$sand-steps-step-highlight-current-only-color;

			&.current {
				color: colors.$sand-steps-step-highlight-current-only-current-color;
			}
		}
	}
}
