// Steps.module.less
//
@import "../styles/mixins.less";
@import '../styles/skin.less';
@import "../styles/variables.less";

.steps {
	margin: @sand-steps-margin;

	.step {
		margin: @sand-steps-step-margin;

		&.numbers {
			.sand-font-number();
			font-size: @sand-steps-step-number-font-size;
			font-weight: @sand-steps-step-number-font-weight;
		}

		&.highlightCurrentOnly {
			&.future {
				opacity: @sand-steps-step-highlight-current-only-future-opacity;
			}
		}

		&.past {
			opacity:  @sand-steps-step-past-opacity;
		}

		&.current {
			opacity: @sand-steps-step-current-opacity;
		}

		&.future {
			opacity: @sand-steps-step-future-opacity;
		}
	}

	.pageIndicator {
		width: @sand-steps-pageindicator-size;
		height: @sand-steps-pageindicator-size;
		margin: @sand-steps-pageindicator-margin;
		border-radius: @sand-steps-pageindicator-border-radius;

		&.current {
			width: @sand-steps-pageindicator-current-size;
			height: @sand-steps-pageindicator-current-size;
			margin: @sand-steps-pageindicator-current-margin;
		}
	}

	.applySkins({
		.pageIndicator {
			background-color: @sand-steps-pageindicator-bg-color;

			&.current {
				background-color: @sand-steps-pageindicator-current-bg-color;
			}
		}
	});
}
