// NumberInputPopup.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.numberInputPopup {
	.previewItem,
	.previewText {
		justify-content: center;
		align-items: center;
		border-radius: @sand-input-popup-border-radius;
	}
	.previewItem {
		display: flex;
	}
	.previewText {
		display: inline-flex;
		overflow: hidden;
		border: solid 2px;
	}

	&.full {
		.popupBody {
			padding: @sand-input-popup-padding;
		}

		.previewArea,
		.keypadArea,
		.buttonArea {
			margin-top: 42px;
		}

		.previewItem {
			width: @sand-input-number-popup-full-preview-item-width;
			height: @sand-input-number-popup-full-preview-item-height;
			font-size: @sand-input-number-popup-full-preview-font-size;
			margin: @sand-input-number-popup-full-preview-item-margin;
		}

		.previewText {
			width: @sand-input-number-popup-full-preview-text-width;
			height: @sand-input-number-popup-full-preview-text-height;
			font-size: @sand-input-number-popup-full-preview-font-size;
		}

		.keypadItem {
			margin: @sand-input-number-popup-full-keypad-item-margin;
		}
	}

	&.overlay {
		.popupBody {
			padding: @sand-input-number-popup-overlay-padding;
		}

		.previewArea {
			margin-top: @sand-input-number-popup-overlay-preview-area-margin-top;
		}

		.previewItem {
			width: @sand-input-number-popup-overlay-preview-item-width;
			height: @sand-input-number-popup-overlay-preview-item-height;
			font-size: @sand-input-number-popup-overlay-preview-item-font-size;
			margin: @sand-input-number-popup-overlay-preview-item-margin;
		}

		.previewText {
			width: @sand-input-number-popup-overlay-preview-text-width;
			height: @sand-input-number-popup-overlay-preview-text-height;
			font-size: @sand-input-number-popup-overlay-preview-text-font-size;
		}

		.keypadArea {
			margin: @sand-input-number-popup-overlay-keypad-area-margin;
			width: ((@sand-component-spacing + @sand-button-height + @sand-component-spacing) * 3);
		}

		.buttonArea {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
	}

	.applySkins({
		.previewItem {
			background-color: @sand-input-number-popup-preview-item-background-color;
		}

		&.overlay {
				background-color: @sand-input-number-popup-overlay-background-color;
		}
	});
}
