// TabbedPanels.module.less
//
@import "../styles/variables.less";

.tabbedPanels {
	.panels {
		margin-top: @sand-tabbedpanels-panels-margin-top;
		margin-left: @sand-tabbedpanels-panels-margin-left;
	}

	.tabs {
		margin-top: @sand-tabbedpanels-tas-margin-top;
		margin-left: @sand-tabbedpanels-tas-margin-left;
	}

	&.minimized {
		.panels {
			margin-left: @sand-tabbedpanels-panels-minimized-margin-left;
		}
	}

	&.reverse {
		flex-direction: row-reverse;

		&.column {
			flex-direction: column-reverse;
		}
	}
}
