.tabbedPanels {
	.panels {
		margin-top: 127px;
		margin-left: 210px;
	}

	.tabs {
		margin-top: 127px;
		margin-left: 150px;
	}

	&.minimized {
		.panels {
			margin-left: 108px;
		}
	}

	&.reverse {
		flex-direction: row-reverse;

		&.column {
			flex-direction: column-reverse;
		}
	}
}
