.cellElement {
  margin-top: 18px;
}

.labelText {
  font-size: 0.8rem;
}

.outputText {
  align-content: center;
  background-color: #eeeeee;
  border-radius: 12px;
  color: #444444;
  display: grid;
  justify-content: end;
  padding-right: 9px;
}

.slider {
  --sand-progress-bg-color-rgb: transparent;
  border-radius: 99px;
  margin-left: 0;
}
