@import '../styles/mixins.less';

.colorPicker {
	height: 800px;
	width: 800px;
}

.content {
	margin-inline: auto;
}

.presetColorsRow {
	text-align: end;

	.currentColor {
		border: 2px solid rgba(204, 204, 204, 0.9);
		border-radius: 24px;
		height: 240px;
		width: 93%;
	}

	.presetColor {
		border: 2px solid rgba(204, 204, 204, 0.9);
		border-radius: 50%;
		transition: transform .2s;

		.focus({
			box-shadow: 0 0 0 18px rgba(204, 204, 204, 0.6) inset;
			transform: scale(1.1);
		});
	}
}