.cellElement {
  margin-top: 21px;
}

.labelText {
  font-size: 42px;
}

.outputText {
  align-content: center;
  background-color: #eeeeee;
  border-radius: 12px;
  color: #444444;
  display: grid;
  justify-content: end;
  padding-right: 24px;
}

.slider {
  --sand-focus-bg-color-rgb: transparent;
  --sand-progress-bg-color-rgb: transparent;
  --sand-progress-slider-color: transparent;
  border-radius: 99px;
  height: 42px;
  margin-left: 0;
}

.sliderContainer {
  height: 640px;
  width: 900px;
}
