@import "../styles/mixins.less";

.switchCell {
	margin-top: -63px;
	padding: 0 30px;
}

.labelText {
	font-size: 42px;
	margin: 9px 0;
}

.outputText {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eeeeee;
	border-radius: 12px;
	margin-left: 30px;
}

.slider {
	--sand-progress-bg-color-rgb: transparent;
	border-radius: 99px;
	height: 33px;
	margin-left: 18px;
	margin-right: 18px;

	.focus({
		.knob {
			transform: scale(1.1);
		}
	});

	.knob {
		&::before {
			border-radius: 99px;
			height: 102px;
			width: 102px;
		}
	}
}

.sliderCell {
	border-radius: 99px;
}
