.heading {
	margin-bottom: 0
}

.timerPicker {
	transform: scale(0.8);
}

.eventGroup {
	display: flex;
	.pickerItem {
		display: inline-flex;
		align-items: center;
		line-height: 72px;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-bottom: 30px;
	}
	.switchItem {
		max-width: 840px;
		font-size: 48px;
	}
}
