.heading {
	margin-bottom: 0
}

.timerPicker {
	transform: scale(0.8);
}

.eventGroup {
	display: flex;
	.pickerItem {
		display: inline-flex;
		margin-bottom: 30px;
		align-items: center;
		line-height: 72px;
	}
	.switchItem {
		font-size: 48px;
		&.small {
			width: 480px;
		}
		&.large {
			max-width: 840px;
		}
	}
}

@media (max-width: 1284px) {
	.eventGroup {
		flex-direction: row;
		flex-wrap: wrap;
	}
}