// Popup.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.popup {
	height: 100%;

	.bodyContainer {
		// Local variables to make this easier to read
		@popup-padding-top: (@sand-popup-padding-top - @sand-popup-body-margin-top);
		@popup-padding-right: (@sand-popup-padding-right - @sand-popup-body-margin-right);
		@popup-padding-bottom: (@sand-popup-padding-bottom - @sand-popup-body-margin-bottom);
		@popup-padding-left: (@sand-popup-padding-left - @sand-popup-body-margin-left);

		.sand-text-base();
		padding: @popup-padding-top @popup-padding-right @popup-padding-bottom @popup-padding-left;
		.padding-start-end(@popup-padding-left, @popup-padding-right);
		box-sizing: border-box;
		pointer-events: auto;
		border-radius: 24px;

		.body {
			margin: @sand-popup-body-margin-top @sand-popup-body-margin-right @sand-popup-body-margin-bottom @sand-popup-body-margin-left;
			.margin-start-end(@sand-popup-body-margin-left, @sand-popup-body-margin-right);
			.locale-japanese-line-break();
		}

		.closeContainer {
			.margin-start-end(@sand-popup-closecontainer-separation, 0);
		}

		.closeButton {
			margin: 0;
		}

		&.reserveClose {
			.body {
				.margin-start-end(@sand-popup-body-margin-left, 0); // Remove the spacing on the body, since closeContainer handles this.
			}
		}
	}

	&.bottom,
	&.top {
		padding: 150px 120px;

		.bodyContainer {
			width: 100%;
		}
	}

	&.left,
	&.right {
		padding: 120px 60px;

		.bodyContainer {
			height: 100%;
			width: 1140px;
		}
	}

	&.fullscreen {
		padding: 0;

		.bodyContainer {
			height: 100%;
			width: 100%;
			border-radius: 0;
		}
	}

	// Skin colors
	.applySkins({
		.bodyContainer {
			background-color:@sand-popup-bg-color;
		}
	});
}

.popupTransitionContainer {
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;

	.inner {
		height: 100%;
	}
}
