@import '../styles/colors.less';
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

.transitionEffect {
	transition: transform .2s ease-in-out;
	will-change: transform;
}

.gridListImageItem {
	width: 100%;

	.icon {
		width: @sand-gridlist-item-overlay-icon-size;
		height: @sand-gridlist-item-overlay-icon-size;
		line-height: @sand-gridlist-item-overlay-icon-size;
		position: relative;
		display: block;
		border-width: @sand-button-border-width;
		border-style: solid;
		border-radius: 50%;
		margin: 0;
		opacity: 0.5;
	}

	&.selected {
		.icon {
			opacity: 1;
		}
	}

	.caption {
		.sand-text-base(@sand-gridlist-item-caption-font-size);
		padding-top: @sand-gridlist-item-caption-padding-top;
		.transitionEffect;
	}

	.subCaption {
		.sand-text-base(@sand-gridlist-item-subcaption-font-size);
		color: @sand-gridlist-item-subcaption-color;
		padding-top: @sand-gridlist-item-subcaption-padding-top;
		.transitionEffect;
	}

	.image {
		/* Public Class Names */
		.transitionEffect;
	}

	// Skin colors
	.applySkins({
		border-color: transparent;
		color: @sand-gridlist-item-color;

		.icon {
			background-color: @sand-gridlist-item-icon-bg-color;
			border-color: @sand-gridlist-item-icon-border-color;
			color: transparent;
		}

		&.selected {
			border-color: @sand-gridlist-item-selected-border-color;
			background-color: @sand-gridlist-item-selected-bg-color;

			.icon {
				border-color: @sand-gridlist-item-selected-icon-border-color;
				color: @sand-gridlist-item-selected-icon-color;
			}
			.caption,
			.subCaption {
				color: @sand-gridlist-item-selected-color;
			}
		}

		.focus({
			.image {
				transform: scale(1.2);
				filter: drop-shadow(@sand-gridlist-item-focus-bg-shadow);
			}

			.icon {
			}

			.caption,
			.subCaption {
				transform: translateY(20%);
			}

			&.selected {
				.icon {
				}
			}
		});
	});
}

.muted({
	.gridListImageItem {
		// Skin colors
		.applySkins({
			.focus({
				&:not(.selected) {
					border-color: transparent;
					background-color: transparent;

					.caption,
					.subCaption {
						color: @sand-body-text-color;
					}
					.icon {
						color: transparent;
					}
				}
				&.selected {
					.icon {
						border-color: @sand-accent;
						color: @sand-accent;
					}
				}
			});
		});
	}
}, parent);
