@import '../styles/colors.less';
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

.transitionEffect {
	transition: transform .2s ease-in-out;
	will-change: transform;
}

.gridListImageItem {
	width: 100%;

	.overlayComponent {
		display: block;
		height: 100%;
	}

	.icon {
		width: @sand-gridlist-item-overlay-icon-size;
		height: @sand-gridlist-item-overlay-icon-size;
		line-height: @sand-gridlist-item-overlay-icon-size;
		position: relative;
		display: block;
		border-width: @sand-gridlist-item-overlay-icon-border-width;
		border-style: solid;
		border-radius: 50%;
		margin: 30px;
	}

	.image {
		/* Public Class Names */
		.transitionEffect;
	}

	.caption {
		.sand-text-base(@sand-gridlist-item-caption-font-size);
		padding-top: @sand-gridlist-item-caption-padding-top;
		.transitionEffect;
	}

	.subCaption {
		.sand-text-base(@sand-gridlist-item-subcaption-font-size);
		padding-top: @sand-gridlist-item-subcaption-padding-top;
		.transitionEffect;
	}

	&.selected {
		.image {
			border-width: @sand-gridlist-item-overlay-icon-border-width;
			border-style: solid;
		}
	}

	// Skin colors
	.applySkins({
		.icon {
			background-color: transparent;
			border-color: @sand-gridlist-item-icon-color;
			color: transparent;
		}

		.subCaption {
			color: @sand-gridlist-item-subcaption-color;
		}

		&.selected {
			.image {
				border-color: @sand-gridlist-item-selected-border-color;
			}

			.icon {
				color: @sand-gridlist-item-icon-color;
			}
		}

		.focus({
			.image {
				transform: scale(1.2);
				filter: drop-shadow(@sand-gridlist-item-focus-bg-shadow);
			}

			.icon {
				color: transparent;
			}

			.caption,
			.subCaption {
				transform: translateY(20%);
			}

			&.selected {
				.icon {
					color: @sand-gridlist-item-icon-color;
				}
			}
		});
	});
}

.muted({
	.gridListImageItem {
		// Skin colors
		.applySkins({
			.focus({
				&:not(.selected) {
					.icon {
						color: transparent;
					}
				}
				&.selected {
					.icon {
						color: @sand-gridlist-item-icon-color;
					}
				}
			});
		});
	}
}, parent);
